.icon-360 {
   position: fixed;
   z-index: 999;
   right: 200px;
   bottom: 9px;
}

.startup  {
   position: absolute;
   z-index: 100;
   left:  60px;
   top: calc(100vh - 80px);
   transition: top 1s linear;
}

.startup.go-top {
   top: -10px;
}

.line {
   position: fixed;
   z-index: 999;
   right:   80px;
   bottom: 20px;
}
