{% extends 'layout/bat.twig' %}

{% set title = 'Bat' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/bat/main.js"></script>
{% endblock %}

{% block content %}
	<!-- <h1 class="title">Small Bear</h1> -->
{% endblock %}