.logo  {
   text-align: left; 
   margin-top: -100px;
   margin-left: 100px;
   position: inherit;
   left: 0px;
}

.level-item {
    text-align: right;
   margin-top: -115px;
   margin-right: 800px;
   position: inherit;
   right: 0px;

}

.user {
    text-align: left;
   margin-top: -105px;
   margin-left: 1050px;
   position: inherit;
  left: 0px; 
}
.password {
    text-align: left;
   margin-top: -45px;
   margin-left: 1320px;
   position: inherit;
  left: 0px;
}

.button{
   text-align: left;
   margin-top: -45px;
   margin-left: 1600px;
   position: inherit;
  left: 0px

}

.help {
      text-align: left;
   margin-top: -20px;
   margin-left: 160px;
   position: inherit;
  left: 0px
  }

.block {
   opacity: 0.1;
    text-align: left;
   margin-top: -1074px;
   margin-left: 0px;
   position: inherit;
  left: 0px
}