.icon-360 {
   position: fixed;
   z-index: 999;
   right: 200px;
   bottom: 9px;
}

.startup  {
   position: absolute;
   z-index: 999;
   left:  60px;
   bottom: 0;
   top: 700px;
   
}

.line {
   position: fixed;
   z-index: 999;
   right:   80px;
   bottom: 20px;
}


