{% extends 'layout/bigb.twig' %}

{% set title = 'Big Bear' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/bigb/main.js"></script>
{% endblock %}

{% block content %}
	<!-- <h1 class="title">Small Bear</h1> -->
{% endblock %}