{% extends 'layout/base.twig' %}

{% set title = 'Star' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/stars/main.js"></script>
{% endblock %}

{% block content %}
	<h1 class="title">Star</h1>
{% endblock %}