{% extends 'layout/pica.twig' %}

{% set title = 'Pegasus' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/pica/main.js"></script>
{% endblock %}

{% block content %}
	<!-- <h1 class="title">Small Bear</h1> -->
{% endblock %}