{% extends 'layout/base.twig' %}

{% set title = 'Zodiac' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/zodiac/main.js"></script>
{% endblock %}

{% block content %}
	<h1 class="title">Zodiac</h1>
{% endblock %}