{% extends 'layout/zodiac.twig' %}

{% set title = 'zodiac' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/zodiac/main.js"></script>
{% endblock %}

{% block content %}
	<!-- <h1 class="title">Zodiac</h1> -->
{% endblock %}