{% extends 'layout/solars_layouttwig/solars_FullDataVenus.twig' %}

{% set title = 'Solar System' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/solar-system/main.js"></script>
{% endblock %}

{% block content %}
	<h1 class="title">Solar System</h1>
{% endblock %}