{% extends 'layout/load.twig' %}

{% set title = 'Stargazer' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/load/main.js"></script>
{% endblock %}

{% block content %}
	<!-- <h1 class="title">Stargazer</h1> -->
{% endblock %}