{% extends 'layout/signup.twig' %}

{% set title = 'Signup' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/signup/main.js"></script>
{% endblock %}

{% block content %}
  <!-- <h1 class="title">Help</h1> -->
{% endblock %}
