{% extends 'layout/starl.twig' %}

{% set title = 'Starline' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/starline/main.js"></script>
{% endblock %}

{% block content %}
	<!-- <h1 class="title">Starline</h1> -->
{% endblock %}