{% extends 'layout/starg.twig' %}

{% set title = 'Stargroup' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/stargroup/main.js"></script>
{% endblock %}

{% block content %}
	<h1 class="title">Stargroup</h1>
{% endblock %}