
.logo  {
   text-align: left; 
   margin-top: -930px;
   margin-left: 125px;
   position: inherit;
   left: 0px;
}

.search {
    text-align: left;
   margin-top: -80px;
   margin-left: 250px;
   position: inherit;
   left: 0px;

}

.user {
    text-align: left;
   margin-top: -45px;
   margin-left: 750px;
   position: inherit;
  left: 0px; 
}

.password {
    text-align: left;
   margin-top: -45px;
   margin-left: 1020px;
   position: inherit;
  left: 0px;
}

.login {
  font-family: nithan;
  font-size: 30px;
  text-align: right;
   margin-top: -43px;
   margin-right: 300px;
   position: inherit;
  right: 0px;
}

.signin{
  font-family: nithan;
  font-size: 30px;
  text-align: right;
   margin-top: -46px;
   margin-right: 160px;
   position: inherit;
  right: 0px;

}

.help {
width: 50px; 
      text-align: left;
   margin-top: -53px;
   margin-left: 1570px;
   position: inherit;
  left: 0px
  }

.degree{
  opacity: 0.8;
  text-align: left;
  margin-top: -120px;
  margin-left: 1350px;
   position: inherit;
  left: 0px
}

.connect{
  text-align: right;
  margin-right: 100px;
  margin-top: -90px;
  position: inherit;
  right: 0px;
}

  .space {
transform: rotate(333deg) scale(1) skew(1deg) translate(0px);
-webkit-transform: rotate(333deg) scale(1) skew(1deg) translate(0px);
-moz-transform: rotate(333deg) scale(1) skew(1deg) translate(0px);
-o-transform: rotate(333deg) scale(1) skew(1deg) translate(0px);
-ms-transform: rotate(333deg) scale(1) skew(1deg) translate(0px);
    text-align: right;
     margin-top: 720px;
     margin-right: 1500px;
     position: inherit;
    right: 0px
  }




.hamburger {
  position: absolute;
  margin-top: -835px;
  margin-left: 28px;
  z-index: 2;
  cursor: pointer;
  left: 0px;
}

.line {
  width: 50px;
  height: 6px;
  background: #ffffff;
  margin-bottom: 5px;

}

.menu {
  opacity: 0.3;
  width: 320px;
  height: 100%;
  background: #000000;
  position: fixed;
  top: 0;
  left: -320px;
  transition: left .1s;
}

.menu-item:first-child {
  margin-top: 67px;
}

.menu--open {
  left: 0;
}

.menu-item {
  font-family: nithan;
  font-size: 35px;
  margin-left: 100px;
  color: #33FFFF;
  width: -10%;
  padding: 2rem 0rem;
  box-sizing: border-box;
}


.menu-item:hover {
  background: #91966E;
  cursor: pointer;
}




