<!DOCTYPE html>
<html lange = 'en'> <!-- ภาษาที่ใช้ในเว็บเรา -->
	<head>
		<meta charset="UTF-8"> <!-- UTF-8 จะสามารถแสดงภาษาไทยได้ -->
		<title> STARGAZER </title> <!--ชื่อแท็บแสดงบนเว็บ -->
		<link rel="stylesheet" type="text/css" href="home.css">
		<script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
	</head>

	    <head>
	     	<body>
            <main>
		<section class="panorama">
  				<a-scene>
  		<a-assets>
    		<img id="panorama" src="page/image/ICON/bg/7.1.jpg" crossorigin />
    			</a-assets>
  					<a-sky src="#panorama" rotation="0 -360 0"></a-sky>
				</a-scene>
				<div class="icon-360">
				<img src="page/image/ICON/foot/360-degrees.png " align="right" width="90" height="90">
			</div>

				<div class ="startup" id = "rocket" >	
				 <!--<marquee direction ="up" >-->	 
				 <img src ="page/image/ICON/foot/startup.png" align="right" width="80" height="80" > <!--</marquee>-->
				</div>

				<div class="line">
					<img src="page/image/ICON/star/line.png" align="right" width="80" height="80">
				</a>
			</div>
			<script type="text/javascript" src="./home.js"></script>
	    	</body>
		</head>
	       	
</html>