html, body {
	height: 100%;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
}

	@-webkit-keyframes typing { from { width: 0; } }
	@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }



.body h1{
	position: fixed;
	z-index: 999px;
	font-family: supermarket;
	font-size: 100px;
	color: #D5C3E8 ;
	top: 130px;
	left: 370px;

	border-right: 0em solid pink;
    width: 16.5em; 
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(21, end),
    blink-caret .5s step-end infinite alternate;
}

.body h2 {
	position: fixed;
	z-index: 999px;
	font-family: supermarket;
	font-size: 40px;
	color: #EDAC52 ;
	top: 650px;
	left: 560px;

}

.body h3  {
	position: absolute;
	font-size: 45px;
	font-family: nithan;
	top: 100px ;
	right:570px;
	z-index: 999;
}

.enter-button {
	position: absolute;
    padding: 45px 100px !important;
    margin-top: 400px;
    margin-left: 700px;
    background-color: #993333 ;
    border-color: #993333;

}

.easy-button {
	position: absolute;
    padding: 40px 65px !important;
    margin-top: 180px;
    margin-left: 160px;
    background-color: #32691F ;
    border-color: #32691F;
}

.middle-button {
	position: absolute;
    padding: 40px 65px !important;
    margin-top: 180px;
    margin-left: 700px;
    background-color: #E1B753 ;
    border-color: #E1B753;
}

.hard-button {
	position: absolute;
	padding: 40px 65px !important;
    margin-top: 180px;
    margin-left:1300px;
    background-color: #CC653E ;
    border-color: #CC653E;
}

.easy .one {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 320px;
	left: 60px;
	z-index: 999;
}

.easy .two {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 320px;
	left: 280px;
	z-index: 999;
}

.easy .three {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 460px;
	left: 60px;
	z-index: 999;
}

.easy .four {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 460px;
	left: 280px;
	z-index: 999;
}

.easy .five {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 600px;
	left: 160px;
	z-index: 999;
}

.middle .one {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 320px;
	left: 630px;
	z-index: 999;
}


.middle .two {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 320px;
	left: 850px;
	z-index: 999;
}

.middle .three {
	position: absolute;
	width: 200px;
	height: 90px;
	top:  460px;
	left: 630px;
	z-index: 999;
}

.middle .four {
	position: absolute;
	width: 200px;
	height: 90px;
	top:  460px;
	left: 850px;
	z-index: 999;
}

.middle .five {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 600px;
	left: 735px;
	z-index: 999;
}

.hard .one {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 320px;
	left:1200px;
	z-index: 999;
}

.hard .two {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 320px;
	left:1420px;
	z-index: 999;
}

.hard .three {
	position: absolute;
	width: 200px;
	height: 90px;
	top:  460px;
	left: 1200px;
	z-index: 999;
}

.hard .four {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 460px;
	left:1420px;
	z-index: 999;
}

.hard .five {
	position: absolute;
	width: 200px;
	height: 90px;
	top: 600px;
	left:1310px;
	z-index: 999;
}