html, body {
	height: 100%;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
}
.header,
.footer{
	position: fixed;
	width: 100%;
	z-index: 5;
}

.header .navbar{
	top: 0; min-height: 5rem;
	overflow: hidden;
}

.footer {
	bottom: 0;
}

.footer .flag {
	position: fixed;
	bottom: 15px;
	left: 10px;
}
.header .logo {
	position: absolute;
	top: 20px;
	left: 90px;
}
.header .navbar {
	background-color: transparent;
}

.header .navbar .navbar-item{
	position: absolute;
	left: 150px;
	bottom: 5px;
}

.header .navbar-end .sign-in {
	color: white;
	position: absolute;
	left : 1420px;
	bottom: 18px;
}

.header .navbar-end .log-in{
	color: white;
	position: absolute;
	left: 1300px;
	bottom: 18px;
}

.navbar-end .help {
	position: absolute;
	right: 100px;
	top: 25px;
}

.header .navbar a {
	color: inherit;
}

.header .user {
 position: absolute;
 left: 700px;
 bottom: 13px;
}

.header .password {
	position:  absolute;
	bottom: 13px;
	left: 950px;
}

.header .navbar-end .navbar-item{
	position: absolute;
	left: 1000px;
}

.header .navbar .navbar-burger {
	display: block !important;
	background-color: transparent;
	border: none;
}

.header .navbar .navbar-burger span {
	background-color: white;
	height: 4px;
	width:  2rem;
}

.header .navbar .navbar-burger span:nth-child(1) {
	margin-top: -10px;
}

.header .navbar .navbar-burger span:nth-child(3) {
	margin-top: 8px;
}

.header .navbar-menu {
	width: 300px;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	position: relative;
	transition: left 0.1s linear
}

.header .navbar-menu:not(.is-active) {
	left: -400px;
}

.header .navbar-menu .navbar-item {
	color: white;
}

.header .navbar-menu .navbar-item + .navbar-item {
	border-top: 1px solid white;
}

.highlight {
	position: fixed;
	background-image: url(/images/loading01.gif);
}	

.footer {
	background-color: transparent;
	padding:  0px;
	display: flex;
	justify-content: space-between;
}

.footer .startup {
	position: absolute;
	bottom: 0;
	transition: bottom 1s linear;
}

.footer .startup.go-top {
	bottom: 100vh;
}

.footer .degree {
	position: absolute;
	bottom: 0;
	right: 190px;
}

.footer .connect {
	position: absolute;
	bottom: 16px ;
	right: 120px;
}

.footer .teles {
	position: absolute;
	bottom: 10px;
	right: 50px;
}

.bear  {
	position: fixed;
	background-image: url(/images/galaxy1.jpg);
	z-index: 99px;
}

.bear .small {
	position: fixed;
	color: #00ffbf;
	bottom: 600px;
	left: 1000px;
}

.bear .small1 {
	position: fixed;
	color: white;
	bottom: 400px;
	left: 750px;
	font-size: 30px;
}

.bear .small2 {
	position: fixed;
	color: white;
	bottom: 150px;
	left: 750px;
	font-size: 30px;
}

.bear .big  {
	position: fixed;
	color: #00ffbf;
	bottom: 600px;
	left: 1000px;
}

.bear .big1 {
	position: fixed;
	color: white;
	bottom: 400px;
	left: 750px;
	font-size: 30px;
}

.bear .big2 {
	position: fixed;
	color: white;
	bottom: 150px;
	left: 750px;
	font-size: 30px;
}

.bear .bat {
	position: fixed;
	color: #00ffbf;
	bottom: 600px;
	left: 1000px;
}

.bear .bat1 {
	position: fixed;
	color: white;
	bottom: 400px;
	left: 750px;
	font-size: 30px;
}

.bear .bat2 {
	position: fixed;
	color: white;
	bottom: 150px;
	left: 750px;
	font-size: 30px;
}

.bear .naip {
	position: fixed;
	color: #00ffbf;
	bottom: 600px;
	left: 1000px;
}

.bear .naip1 {
	position: fixed;
	color: white;
	bottom: 400px;
	left: 750px;
	font-size: 30px;
}

.bear .naip2 {
	position: fixed;
	color: white;
	bottom: 150px;
	left: 750px;
	font-size: 30px;
}

.bear .nucket {
	position: fixed;
	color: #00ffbf;
	bottom: 600px;
	left: 1000px;
}


.bear .nucket1 {
	position: fixed;
	color: white;
	bottom: 450px;
	left: 750px;
	font-size: 30px;
}

.bear .nucket2 {
	position: fixed;
	color: white;
	bottom: 150px;
	left: 750px;
	font-size: 30px;
}

.bear .pica {
	position: fixed;
	color: #00ffbf;
	bottom: 600px;
	left: 1000px;
}
.bear .pica1 {
	position: fixed;
	color: white;
	bottom: 400px;
	left: 750px;
	font-size: 30px;
}

.bear .pica2 {
	position: fixed;
	color: white;
	bottom: 150px;
	left: 750px;
	font-size: 30px;
}

.bear .bigb {
	position: fixed;
	top:200px;
	left: 40px;
	width: 650px;
	height: 650px;
	z-index: 999;
}

.bear .cass {
	position: fixed;
	top:150px;
	left: 10px;
	width: 650px;
	height: 650px;
	z-index: 999;
}

.bear .orion {
	position: fixed;
	top:50px;
	left: 40px;
	width: 650px;
	height: 400px;
	z-index: 999;
}

.bear .nuc {
	position: fixed;
	top:250px;
	left: 80px;
	width: 600px;
	height: 600px;
	z-index: 999;
}

.bear .peca {
	position: fixed;
	top:200px;
	left: 90px;
	width: 700px;
	height: 600px;
	z-index: 999;
}

.bear .sbear {
	position: fixed;
	top: 30px;
	right: 550px;
	width: 1500px;
	/*height: 800px;*/
	z-index: 999;
}

body {
	position: fixed;
	background-image: url(/images/galaxy1.jpg);
}

.body .smallbear {
	position: fixed;
	top:350px;
	left: 1000px;
	z-index: 999; 
}

.body .smallbear h1 {
	position: fixed;
	color: white ;
	font-size: 30px;
	bottom: 470px;
	left: 1100px;
}

.body .bigbear {
	position: fixed;
	top: 100px;
	left: 1300px;
	z-index:999;
}

.body .bigbear h1 {
	position: fixed;
	color: white ;
	font-size: 30px;
	bottom: 440px;
	left: 1400px;
}

.body .bat {
	position: fixed;
	top: 100px;
	left: 700px;
	z-index:999;
}

.body .bat h1 {
	position: fixed;
	color: white ;
	font-size: 30px;
	bottom: 650px;
	left: 880px;
}

.body .nai-pran {
	position: fixed;
	top: 450px;
	left: 800px;
	z-index:999;
}

.body .nai-pran h1 {
	position: fixed;
	color: white ;
	font-size: 30px;
	bottom: 230px;
	left: 970px;
}

.body .nucket {
	position: fixed;
	top: 400px;
	left: 500px;
	z-index:999;
}

.body .nucket h1 {
	position: fixed;
	color: white ;
	font-size: 30px;
	bottom: 230px;
	left: 520px;
}
.body .pegasus {
	position: fixed;
	top: 250px;
	left: 100px;
	z-index:999;
}

.body .pegasus h1{
	position: fixed;
	color: white ;
	font-size: 30px;
	bottom: 580px;
	left: 190px;
}

.body .text1  h1 {
	position: fixed;
	bottom: 0px;
	left: 600px;
	margin: 0.5em 0;
	font-size: 4em;
  	color: yellow ;
  	text-align: center;
  	text-transform: uppercase;
  	z-index: 999;
}

.body .text1  {
	position: absolute;
	background-image: url(/images/galaxy1.jpg);	
}


.highlight .highlight-item {
	position: fixed;
	bottom: 0;
}

.highlight .highlight-item {
  background: no-repeat center/cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

	@-webkit-keyframes typing { from { width: 0; } }
	@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.text .welcome h1 {
	position: absolute;
	color: white;
	font-size: 100px;
	bottom: 600px;
	left: 300px;

	
    border-right: .1em solid pink;
    width: 16.5em; 
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(21, end),
    blink-caret .5s step-end infinite alternate;
}	

.text .star h1 {
	position: absolute;
	color: gray;
	font-size: 120px;
	bottom: 450px;
	left: 800px;
}	
.text .welcome {
	position: fixed;
	background-image: url(/images/galaxy1.jpg);	
}

.text .click {
	position: fixed;
	font-size: 50px;
	top: 600px;
	left: 700px;
	color: pink;
    width: 16.5em; 
    width: 21ch;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(21, end),
    blink-caret .5s step-end infinite alternate;
}



