html, body {
	height: 100%;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
}
.header,
.footer{
	position: fixed;
	width: 100%;
	z-index: 5;
}

.header .navbar{
	top: 0; min-height: 5rem;
	overflow: hidden;
}

.footer {
	bottom: 0;
}

.header .logo {
	position: absolute;
	top: 20px;
	left: 90px;
}
.header .navbar {
	background-color: transparent;
}

.header .navbar .navbar-item{
	position: absolute;
	left: 200px;
	bottom: 5px;
}

.header .navbar-end .sign-in {
	color: white;
	position: absolute;
	left : 1300px;
	bottom: 18px;

}

.header .navbar-end .log-in{
	color: white;
	position: absolute;
	left: 1420px;
	bottom: 18px;
}

.navbar-end .help {
	position: absolute;
	right: 100px;
	top: 25px;
}

.header .navbar a {
	color: inherit;
}

.header .user {
 position: absolute;
 left: 700px;
 bottom: 13px;
}

.header .password {
	position:  absolute;
	bottom: 13px;
	left: 950px;
}

.header .navbar-end .navbar-item{
	position: absolute;
	left: 1000px;
}

.header .navbar .navbar-burger {
	display: block !important;
	background-color: transparent;
	border: none;
}

.header .navbar .navbar-burger span {
	background-color: white;
	height: 4px;
	width:  2rem;
}

.header .navbar .navbar-burger span:nth-child(1) {
	margin-top: -10px;
}

.header .navbar .navbar-burger span:nth-child(3) {
	margin-top: 8px;
}

.header .navbar-menu {
	width: 400px;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	position: relative;
	transition: left 0.1s linear
}

.header .navbar-menu:not(.is-active) {
	left: -400px;
}

.header .navbar-menu .navbar-item {
	color: white;
}

.header .navbar-menu .navbar-item + .navbar-item {
	border-top: 1px solid white;
}


.footer {
	background-color: transparent;
	padding:  0px;
	display: flex;
	justify-content: space-between;
}

.footer .startup {
	position: absolute;
	bottom: 0;
	transition: bottom 1s linear;
}

.footer .startup.go-top {
	bottom: 100vh;
}

.footer .degree {
	position: absolute;
	bottom: 0;
	right: 190px;
}

.footer .connect {
	position: absolute;
	bottom: 16px ;
	right: 50px;
}

.footer .connect1 {
	position: absolute;
	bottom: 20px;
	right:  120px;
}

.footer .teles {
	position: absolute;
	bottom: 10px;
	right: 120px;
}

.bear.space1 {
	position:fixed;
	bottom: 0;
	
}

.bear .small {
	position: fixed;
	bottom: 100px;
	left:  400px;
	z-index: 999;
}

.bear .big {
	position: fixed;
	bottom: 100px;
	left:  400px;
	z-index: 999;
}

.bear .bat {
	position: fixed;
	top: 100px;
	left:  400px;
	z-index: 999;
}

.bear .naip {
	position: fixed;
	bottom: 100px;
	left:  400px;
	z-index: 999;
}

.bear .nucket {
	position: fixed;
	bottom: 100px;
	left:  400px;
	z-index: 999;
}

.bear .pica {
	position: fixed;
	bottom: 100px;
	left:  400px;
	z-index: 999;
}

.body .smallbear {
	position: fixed;
	top:350px;
	left: 1000px;
	z-index: 999; 
}

.body .bigbear {
	position: fixed;
	top: 100px;
	left: 1300px;
	z-index:999;
}

.body .bat {
	position: fixed;
	top: 100px;
	left: 700px;
	z-index:999;
}

.body .nai-pran {
	position: fixed;
	top: 500px;
	left: 800px;
	z-index:999;
}

.body .nucket {
	position: fixed;
	top: 400px;
	left: 500px;
	z-index:999;
}

.body .pegasus {
	position: fixed;
	top: 250px;
	left: 100px;
	z-index:999;
}

/*.highlight {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}*/

.highlight .highlight-item {
	position: fixed;
	bottom: 0;
}

.highlight .highlight-item {
  background: no-repeat center/cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
