{% extends 'layout/help.twig' %}

{% set title = 'Help' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/popup/main.js"></script>
{% endblock %}

{% block content %}
  <!-- <h1 class="title">Help</h1> -->
{% endblock %}
