.highlight {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.highlight .highlight-item {
  height: auto;
  background: url(/image/loading01.gif) no-repeat center/cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-button {

	padding: 8px 54px !important;
	margin-top: 475px;
}

.enter-button:not(.show) {
	display: none;
}
