{% extends 'layout/infor.twig' %}

{% set title = 'Information' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/infor/main.js"></script>
{% endblock %}

{% block content %}
	<h1 class="title">Information</h1>
{% endblock %}