<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mercury-SolarSystem</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_dataVer3.css">
  {% block stylesheet %}{% endblock %}
</head>
<body style="width: 100%; height: auto;position: static;">
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/galaxy1.jpg);width: 100%;height:auto;position:absolute;">

  <main>

    <div class="columns"> 

      <div class="piccover">
        <img src="/images/toon_mercury.png" style="height:410px;">
      </div> 

      <div>
          <div class="planetengname">Mercury</div>
          <div class="planetthainame">ดาวพุธ</div>
      </div>
  
      </div> <!--headcover-->

      <div class="container" style="width:100px; margin-top: 75px;">
        <img src="/images/scroll-down2.gif">  
      </div> <!--scroll-down.gif-->


      <div class="topichead"> ข้อมูลจำเพาะ </div> <!--topichead-->


    <div class="columns content">  <!--content1 ข้อมูลจำเพาะ-->
      <!-- big column and add margin left right --> 

        <div class="container pic">   <!-- picture  -->
        <img src="/images/2mercury/mer-ani.gif" style="width:360px;">
        </div>

      <div class="righttextbox"> <!-- short data table-->
          
          <table>  <!-- short data table-->

          <tr>
              <td>ลำดับในระบบสุริยะ :</td>
              <td> 1</td>
              <td></td>
              <td>จำนวนวงแหวน :</td>
              <td> -</td>
              <td> วง</td>
            </tr>

            <tr>
              <td>ประเภท :</td>
              <td> ดาวเคราะห์หิน</td>
              <td></td>
              <td>ระยะห่างจากดวงอาทิตย์ :</td>
              <td> 57.91</td>
              <td>ล้านกิโลเมตร</td>
            </tr>

          <tr>
              <td> รัศมี :</td>
              <td>2,440</td>
              <td>กิโลเมตร</td>
              <td>เวลาที่หมุนรอบตัวเอง :</td>
              <td> 58.65</td>
              <td> วัน</td>
            </tr>

            <tr>
              <td>มวล :</td>
              <td>3.3022 x 10<sup>23</sup></td>
              <td>กิโลกรัม</td>
              <td>เวลาที่โคจรรอบดวงอาทิตย์ :</td>
              <td>87.97</td>
              <td>วัน</td>
            </tr>

            <tr>
              <td>อุณหภูมิ :</td>
              <td>-183 ถึง 427 </td>
              <td>องศาเซลเซียส</td>
              <td>สัญลักษณ์ :</td>
              <td><img src="/images/2mercury/symbol_mercury.gif" style="width: 20px;"></td>
              <td></td>
            </tr>

            <tr>
              <td>จำนวนดาวบริวาร :</td>
              <td>-</td>
              <td>ดวง</td>
              <td>ฉายา :</td>
              <td colspan="2">เตาไฟแช่แข็ง</td>
              
            </tr>

          </table>

      </div> 

    </div>


    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_mercury.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--mercury.png-->


    <div class="columns content" style="margin-top:150px;">  <!--shortcontent1(content2)-->

      <div class="lefttextbox"> 
          <p> 
            ดาวพุธเป็นดาวเคราะห์ดวงลำดับแรกในระบบสุริยะ เป็นดาวเคราะห์ที่อยู่ใกล้ดวงอาทิตย์มากที่สุด ดาวพุธเป็นดาวที่สว่างมากเมื่อมองจากโลก แต่สามารถสังเกตเห็นได้ยากเนื่องจากดาวพุธอยู่ใกล้ดวงอาทิตย์มาก มีระยะห่างเชิงมุม (มองจากโลก) ไม่เกิน 28 องศา เราสามารถสังเกตเห็นดาวพุธได้เพียงไม่กี่วันใน 1 เดือน ซึ่งจะสังเกตเห็นดาวพุธได้ในช่วงหัวค่ำ (หลังจากดวงอาทิตย์ตกดิน) หรือตอนเช้ามืด (ก่อนดวงอาทิตย์ขึ้น)
        </p>

        <p>
          ดาวพุธมีพื้นผิวที่คล้ายกับพื้นผิวของดวงจันทร์คือมีผิวขรุขระเนื่องจากจากการชนของหลุมอุกกาบาต ดาวพุธไม่มีดาวบริวาร  แกนกลางของดาวพุธประกอบด้วยโลหะอยู่จำนวนมากทำให้มีสนามแม่เหล็กบนดาวพุธประมาณ 1 % ของโลก อุณหภูมิบนพื้นผิว มีความแตกต่างกันมากคืออาจร้อนสุดได้ถึง 427 องศาเซลเซียส และเย็นที่สุดได้ถึง -183 องศาเซลเซียส 
        </p>

      </div> 

        <div class="container pic">   <!-- picture-->
        <img src="/images/2mercury/mer(1).jpg" style="width: 360px;">
        </div>

    </div>


    <div class="columns content">  <!--shortcontent2(content2)-->

      <div class="container pic">   
        <img src="/images/2mercury/mer(2).jpg" style="width: 360px;">
        </div>

      <div class="righttextbox"> 
          <p> 
            ดาวพุธหมุนรอบตัวเองใช้เวลา 59 วัน(ของโลก) ในขณะที่ใช้เวลาโคจรรอบดวงอาทิตย์ 88 วัน(ของโลก) คือมีอัตราส่วนระหว่างการหมุนรอบตัวเองกับการโคจรรอบดวงอาทิตย์ประมาณ 3:2 ดาวพุธต้องหมุนรอบตัวเอง 3 รอบ ถึงจะโคจรรอบดวงอาทิตย์ได้ประมาณ 2 รอบ ทำให้ดาวพุธหันด้านเดิมเข้าหาดวงอาทิตย์ ทุกๆการโคจรรอบดวงอาทิตย์ 2 รอบ จึงทำให้เวลา 1 วัน (ของดาวพุธ) คือนับตั้งแต่ดวงอาทิตย์ขึ้นถึงดวงอาทิตย์ตกบนดาวพุธ มีเวลาเท่ากับ 2 ปี(ของดาวพุธ) 
        </p>
      </div> 

    </div>

    
    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_mercury.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--mercury.png-->

    

    <div class="topichead">การสำรวจ</div> <!--topichead-->

      <div class="container piccontent" style="width: 400px;">   
        <img src="/images/2mercury/mer(3).jpg" style="width: 400px;">
        </div>

      <div class="content">  <!--content3-->

        <div class="textbox" style="margin-right:120px; margin-left:120px;"> 
            <p> 
              ยานสำรวจมาริเนอร์ 10 เป็นยานสำรวจเพียงลำเดียวที่เคยเดินทางไปสำรวจดาวพุธ โดยยานสำรวจมาริเนอร์ 10 มีภารกิจในการสำรวจชั้นบรรยากาศ พื้นผิว สภาพแวดล้อม และคุณสมบัติทางกายภาพต่างๆของดาวพุธและดาวศุกร์ ยานสำรวจมาริเนอร์ 10 ถูกส่งจากโลกเมื่อปีค.ศ. 1973 และเดินทางผ่านดาวพุธสองครั้งในปี ค.ศ.1974 และอีกครั้งในปี ค.ศ.1975 ทำการถ่ายภาพดาวพุธได้มากกว่า 2000 ภาพ ซึ่งสามารถทำแผนที่ดาวพุธได้ประมาณ 40-45 เปอร์เซนต์ และยานสำรวจดาวพุธลำที่สอง คือ ยานเมสเซนเจอร์ (MESSENGER) ถูกส่งขึ้นสู่อวกาศในปี ค.ศ.2004 ยานลำนี้ได้ทำแผนที่ดาวพุธที่มีความละเอียดมากขึ้น
          </p>
        </div> 

      </div>


    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_mercury.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--mercury.png-->


    <div class="topichead">วงโคจร</div> <!--topichead-->


      <div class="container piccontent" style="width: 500px;">   
        <img src="/images/2mercury/mer(5).jpg" style="width: 500px;">
        </div>

        <div class="content">  <!--content3-->

        <div class="textbox"> 
            <p> 
              วงโคจรของดาวพุธมีความรีมากที่สุดในระบบสุริยะ มีจุดใกล้ดวงอาทิตย์ที่สุด(perihelion) 46 ล้านกิโลเมตร และจุดไกลดวงอาทิตย์ที่สุด (aphelion) 70 ล้านกิโลเมตร นั่นหมายความว่า ถ้าไปอยู่บนดาวพุธ จะเห็นดวงอาทิตย์มีขนาดเปลี่ยนแปลงค่อนข้างมาก โดยเมื่ออยู่ใกล้ดวงอาทิตย์ที่สุดจะเห็นดวงอาทิตย์ใหญ่เป็น 2 เท่าครึ่งของจุดที่อยู่ไกลดวงอาทิตย์ที่สุด ซึ่งโตประมาณ 4 เท่า เมื่อเห็นจากโลก ระนาบการโคจรกับระนาบของเส้นผ่านศูนย์กลางดาวพุธเกือบเป็นระนาบเดียวกันนั่นหมายความว่าบนดาวพุธจะไม่มีฤดูกาล และมีผิวดาวพุธบางส่วนใกล้กับขั้วโลกที่ไม่โดนแสงอาทิตย์เลย ทำให้มีอากาศหนาวเย็นตลอดเวลา
          </p>
        </div> 

      </div>



    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_mercury.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--mercury.png-->



    <div class="topichead">โครงสร้าง</div>  <!--topichead-->
      
      <div class="container piccontent">   
        <img src="/images/2mercury/mer(6).jpg" style="width: 360px;">
        </div>

      <div class="content">  <!--content4-->

        <div class="textbox" style="margin-left:175px; margin-right:175px;"> 
            <p>
            ดาวพุธเป็นดาวเคราะห์ที่เล็กที่สุดในระบบสุริยะ มีพื้นผิวที่เป็นหินคล้ายกับโลก เป็นดาวเคราะห์ที่มีความหนาแน่นมากเป็นอันดับสองในระบบสุริยะรองจากโลก โดยดาวพุธมีส่วนประกอบเป็นโลหะประมาณ 70 เปอร์เซนต์(โดยน้ำหนัก) และซิลิเกตประมาณ 30 เปอร์เซนต์ แกนกลางของดาวพุธมีขนาดใหญ่ มีรัศมีถึง 1800 กิโลเมตร(ประมาณ 75 เปอร์เซนต์ของรัศมีดาวพุธ) ประกอบด้วยโลหะเป็นส่วนมาก ล้อมรอบด้วยแมนเทิล(ที่ประกอบด้วยซิลิเกตเป็นหลัก)หนา 600 กิโลเมตร และมีเปลือกที่ประกอบด้วยซิลิเกตเป็นส่วนใหญ่ หนาประมาณ 100-300 กิโลเมตร
          </p> 
          <p>
            หลุมอุกกาบาตบนดาวพุธส่วนใหญ่เกิดจากดาวหางและดาวเคราะห์น้อยที่มาพุ่งชนกับดาวพุธในช่วงที่ระบบสุริยะก่อตัว ซึ่งพื้นผิวของดาวพุธต่างกับดาวเคราะห์ดวงอื่นตรงที่ไม่มีการสร้างพื้นผิวใหม่โดยผ่านกระบวนการทางภูเขาไฟ พื้นผิวดาวพุธจึงมีแต่หลุมอุกกาบาตอายุมาก
          </p>
        </div> 

      </div>

  

    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_mercury.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--mercury.png-->


    <div class="topichead">ชั้นบรรยากาศ</div> <!--topichead-->

      <!--  <div class="container piccontent">   
        <img src="/images/2mercury/mer(5).jpg" style="width: 360px;">
        </div> -->


      <div class="content"> <!--content5--> 
        <div class="textbox">
            <p> 
            ชั้นบรรยากาศของดาวพุธมีความเบาบางมากและก็ไม่เสถียรนัก เนื่องจากดาวพุธมีมวลน้อยมากจึงทำให้มีแรงดึงดูดไม่เพียงพอที่จะยึดชั้นบรรยากาศไว้ได้นาน ชั้นบรรยากาศของดาวพุธประกอบไปด้วยแก๊สออกซิเจน ไฮโดรเจน โซเดียม ฮีเลียม โพแทสเซียม และแคลเซียม โดยไฮโดรเจนและฮีเลียมนั้นได้มาจากลมสุริยะ ส่วนแก๊สอื่นๆเกิดขึ้นบนดาวพุธเอง  และลมสุริยะก็กวาดแก๊สที่ออกมาจากดาวพุธออกสู่อวกาศอย่างรวดเร็ว ดาวพุธทั้ง2ด้านมีอุณหภูมิแตกต่างกันมาก เกิดจากดาวพุธไม่มีบรรยากาศที่คอยช่วยปรับอุณหภูมิ สำหรับด้านที่หันเข้าหาดวงอาทิตย์อากาศบนดาวพุธจะร้อนมาก ซึ่งมีอุณหภูมิสูงถึง 427 องศาเซลเซียส ทำให้แก๊สเบาอย่างเช่นฮีเลียมมีพลังงานสูงสามารถหลุดออกไปนอกอวกาศได้ ส่วนด้านมืดของดาวพุธที่หนาวเย็นนั้น ซึ่งอุณหภูมิลดต่ำลงถึง -173 องศาเซลเซียส ชั้นบรรยากาศจะมีความหนาแน่นมากกว่าเนื่องจากโมเลกุลของแก๊สมีพลังงานไม่เพียงพอที่จะหลุดออกสู่อวกาศได้
          </p>
        </div>
      </div> 

    <!--
    <div class="container planetpng" style="width:120px;">
        <img src="/images/toon_mercury.png" style="margin-bottom:200px">  
    </div> mercury.png-->

    <div style="padding-top: 200px;padding-left: 25%;padding-right:auto;">
      <a href="/our-solar-system/sun">
        <img src="/images/toon_sun3.png" title="ดวงอาทิตย์" style="margin-bottom:200px; width: 11%;height: 11%;">
      </a>
      <a href="/our-solar-system/mercury">
        <img src="/images/toon_mercury.png" title="ดาวพุธ" style="padding-left: 20px;margin-bottom:200px; width: 4%;height: 4%;">
      </a>
      <a href="/our-solar-system/venus">
        <img src="/images/toon_venus.png" title="ดาวศุกร์" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/earth">
        <img src="/images/toon_earth.png" title="ดาวโลก" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/mars">
        <img src="/images/toon_mars.png" title="ดาวอังคาร" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/jupiter">
        <img src="/images/toon_jupiter.png" title="ดาวพฤหัสบดี" style="padding-left: 18px;margin-bottom:200px; width: 9%;height: 9%;">
      </a>
      <a href="/our-solar-system/saturn">
        <img src="/images/toon_saturn.png" title="ดาวเสาร์" style="padding-left: 10px;margin-bottom:200px; width: 9%;height: 9%;">
      </a>
      <a href="/our-solar-system/uranus">
        <img src="/images/toon_uranus.png" title="ดาวยูเรนัส" style="padding-left: 10px;margin-bottom:200px; width: 8%;height: 8%;">
      </a>
      <a href="/our-solar-system/neptune">
        <img src="/images/toon_neptune.png" title="ดาวเนปจูน" style="padding-left: 10px;margin-bottom:200px; width: 6%;height: 6%;">
      </a>
    </div>      

  </main>  
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>