<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_move.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/space1.png);width: 100%;height: 100vh;position:absolute;">
    <main>
      
        <body style="background-image: url(/image/BG.jpg);width: 100%;">  <!--background-->
  
  <main>
  <!--  Hello Hermes -->

    <div class="columns" style= "width: 100%; height: auto; " > 

      <div class="column is-one-quarter" style="width: 360px; height: auto; margin: 150px 0 150px 300px;">
        <img src="/image/uranus.png" style="width: 360px; height: auto; ">
        
      </div> 

      <div class="column has-text-centered">
        <div class="container has-text-left" style="  margin: 150px 360px 100px 0; color:white;"> 
            <h2 style="font-size: 150px  ">Neptune</h2><br>
            <h3 style="font-size: 100px">ดาวเนปจูน</h3>
          </div>
        
      </div>
  
      </div> <!--header-->


      <div class="columns" style= "width: 100%; height: auto; " >
        <div class="container has-text-centered" style="width: 100px; height: auto; " >   <!-- picture column -->
          <img src="/image/scroll-down.png" style="width: 100px; height: auto; ">  
          </div> <!--separate-->
        </div>


    <div class="columns" style= "width: 100%; height: auto; margin: 100px; ;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/9neptune/nep-ani.gif" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">


              <table class="table">  <!-- short data table-->

                <tbody>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ลำดับในระบบสุริยะ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 8</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนวงแหวน :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 6</td>
                    <td class="cellbgcolor" style ="border:0px; " > วง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ประเภท :</td>
                    <td class="cellbgcolor" style ="border:0px; " > ดาวเคราห์แก๊ส</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะห่างจากดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 4,498</td>
                    <td class="cellbgcolor" style ="border:0px; " >ล้านกิโลเมตร</td>
                  </tr>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " > รัศมี :</td>
                    <td class="cellbgcolor" style ="border:0px; " >24,764</td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลเมตร</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่หมุนรอบตัวเอง :</td>
                    <td class="cellbgcolor" style ="border:0px; " >16.11</td>
                    <td class="cellbgcolor" style ="border:0px; " > ชั่วโมง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >มวล :</td>
                    <td class="cellbgcolor" style ="border:0px; " >1.0243x10<sup>26</sup></td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลกรัม</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่โคจรรอบดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >164.8</td>
                    <td class="cellbgcolor" style ="border:0px; " > ปี</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >อุณหภูมิ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >-200   </td>
                    <td class="cellbgcolor" style ="border:0px; " >องศาเซลเซียส</td>
                    <td class="cellbgcolor" style ="border:0px; " >สัญลักษณ์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > <img scr </td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนดาวบริวาร :</td>
                    <td class="cellbgcolor" style ="border:0px; " >13</td>
                    <td class="cellbgcolor" style ="border:0px; " >ดวง</td>
                    <td class="cellbgcolor" style ="border:0px; " >จุดเด่น :</td>
                    <td class="cellbgcolor" style ="border:0px; " >ค้นพบจากการคำนวณโดยนักคณิตศาสตร์</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>


                </tbody>

              </table>  

        </div> 
      </div>

    </div> <!-- pic left -->





    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">
      
         <p class="MessageParagraph">

      ดาวเนปจูน(หรือที่คนไทยเรียกดาวเกตุ) เป็นดาวเคราะห์สุดท้ายคือลำดับที่ 8 เป็นดาวเคราะห์ที่อยู่ห่างจากดวงอาทิตย์ที่สุด (ห่างออกไปถึง 30 เท่าของระยะจากโลกถึงดวงอาทิตย์)ในระบบสุริยะที่มีขนาดเล็กที่สุดและหนาวเย็นที่สุดในบรรดาดาวเคราะห์แก๊สยักษ์ทั้งสี่ (ได้แก่ดาวพฤหัสบดี ดาวเสาร์ ดาวยูเรนัสและดาวเนปจูน) ดาวเนปจูนถูกค้นพบในปี 1846 โดยอเล็กซิส บูวาร์ด (Alexis Bouvard) นักดาราศาสตร์ชาวฝรั่งเศส ซึ่งถือว่าดาวเนปจูนเป็นดาวดวงแรกที่ถูกค้นพบได้ด้วยการคำนวนทางคณิตศาสตร์ต่างกับดาวเคราะห์ดวงอื่นที่ถูกค้นพบด้วยการสังเกตการณ์ ก่อนที่จะเจอดาวเนปจูนด้วยการสังเกตการณ์ผ่านกล้องโทรทรรศน์ เนื่องจากนักดาราศาสตร์ได้พบว่าวงโคจรของดาวยูเรนัสมีการเปลี่ยนแปลงเนื่องจากอิทธิพลของแรงดึงดูดจากดาวเคราะห์ดวงหนึ่งซึ่งในขณะนั้นยังไม่ทราบว่าเป็นดาวเคราะห์ดวงใด ดาวเนปจูนจึงถูกค้นพบหลังจากนั้นในตำแหน่งที่ใกล้เคียงกับที่นักดาราศาสตร์ได้คำนวณไว้

    </p> <br>

          </div> 
        </div>

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/9neptune/nep(1).jpg" style="width: 360px; height: auto; ">  
        </div>

    </div> <!-- pic right -->



    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/uranus.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>การสำรวจ</h2>
          </div>
        </div>
      </div> <!--header-->




    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/9neptune/nep(2).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
      <div class="textbox">
        <p class="MessageParagraph">

      ยานอวกาศเพียงลำเดียวที่เคยเดินทางไปสำรวจดาวเนปจูนคือยานวอยเอเจอร์ 2 (Voyager 2) ซึ่งได้เดินทางไปถึงดาวเนปจูนในปี 1989 พร้อมทั้งถ่ายภาพดาวเนปจูนในระยะใกล้เป็นภาพแรกกลับมายังโลก นอกจากนั้นยังได้ถ่ายภาพยืนยันว่าดาวเนปจูนมีวงแหวนอีกด้วยหลังจากวงแหวนของดาวเนปจูนถูกค้นพบมาแล้วก่อนหน้านั้น ทั้งนี้ยานวอยเอเจอร์ 2 ยังได้ค้นพบดวงจันทร์ของดาวเนปจูนเพิ่มเติมจากเดิมอีก 6 ดวง รวมไปถึงดวงจันทร์ขนาดใหญ่ 1 ดวงชื่อไทรทัน (Triton)

    </p> <br>
        </div> 
      </div>

    </div> <!-- pic left -->




  
    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/uranus.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>

      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>วงโคจร</h2> 
          </div>
        </div>
      </div> <!--header-->



      

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
      <!-- <img src="/image/7saturn/sat(5).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             
      <p class="MessageParagraph">

      วงโคจรของดาวเนปจูนมีความรีน้อยมากเมื่อเทียบกับดาวเคราะห์ดวงอื่นๆ (ยกเว้นดาวศุกร์) นั้นคือมีความกลมค่อนข้างมาก โดยมีจุดไกลดวงอาทิตย์มากที่สุด 4.54 พันล้านกิโลเมตร และจุดใกล้ดวงอาทิตย์มากที่สุด 4.44 พันล้านกิโลเมตร คือมีความแตกต่างกันเพียงประมาณ 100 ล้านกิโลเมตร

    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
       <img src="/image/9neptune/nep(3).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             
    <p class="MessageParagraph">

      แกนหมุนของดาวเนปจูนมีความเอียง 28.3 องศาเมื่อเทียบกับระนาบการโคจรรอบดวงอาทิตย์ (ซึ่งคล้ายกับแกนโลกที่มีความเอียง 23.5 องศา) ซึ่งหมายความว่าบนดาวเนปจูนจะมีฤดูกาลเกิดขึ้นเช่นเดียวกันกับโลก แต่เนื่องจากดาวเนปจูนมีคาบเวลาการโคจรรอบดวงอาทิตย์ยาวนานถึง 164.8 ปี ฤดูกาลแต่ละฤดูกาลจึงยาวนานถึงประมาณ 40 ปี และเนื่องจากคาบเวลาการโคจรรอบดวงอาทิตย์ 164.8 ปีนี่เอง ทำให้ดาวเนปจูนยังโคจรไม่ครบ 1 รอบดีในปีนี้(ปี 2009) ตั้งแต่ถูกค้นพบเป็นครั้งแรกในปี 1846 (จะโคจรครบ 1 รอบในปี 2011)


    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
      <!-- <img src="/image/7saturn/sat(5).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             
    <p class="MessageParagraph">

      เนื่องจากดาวเนปจูนมีการโคจรรอบตัวเองที่รวดเร็วมากคือประมาณ 16.11 ชั่วโมง จึงทำให้ดาวเนปจูนมีลักษณะโป่งออกที่เส้นศูนย์สูตร โดยมีเส้นผ่านศูนย์กลางบริเวณเส้นศูนย์สูตรมากกว่าเส้นผ่านศูนย์กลางในแนวขั้วเหนือ-ใต้ประมาณ 848 กิโลเมตร

    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->





    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/uranus.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>




      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>โครงสร้าง</h2>
          </div>
        </div>
      </div> <!--header-->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
      <!--  <img src="/image/7saturn/sat(6).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
         <p class="MessageParagraph">

      ดาวเนปจูนมีความโน้มถ่วงที่พื้นผิวของดาวเคราะห์เป็นอันดับที่ 2 ในระบบสุริยะ รองจากดาวพฤหัสบดี ดาวเนปจูนมีขนาดและโครงสร้างที่ใกล้เคียงกับดาวยูเรนัสโดยมีแกนกลางเป็นหินและน้ำแข็ง ซึ่งมีมวลประมาณ 1.2 เท่าของแกนของโลกเรา มีความดันประมาณ 7 ล้านบาร์ ซึ่งมากกว่าความดันบรรยากาศบนพื้นโลกกว่าล้านเท่าและคาดว่ามีอุณหภูมิูงกว่า 5400 เคลวิน

    </p> <br>
        </div> 
      </div>

    </div> <!-- pic left -->



    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/9neptune/nep(4).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
        <p class="MessageParagraph">

      ดาวเนปจูนมีสัดส่วนของ “น้ำแข็ง” เช่น น้ำ แอมโมเนีย มีเทนที่สูง ชั้นแมนเทิลของดาวเนปจูนประกอบด้วยน้ำ แอมโมเนีย และมีเทนที่มีอุณหภูมิ 2000 ถึง 5000 เคลวินและมีมวลประมาณ 10 ถึง 15 เท่าของมวลของโลก โดยชั้นของแมนเทิลนี่เองที่สร้างสนามแม่เหล็กรอบๆ ดาวเนปจูน ส่วนชั้นนอกสุดของดาวเนปจูนเป็นชั้นบรรยากาศที่ประกอบไปด้วยแก๊สไฮโดรเจน ฮีเลียม และมีเทน

    </p> <br>




        </div> 
      </div>

    </div> <!-- pic left -->










    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/uranus.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>ชั้นบรรยากาศ</h2> 
          </div>
        </div>
      </div><!--header-->




    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/9neptune/nep(5).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
        
    <p class="MessageParagraph">

      ชั้นบรรยากาศของดาวเนปจูนประกอบด้วยแก๊สไฮโดรเจน 79 เปอร์เซนต์ ฮีเลียม 18 เปอร์เซนต์ แก๊สมีเทนและแก๊สอื่นๆอีก 3 เปอร์เซนต์ และแก๊สมีเทนในชั้นบรรยากาศนี่เองที่เป็นตัวดูดกลืนแสงสีแดงพร้อมทั้งสะท้อนแสงสีน้ำเงินทำให้เราสังเกตุเห็นดาวเนปจูนปรากฏเป็นสีน้ำเงิน ริ้วลายเส้นสีขาวที่พบบนดาวเนปจูนนั้นเป็นเมฆชั้นสูง ที่บ่งชี้ว่าบรรยากาศของดาวเนปจูนมีสภาพอากาศที่มีพลวัตรอย่างมาก
      ชั้นบรรยากาศของดาวเนปจูนมีความแปรปรวนสูงมีพายุขนาดใหญ่และกระแสลมที่รุนแรงมาก โดยอาจมีกระแสลมแรงถึง 2160 กิโลเมตรต่อชั่วโมง อุณหภูมิบนพื้นผิวของดาวเนปจูนมีความหนาวเย็นมากคือมีอุณหภูมิโดยเฉลี่ย -200 องศาเซลเซียส เนื่องจากว่าดาวเนปจูนอยู่ห่างไกลจากดวงอาทิตย์มาก ความร้อนจากดวงอาทิตย์จึงมีผลต่อดาวเนปจูนน้อยมาก ความร้อนส่วนใหญ่ที่มีผลต่อบรรยากาศบนดาวเนปจูนจึงมาจากความร้อนภายในแกนของดาวเนปจูนเอง


    </p> <br>


        </div> 
      </div>

    </div> <!-- pic left -->


  </main>
</body>


    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>