<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_dataVer2.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/galaxy1.jpg);width: 100%;height: auto;position:absolute;">
<main>

    <div class="columns"> 

      <div class="piccover">
        <img src="/image/earth.png" style="height:410px;">
      </div> 

      <div>
          <div class="planetengname" style="margin-left:50px;">Earth</div>
          <div class="planetthainame" style="margin-left:50px;">โลก</div>
      </div>
  
      </div> <!--headcover-->

      <div class="container" style="width:100px; margin-top: 75px;">
        <img src="/image/scroll-down2.gif">  
      </div> <!--scroll-down.gif-->


      <div class="topichead"> ข้อมูลจำเพาะ </div> <!--topichead-->


    <div class="columns content">  <!--content1 ข้อมูลจำเพาะ-->
      <!-- big column and add margin left right --> 

        <div class="container pic">   <!-- picture  -->
        <img src="/image/4earth/ear-ani.gif" style="width:360px;">
        </div>

      <div class="righttextbox"> <!-- short data table-->
          
          <table>  <!-- short data table-->

          <tr>
              <td>ลำดับในระบบสุริยะ :</td>
              <td>3</td>
              <td></td>
              <td>ระยะห่างจากดวงอาทิตย์ :</td>
              <td>149.60</td>
              <td>ล้านกิโลเมตร</td>
            </tr>

            <tr>
              <td>ประเภท :</td>
              <td> ดาวเคราะห์หิน</td>
              <td></td>
              <td>เวลาที่หมุนรอบตัวเอง :</td>
              <td>23 ชั่วโมง</td>
              <td>56 นาที</td>
            </tr>

          <tr>
              <td>รัศมี :</td>
              <td>6,378</td>
              <td>กิโลเมตร</td>
              <td>เวลาที่โคจรรอบดวงอาทิตย์ :</td>
              <td>365.26</td>
              <td>วัน</td>
            </tr>
            <tr>
              <td>มวล :</td>
              <td>5.9736 x 10<sup>24</sup></td>
              <td>กิโลกรัม</td>
              <td>สัญลักษณ์ :</td>
              <td><img src="/image/4earth/symbol_earth.gif" style="width: 20px;"></td>
              <td></td>
            </tr>

            <tr>
              <td>อุณหภูมิ :</td>
              <td>14</td>
              <td>องศาเซลเซียส</td>
              <td>จุดเด่น :</td>
              <td colspan="2">สภาวะเอื้ออำนวยต่อการดำรงชีวิต</td>
              
            </tr>

            <tr>
              <td>จำนวนดาวบริวาร :</td>
              <td>1</td>
              <td>ดวง</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </table>

      </div> 

    </div>


    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/image/earth.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--earth.png-->


    <div class="columns content" style="margin-top:150px;">  <!--shortcontent1(content2)-->

      <div class="lefttextbox"> 
          <p> 
            โลกที่อยู่อาศัยของมนุษย์เรานั้นเป็นดาวเคราะห์ลำดับที่ 3 ในระบบสุริยะ โลกเป็นดาวเคราะห์ที่มีขนาดใหญ่ที่สุด<br>ในบรรดาดาวเคราะห์หินทั้งสี่ในระบบสุริยะ (ได้แก่ ดาวพุธ ดาวศุกร์ โลก และ ดาวอังคาร) โลกนั้นถือกำเนิดเมื่อ 4.54 <br>พันล้านปีมาแล้ว โดยในปัจจุบันโลกถือว่าเป็นดาวเคราะห์เพียงดวงเดียวที่มีสิ่งมีชีวิตอาศัยอยู่ เนื่องจากโลกมีชั้นบรรยากาศ<br>ที่มีออกซิเจนและมีน้ำที่มีความจำเป็นต่อการดำรงชีวิต อีกทั้งยังมีสนามแม่เหล็กโลกที่ป้องกันการแผ่รังสีต่างๆที่เป็นอันตรายจากอวกาศอีกด้วย 
        </p> 

      </div> 

        <div class="container pic">   
        <img src="/image/4earth/ear(1).jpg" style="width: 360px;">
        </div>

    </div>


    <div class="columns content">  <!--shortcontent2(content2)-->

      <div class="container pic">   
        <img src="/image/4earth/ear(2).jpg" style="width: 360px;">
        </div>

      <div class="righttextbox"> 
          <p> 
            นอกจากโลกของเราที่โคจรรอบดวงอาทิตย์แล้วโลกยังมีดวงจันทร์ที่โคจรรอบโลกอยู่ด้วย โดยระนาบการโคจรรอบโลก<br>ของดวงจันทร์ทำมุมประมาณ 5 องศากับระนาบการโคจรของโลกรอบดวงอาทิตย์ ซึ่งสมมุติว่าระนาบทั้งสองเป็นระนาบเดียวกันแล้ว<br>จะทำให้เกิดอุปราคาขึ้นทุก 2 สัปดาห์ สลับกันระหว่างสุริยุปราคาและจันทรุปราคา นอกจากนี้ดวงจันทร์ยังมีคาบเวลาการโคจรรอบโลก 27.32 วัน เท่ากันกับคาบเวลาในการโคจรรอบตัวเองของดวงจันทร์ทำให้เรามองเห็นดวงจันทร์จากโลกเพียงด้านเดียว<br>ของดวงจันทร์อยู่เสมอ
        </p>
      </div> 

    </div>

    
    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/image/earth.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--earth.png-->


    <div class="topichead">วงโคจร</div> <!--topichead-->

        <div class="content">  <!--content3-->

        <div class="textbox"> 
            <p> 
              โลกโคจรรอบดวงอาทิตย์ในทิศทางทวนเข็มนาฬิกา เมื่อมองจากเหนือขั้วโลกเหนือของโลกและดวงอาทิตย์ มีลักษณะการโคจรเป็นรูปวงรี<br>ใช้เวลาในการโคจร 1 รอบ 365.2564 วัน และโลกหมุนรอบตัวเองใช้เวลา 24 ชั่วโมง (1 วัน) โดยมีระยะใกล้ดวงอาทิตย์มากที่สุด 147.1 ล้านกิโลเมตร <br>และระยะไกลดวงอาทิตย์มากที่สุด 152.1 ล้านกิโลเมตร โดยแกนหมุนของโลก (ขั้วเหนือ-ใต้)ทำมุมเอียงกับระนาบการโคจรรอบดวงอาทิตย์<br>(ecliptic plane) 23.5 องศา การที่แกนโลกมีความเอียงนี่เองทำให้แต่ละพื้นที่บนโลกได้รับแสงจากดวงอาทิตย์ไม่เท่ากันในแต่ละวันใน 1 ปี <br>จึงทำให้เกิดฤดูกาลขึ้นบนโลกนั่นเอง ในฤดูร้อนของซีกโลกเหนือ ขั้วโลกเหนือจะหันเข้าหาดวงอาทิตย์ และเมื่อขั้วโลกเหนือหันออกจากดวงอาทิตย์<br>ก็จะเกิดฤดูหนาวขึ้นที่ซีกโลกเหนือ
          </p>
        </div> 

      </div>

      <div class="container piccontent" style="width: 500px;">   
        <img src="/image/4earth/ear(3).jpg" style="width: 500px;">
        </div>

      <div class="content">  <!--content3-->

        <div class="textbox"> 
            <p> 
              การแบ่งว่าเกิดฤดูกาลใดบนโลกนี้สามารถแบ่งได้โดยใช้วันโซลสทิส (solstices) และวันอิควิน็อก (equinox) โดยวันโซลสทิสฤดูร้อน<br> (summer solstice) เกิดขึ้นวันที่ 21 มิถุนายน เป็นวันที่ขั้วโลกเหนือหันเข้าหาดวงอาทิตย์มากที่สุด วันโซลสทิสฤดูหนาว (winter solstice) <br>เกิดขึ้นวันที่ 21 ธันวาคมเป็นวันที่ขั้วโลกเหนือหันออกจากดวงอาทิตย์มากที่สุด วันอิควิน็อกฤดูใบไม้ผลิ (spring equinox) และวันอิควิน็อกฤดูใบไม้ร่วง <br> (autumnal equinox) เกิดขึ้นในวันที่ 20 มีนาคม และ 23 กันยายน ตามลำดับเป็นวันที่แกนของโลกตั้งฉากกับเส้นตรงที่ลากจากโลกไปยังดวงอาทิตย์ <br>โดยวันทั้งสี่ก็จะเป็นช่วงของวันที่เกิดฤดูกาลต่างๆตามชื่อของวันนั่นเอง
          </p>
        </div> 

      </div>



    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/image/earth.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--earth.png-->



    <div class="topichead">โครงสร้าง</div>  <!--topichead-->
      
      <div class="container piccontent">   
        <img src="/image/4earth/ear(4).jpg" style="width: 360px;">
        </div>

      <div class="content">  <!--content4-->

        <div class="textbox" style="margin-left:175px; margin-right:175px;"> 
            <p>
            พื้นผิวส่วนใหญ่ของโลกถึง 71 เปอร์เซนต์ปกคลุมไปด้วยน้ำ ส่วนพื้นผิวที่เหนือก็จะเป็นพื้นที่ที่เป็นทวีปและเกาะต่างๆ <br>โดยในส่วนของเปลือกโลกนี้จะมีความหนาต่างกันออกไปเช่นเปลือกโลกส่วนที่อยู่ใต้มหาสมุทรอาจมีความหนาประมาณ 6 <br>กิโลเมตร ส่วนเปลือกโลกส่วนที่เป็นทวีปอาจมีความหนาถึง 30 – 50 กิโลเมตร เปลือกโลกนี้จะไปกอบไปด้วยหินและแร่ธาตุ<br>มากมายหลากหลายชนิด ขณะที่บริเวณขั้วโลกส่วนใหญ่ถูกปกคลุมด้วยน้ำแข็ง  
          </p>
        </div>
      </div>

      <div class="container piccontent">   
        <img src="/image/4earth/ear(5).jpg" style="width: 360px;">
        </div>

      <div class="content">  <!--content4-->

        <div class="textbox" style="margin-left:175px; margin-right:175px;">  
          <p>
            ถัดจากเปลือกโลกลงไปจะเป็นชั้นของแมนเทิลที่เป็นของแข็งประกอบไปด้วยเหล็กและแมกนีเซียมเป็นหลักโดยมีความหนาประมาณ 2800 กิโลเมตร ถัดลงไปจะเป็นส่วนของแกนโลกซึ่งแบ่งออกเป็นสองชั้นด้วยกันคือ แกนโลกชั้นนอก (outer core) และ แกนโลกชั้นใน (inner core) โดยแกนโลกชั้นนอกจะอยู่ห่างจากผิวโลกลงไปประมาณ 2900-5000 กิโลเมตรประกอบไปด้วยเหล็กและนิกเกิลในสถานะของเหลวมีอุณหภูมิประมาณ 6200 – 6400 องศาเซลเซียส ส่วนแกนโลกชั้นในมีรัศมีประมาณ 1000 กิโลเมตร ชั้นนี้ก็จะประกอบไปด้วยเหล็กและนิกเกิลเช่นเดียวกับแกนโลกชั้นนอกแต่อยู่ในสถานะของแข็งมีอุณหภูมิประมาณ 4300-6200 องศาเซสเซียส
          </p>
        </div> 

      </div>

  

    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/image/earth.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--earth.png-->


    <div class="topichead">ชั้นบรรยากาศ</div> <!--topichead-->

      <div class="container piccontent" style="width: 500px;">   
        <img src="/image/4earth/ear(6).jpg" style="width: 500px;">
        </div>

      <div class="content"> <!--content5--> 
        <div class="textbox">
            <p> 
              โลกห่อหุ้มไปด้วยชั้นบรรยากาศที่มีความหนาหลายร้อยกิโลเมตร โดยประกอบไปด้วยแก๊สไนโตรเจน 78.1 เปอร์เซนต์ แก๊สออกซิเจน 20.9 <br>เปอร์เซนต์ อาร์กอน 0.9 เปอร์เซนต์ คาร์บอนไดออกไซด์ ที่เหลือเป็นแก๊สอื่นๆ นอกจากนี้ยังปรากฏไอน้ำในชั้นบรรยากาศอีกด้วย ชั้นบรรยากาศ<br>ของโลก จะมีความหนาแน่นที่บริเวณผิวโลกมากกว่าบริเวณที่สูงขึ้นไปอันเนื่องมาจากแรงโน้มถ่วงของโลก เช่นที่ความสูง 30 กิโลเมตร<br>เหนือระดับน้ำทะเล ความดันบรรยากาศจะมีค่าเพียง 1 เปอร์เซ็นต์ของความดันบรรยากาศที่ระดับน้ำทะเล
          </p>
        </div>
      </div> 


      <div class="container piccontent">   
        <img src="/image/4earth/ear(7).jpg" style="width: 360px;">
        </div>


      <div class="topichead2">โทรโพสเฟียร์ (Troposphere)</div>


      <div class="content"> <!--content5--> 
        <div class="textbox">
            <p> 
               เป็นชั้นบรรยากาศล่างสุดตั้งแต่ผิวโลกไปถึงความสูง 8 กิโลเมตรบริเวณขั้วโลกหรือ ความสูง 15 กิโลเมตรบริเวณเส้นศูนย์สูตร ชั้นนี้จะมีมวลของอากาศถึง 75 เปอร์เซนต์โดยมวลของมวลอากาศทั้งหมดที่ห่อหุ้มโลกไว้ อุณหภูมิของบรรยากาศชั้นนี้บริเวณขั้วโลกจะมีอุณหภูมิต่ำกว่าบริเวณ<br>เส้นศูนย์สูตรเนื่องจากผิวโลกบริเวณต่างๆ ได้รับความร้อนจากดวงอาทิตย์ที่ต่างกันทำให้เกิดสภาวะอากาศต่างๆขึ้น เกิดลมพัดจากบริเวณที่อุณหภูมิ<br>แตกต่างกันไปทั่วพื้นผิวโลก และลมดังกล่าวก็ทำให้เกิดการไหลขแงกระแสน้ำด้วย บริเวณบนสุดของชั้นโทรโพสเฟียร์นี้อาจมีอุณหภูมิลดลงถึงประมาณ -52 องศาเซลเซียส
          </p>
        </div>
      </div> 

      <div class="topichead2">สตราโตสเฟียร์ (Stratosphere)</div>

      <div class="content"> <!--content5-->  
        <div class="textbox">
            <p> 
               เป็นบริเวณถัดจากชั้นโทรโพสเฟียร์ไปจนถึงความสูง 50 กิโลเมตรเหนือระดับน้ำทะเล บริเวณบนสุดของชั้นสตราโตสเฟียร์นี้อาจมีอุณหภูมิประมาณ -3 องศาเซลเซียส
          </p>
        </div>
      </div> 

      <div class="topichead2">เมสโซสเฟียร์ (Mesosphere)</div>

      <div class="content"> <!--content5-->  
        <div class="textbox">
            <p> 
               เป็นบริเวณถัดจากชั้นสตราโตสเฟียร์ไปจนถึงความสูง 80-85 กิโลเมตรเหนือระดับน้ำทะเล บริเวณที่เชื่อมต่อระหว่างชั้นเมสโซสเฟียร์<br>และชั้นเทอร์โมสเฟียร์นี้  จัดว่าเป็นบริเวณที่มีอุณหภูมิต่ำสุดบนโลกคือประมาณ -100 องศาเซลเซียส ชั้นนี้เป็นชั้นที่ฝนดาวตก (meteors) <br>ส่วนใหญ่เผาไหม้หมดเมื่อเข้าสู่ชั้นบรรยากาศของโลก
          </p>
        </div>
      </div> 

      <div class="topichead2">เทอร์โมสเฟียร์ (Thermosphere)</div>

      <div class="content"> <!--content5-->  
        <div class="textbox">
            <p> 
               เป็นบริเวณถัดจากชั้นเมสโซสเฟียร์ไปจนถึงความสูงประมาณ 600 กิโลเมตรเหนือระดับน้ำทะเล บริเวณบนสุดของชั้นเทอร์โมสเฟียร์นี้อาจมีอุณหภูมิสูงถึง 1700 องศาเซลเซียส ชั้นนี้เป็นชั้นสถานีอวกาศนานาชาติ (ISS) โคจรรอบโลกอยู่ที่ความสูง 320 – 380 กิโลเมตร
          </p>
        </div>
      </div> 

      <div class="topichead2">เอ็กโซสเฟียร์ (Exosphere)</div>

      <div class="content"> <!--content5-->  
        <div class="textbox">
            <p> 
               เป็นบรรยากาศชั้นนอกสุดของโลกเป็นรอยต่อระหว่างชั้นบรรยากาศของโลกและอวกาศ ซึ่งมีขอบเขตแบ่งระหว่างชั้นบรรยากาศและอวกาศ<br>ที่ไม่ชัดเจน บรรยากาศชั้นนี้ประกอบไปด้วยแก๊สไฮโดรเจนและฮีเลียมเป็นหลัก
          </p>
        </div>
      </div> 


    <div class="container planetpng" style="width:120px;">
        <img src="/image/earth.png" style="margin-bottom:200px">  
      </div> <!--earth.png-->

      

</main>
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>