<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_data.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/space1.png);width: 100%;height: auto;position:absolute;">
    <main>
        <body style="background-image: url(/image/BG.jpg);width: 100%;">  <!--background-->
  
  <main>
  <!--  Hello Hermes -->

    <div class="columns" style= "width: 100%; height: auto; " > 

      <div class="column is-one-quarter" style="width: 360px; height: auto; margin: 150px 0 150px 300px;">
        <a href="/our-solar-system"><img src="/images/toon_jupiter.png" style="width: 360px; height: auto; "></a>
        
      </div> 

      <div class="column has-text-centered">
        <div class="container has-text-left" style="  margin: 150px 360px 100px 0; color:white;"> 
            <h2 style="font-size: 150px  ">Jupiter</h2><br>
            <h3 style="font-size: 100px">ดาวพฤหัสบดี</h3>
          </div>
        
      </div>
  
      </div> <!--header-->


      <div class="columns" style= "width: 100%; height: auto; " >
        <div class="container has-text-centered" style="width: 100px; height: auto; " >   <!-- picture column -->
          <img src="/images/scroll-down.png" style="width: 100px; height: auto; ">  
          </div> <!--separate-->
        </div>


    <div class="columns" style= "width: 100%; height: auto; margin: 100px; ;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/6jupiter/jup-ani.gif" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">


              <table class="table">  <!-- short data table-->

                <tbody>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ลำดับในระบบสุริยะ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 5</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนวงแหวน :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 3</td>
                    <td class="cellbgcolor" style ="border:0px; " > วง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ประเภท :</td>
                    <td class="cellbgcolor" style ="border:0px; " > ดาวเคราห์แก๊ส</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะห่างจากดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 778.41</td>
                    <td class="cellbgcolor" style ="border:0px; " >ล้านกิโลเมตร</td>
                  </tr>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " > รัศมี :</td>
                    <td class="cellbgcolor" style ="border:0px; " >71,492</td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลเมตร</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่หมุนรอบตัวเอง :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 9.92</td>
                    <td class="cellbgcolor" style ="border:0px; " > ชั่วโมง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >มวล :</td>
                    <td class="cellbgcolor" style ="border:0px; " >1.8986x10<sup>27</sup></td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลกรัม</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่โคจรรอบดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >11.86</td>
                    <td class="cellbgcolor" style ="border:0px; " > ปี</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >อุณหภูมิ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >-110  </td>
                    <td class="cellbgcolor" style ="border:0px; " >องศาเซลเซียส</td>
                    <td class="cellbgcolor" style ="border:0px; " >สัญลักษณ์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " ><img src="/images/6jupiter/symbol_jupiter.gif" style="width: 20px; height: auto; "></td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนดาวบริวาร :</td>
                    <td class="cellbgcolor" style ="border:0px; " >62</td>
                    <td class="cellbgcolor" style ="border:0px; " >ดวง</td>
                    <td class="cellbgcolor" style ="border:0px; " >ฉายา :</td>
                    <td class="cellbgcolor" style ="border:0px; " >ดาวเคราะห์ยักษ์</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>


                </tbody>

              </table>  

        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">
      
            <p class="MessageParagraph">
      ดาวพฤหัสบดีเป็นดาวเคราะห์ดวงที่ใหญ่ที่สุดในระบบสุริยะ มีน้ำหนักประมาณ 2.5 เท่าของน้ำหนักของดาวเคราะห์ดวงที่เหลือในระบบสุริยะรวมกัน แต่เป็นมวลเพียง 1/1,000 เท่าของมวลดวงอาทิตย์ ขณะที่ชนาดของดาวพฤหัสบดีใหญ่จนสามารถจุดาวเคราะห์ที่เหลือทุกดวงรวมกันใส่ลงไปได้ และมีจำนวนดาวบริวารที่มากที่สุดอีกด้วย เมื่อมองจากโลกแล้วดาวพฤหัสบดีจะมีความสว่างมากที่สุดเป็นอันดับที่สี่รองจากดวงอาทิตย์ ดวงจันทร์และดาวศุกร์ (อย่างไรก็ตามในบางวันอาจจะเห็นดาวอังคารมีความสว่างมากกว่าดาวพฤหัสบดี)
    </p> <br>

          </div> 
        </div>

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/6jupiter/jup(1).jpg" style="width: 360px; height: auto; ">  
        </div>

    </div> <!-- pic right -->

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 100px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">

           <p class="MessageParagraph">
      ดาวพฤหัสบดีมีดวงจันทร์ที่ถูกค้นพบแล้วอย่างน้อย 69 ดวง โดยมี 4 ดวงใหญ่เรียงกันอยู่ในแนวเส้นศูนย์สูตร คือ ไอโอ ยูโรปา แกนีมิด และคัลลิสโต ( Callisto Io Europa และ Ganymede ) ถูกค้นพบในปี ค.ศ.1610 โดยกาลิเลโอ นักดาราศาสตร์ชาวอิตาลี จึงได้รับเกียรติว่าเป็นดวงจันทร์ของกาลิเลโอ (Galilean moons) 

    </p> <br>

          </div> 
        </div>


      <div class="column is-one-quarter" style="width: 360px; height: 360px; " >   <!-- picture column -->
       <img src="/images/6jupiter/jup(2).jpg" style="width: 360px; height: auto; ">  
        </div> 

    </div>  <!-- pic right -->  

  <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/6jupiter/jup(3).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
            <p class="MessageParagraph">
      สิ่งหนึ่งที่คนส่วนใหญ่รู้จักเกี่ยวกับดาวพฤหัสบดีคือ จุดแดงใหญ่บนดาวพฤหัสบดี (great red spot) ซึ่งอยู่ที่บริเวณใต้เส้นศูนย์สูตรลงไป 22 องศา ซึ่งเกิดจากลมพายุ คล้ายๆกับพายุเฮอร์ริเคน กินบริเวณกว้างจนสามารถสังเกตุเห็นได้โดยกล้องโทรทรรศน์จากโลก โดยมีขนาดใหญ่กว่าโลกถึง 2-3 เท่าเลยทีเดียว โดยมีการพบจุดแดงใหญ่บนดาวพฤหัสบดีครั้งแรกมานานกว่า 300 ปี
    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_jupiter.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>การสำรวจ</h2>
          </div>
        </div>
      </div> <!--header-->

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/6jupiter/jup(4).gif" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
      <div class="textbox">
             <p class="MessageParagraph">
      ยานอวกาศลำแรกที่ไปถึงดาวพฤหัสบดี คือ ยานไพโอเนียร์ 10 ที่ไปถึงในปี ค.ศ.1973 จากนั้นเป็นต้นมา มียานที่ไปถึงดาวพฤหัสบดีรวมกันแล้ว 7 ลำจนถึงปัจจุบัน ซึ่งยานลำล่าสุดที่ไปถึงดาวพฤหัสบดีคือ ยานจูโน (Juno) ที่ถึงดาวพฤหัสบดีในปี ค.ศ.2016
    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->

  
    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_jupiter.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>

      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>วงโคจร</h2> 
          </div>
        </div>
      </div> <!--header-->
      

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
       <!-- <img src="/image/2mercury/mer(5).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             
    <p class="MessageParagraph">
      ดาวพฤหัสบดีเป็นดาวเคราะห์ลำดับที่ 5 ในระบบสุริยะซึ่งมีระยะห่างเฉลี่ยจากดวงอาทิตย์ประมาณ 5 เท่าของระยะห่างเฉลี่ยระหว่างโลกและดวงอาทิตย์ โดยมีความแตกต่างระหว่างจุดใกล้ดวงอาทิตย์ที่สุดกับจุดไกลดวงอาทิตย์ที่สุดประมาณ 76.1 ล้านกิโลเมตร
    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/6jupiter/jup(5).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             <p class="MessageParagraph">
      ดาวพฤหัสบดีเป็นดาวเคราะห์ที่มีการโคจรรอบตัวเองเร็วที่สุดในระบบสุริยะโดยใช้เวลาเพียง 9.93 ชั่วโมง จึงทำให้ลักษณะของดาวพฤหัสบดีเป็นทรงกลมแป้นคือมีการโป่งออกบริเวณเส้นศูนย์สูตร โดยเส้นผ่านศูนย์กลางในแนวเส้นศูนย์สูตรมีขนาดยาวกว่าเส้นผ่านศูนย์กลางในแนวขั้วเหนือ-ใต้ถึง 9275 กิโลเมตร แกนการหมุนของดาวพฤหัสบดีมีความเอียงเพียง 3.1 องศา ซึ่งส่งผลให้ไม่มีการเปลี่ยนแปลงของฤดูกาลบนดาวพฤหัสบดี เนื่องจากดาวพฤหัสบดีไม่มีมีพื้นผิวที่เป็นของแข็งทำให้ชั้นบรรยากาศของดาวพฤหัสบดีใช้เวลาในการหมุนแตกต่างกันในบริเวณขั้วและในบริเวณเส้นศูนย์สูตรประมาณ 5 นาที โดยในบริเวณละติจูดตั้งแต่ 10 องศาเหนือถึง 10 องศาใต้มีคาบเวลาการหมุนรอบตัวเอง 9 ชั่วโมง 50 นาที 30 วินาที ส่วนในละติจูดอื่นๆ(บริเวณขั้วเหนือ-ใต้) มีคาบเวลาการหมุนรอบตัวเอง 9 ชั่วโมง 55 นาที 40.6 วินาที แต่คาบเวลาในการหมุนรอบตัวเองของดาวพฤหัสบดีที่ใช้อย่างเป็นทางการคือคาบเวลาการหมุนของแมกนีโตสเฟียร์ (magnetosphere) ของดาวพฤหัสบดี

    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->



    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_jupiter.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>




      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>โครงสร้าง</h2>
          </div>
        </div>
      </div> <!--header-->

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/6jupiter/jup(6).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             <p class="MessageParagraph">
      ดาวพฤหัสบดีมีองค์ประกอบที่คล้ายกับดวงอาทิตย์มากที่สุดเมื่อเทียบกับดาวเคราะห์ดวงอื่นๆในระบบสุริยะ โดยส่วนนอกสุดประกอบไปด้วยแก๊สไฮโดรเจนและฮีเลียมซึ่งมีอุณหภูมิประมาณ -110 องศาเซลเซียส เมื่อลึกเข้าไปในแกนกลางที่มีอุณหภูมิและความดันเพิ่มขึ้นสถานะของไฮโดรเจนและฮีเลียมจะเปลี่ยนแปลงไป โดยที่ความลึกประมาณ 7,000 กิโลเมตร จะมีอุณหภูมิประมาณ 2,000 องศาเซลเซียส ไฮโดรเจนจะค่อยๆเปลี่ยนสถานะเป็นของเหลว ส่วนที่ความลึกประมาณ 14,000 กิโลเมตร จะมีอุณหภูมิประมาณ 5,000 องศาเซลเซียส ไฮโดรเจนจะกลายเป็นเมแทลลิกไฮโดรเจน (metallic hydrogen) ซึ่งทำหน้าที่คล้ายเป็นโลหะเหลว ส่วนแกนกลางของดาวพฤหัสบดีที่ความลึกประมาณ 60,000 กิโลเมตร จะเป็นแกนแข็งที่ประกอบด้วย หิน โลหะ และสารประกอบไฮโดรเจน
    </p> <br>


        </div> 
      </div>

    </div> <!-- pic left -->



    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_jupiter.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>ชั้นบรรยากาศ</h2> 
          </div>
        </div>
      </div><!--header-->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/6jupiter/jup(7).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
           <p class="MessageParagraph">
      ชั้นบรรยากาศของดาวพฤหัสบดีประกอบด้วยแก๊สไฮโดรเจนเป็นหลักประมาณ 89.8 เปอร์เซนต์ ส่วนอีก 10.2 เปอร์เซนต์ที่เหลือประกอบไปด้วยแก๊สอื่นๆ เช่น ฮีเลียม แอมโมเนีย มีเทน อีเทน องค์ประกอบต่างๆเหล่านี้จะอยู่รวมกันอย่างหนาแน่นทำให้ดาวพฤหัสบดีปรากฏเป็นแถบสีที่สังเกตุเห็นได้อย่างชัดเจน โดยแก๊สในบริเวณเส้นศูนย์สูตรเมื่อได้รับพลังงานจากดวงอาทิตย์จะลอยตัวสูงขึ้นและเคลื่อนตัวไปยังบริเวณขั้ว ส่วนอากาศที่เย็นกว่าที่บริเวณขั้วจะเคลื่อนตัวลงมายังบริเวณที่ละติจูดต่ำกว่าทำให้เกิดการไหลเวียนของบรรยากาศ ซึ่งถ้าดาวพฤหัสบดีอยู่นิ่งๆแล้วการไหลเวียนของบรรยากาศจะไปในทิศทางเดียวกัน แต่เนื่องจากดาวพฤหัสบดีมีการหมุนรอบตัวเองด้วยทำให้นอกจากลมจะพัดจากเหนือ-ใต้แล้วยังพัดไปทางตะวันออก-ตะวันตกด้วย ทำให้เกิดการไหลเวียนของบรรยากาศเกิดขึ้นเป็นหย่อมเล็กๆบนดาวพฤหัสบดี ปรากฏการณ์นี้เองที่ทำให้เกิดแถบสีต่างๆบนดาวพฤหัสบดี โดยแถบสีขาวเกิดจากการเคลื่อนตัวของอากาศเย็น ประกอบด้วยแก๊สผลึกน้ำแข็งของแอมโมเนีย ส่วนแถบสีน้ำตาล-แดง เกิดจากการเคลื่อนตัวของอากาศที่อุ่นกว่า มีองค์ประกอบจำพวกซัลเฟอร์ (กำมะถัน), ฟอสฟอรัส และคาร์บอน 
    </p> <br>


        </div> 
      </div>

    </div> <!-- pic left -->


  </main>
</body>
    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>