<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_move.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/space1.png);width: 100%;height: 100vh;position:absolute;">
    <main>

      <body style="background-image: url(/image/BG.jpg);width: 100%;">  <!--background-->
  
  <main>
  <!--  Hello Hermes -->

    <div class="columns" style= "width: 100%; height: auto; " > 

      <div class="column is-one-quarter" style="width: 360px; height: auto; margin: 150px 0 150px 300px;">
        <img src="/image/saturn.png" style="width: 360px; height: auto; ">
        
      </div> 

      <div class="column has-text-centered">
        <div class="container has-text-left" style="  margin: 150px 360px 100px 0; color:white;"> 
            <h2 style="font-size: 150px  ">Saturn</h2><br>
            <h3 style="font-size: 100px">ดาวเสาร์</h3>
          </div>
        
      </div>
  
      </div> <!--header-->


      <div class="columns" style= "width: 100%; height: auto; " >
        <div class="container has-text-centered" style="width: 100px; height: auto; " >   <!-- picture column -->
          <img src="/image/scroll-down.png" style="width: 100px; height: auto; ">  
          </div> <!--separate-->
        </div>


    <div class="columns" style= "width: 100%; height: auto; margin: 100px; ;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/7saturn/sat-ani.gif" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">


              <table class="table">  <!-- short data table-->

                <tbody>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ลำดับในระบบสุริยะ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 6</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนวงแหวน :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 7</td>
                    <td class="cellbgcolor" style ="border:0px; " > วง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ประเภท :</td>
                    <td class="cellbgcolor" style ="border:0px; " > ดาวเคราห์แก๊ส</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะห่างจากดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 1,427</td>
                    <td class="cellbgcolor" style ="border:0px; " >ล้านกิโลเมตร</td>
                  </tr>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " > รัศมี :</td>
                    <td class="cellbgcolor" style ="border:0px; " >60,268</td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลเมตร</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่หมุนรอบตัวเอง :</td>
                    <td class="cellbgcolor" style ="border:0px; " >10.66</td>
                    <td class="cellbgcolor" style ="border:0px; " > ชั่วโมง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >มวล :</td>
                    <td class="cellbgcolor" style ="border:0px; " >5.6846x10<sup>26</sup></td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลกรัม</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่โคจรรอบดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >29.4</td>
                    <td class="cellbgcolor" style ="border:0px; " > ปี</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >อุณหภูมิ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >-140   </td>
                    <td class="cellbgcolor" style ="border:0px; " >องศาเซลเซียส</td>
                    <td class="cellbgcolor" style ="border:0px; " >สัญลักษณ์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > <img scr </td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนดาวบริวาร :</td>
                    <td class="cellbgcolor" style ="border:0px; " >62</td>
                    <td class="cellbgcolor" style ="border:0px; " >ดวง</td>
                    <td class="cellbgcolor" style ="border:0px; " >จุดเด่น :</td>
                    <td class="cellbgcolor" style ="border:0px; " >มีวงแหวนชัดเจน</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>


                </tbody>

              </table>  

        </div> 
      </div>

    </div> <!-- pic left -->





    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">
      
            <p class="MessageParagraph">

      ดาวเสาร์เป็นดาวเคราะห์ลำดับที่ 6 ในระบบสุริยะซึ่งมีขนาดใหญ่เป็นอันดับที่สองรองจากดาวพฤหัสบดี โดยเป็นดาวเคราะห์ที่อยู่ห่างไกลจากโลกมากที่สุดที่สามารถมองเห็นจากโลกได้ด้วยตาเปล่า องค์ประกอบหลักของดาวเสาร์จะเป็นแก๊สและของเหลว ดาวเสาร์มีลักษณะเป็นทรงกลมแป้นสูงกว่าดาวเคราะห์ดวงอื่นๆ กล่าวคือมีเส้นผ่านศูนย์กลางในแนวเส้นศูนย์สูตร (60,268 กิโลเมตร) มากกว่าเส้นผ่านศูนย์กลางในแนวขั้ว (54,364 กิโลเมตร) เกือบ 10 เปอร์เซนต์ ทั้งนี้เนื่องมากจากดาวเสาร์มีการหมุนโคจรรอบตัวเองที่เร็วมาก (ประมาณ 10.66 ชั่วโมง)

    </p> <br>

          </div> 
        </div>

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/7saturn/sat(1).jpg" style="width: 360px; height: auto; ">  
        </div>

    </div> <!-- pic right -->

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 100px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">

           <p class="MessageParagraph">

      ดาวเสาร์เป็นดาวเคราะห์ที่มีความสวยงามเมื่อมองผ่านกล้องโทรทรรศน์เนื่องจากจะมองเห็นวงแหวนที่ล้อมรอบดาวเสาร์ โดยวงแหวนของดาวเสาร์นั้นจะประกอบไปด้วยก้อนหินและก้อนน้ำแข็งซึ่งสามารถสะท้อนแสงได้ดี จึงสามารถสังเกตเห็นวงแหวนได้โดยง่าย วงแหวนของดาวเสาร์นี้มีความกว้างวัดจากขอบในสุดถึงขอบนอกสุดถึงประมาณ 65,000 กิโลเมตร แต่มีความหนาโดยเฉลี่ยเพียงประมาณ 1 กิโลเมตร

    </p> <br>

          </div> 
        </div>


      <div class="column is-one-quarter" style="width: 360px; height: 360px; " >   <!-- picture column -->
       <img src="/image/7saturn/sat(3).jpg" style="width: 360px; height: auto; ">  
        </div> 

    </div>  <!-- pic right -->  

  <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/7saturn/sat(4).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
            <p class="MessageParagraph">

      ดาวเสาร์เป็นดาวเคราะห์ที่มีดวงจันทร์บริวารจำนวนมาก อย่างน้อย 62 ดวง ในจำนวนนี้ มี 53 ดวงที่ได้รับการตั้งชื่อทางการแล้ว โดยดาวบริวารที่มีขนาดใหญ่ที่สุดคือไททัน(Titan) โดยมีเส้นผ่านศูนย์กลางถึง 5,150 กิโลเมตร ถูกค้นพบในปีค.ศ. 1655 และยังเป็นดาวบริวารเพียงดวงเดียวในระบบสุริยะที่ตรวจพบชั้นบรรยากาศ และของเหลว

    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->





    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/saturn.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>การสำรวจ</h2>
          </div>
        </div>
      </div> <!--header-->




    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/7saturn/sat(8).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
      <div class="textbox">
             <p class="MessageParagraph">

      ยานลำแรกที่ไปถึงดาวเสาร์คือ ยานไพโอเนียร์ 11 ไปถึงดาวเสาร์ในปี ค.ศ.1979 จากนั้นเป็นต้นมา ก็มียานอีกไม่กี่ลำที่ได้ไปสำรวจดาวเสาร์ โดยยานสำรวจดาวเสาร์ลำล่าสุดคือ ยานกัสซีนี-เฮยเคินส์ ที่ไปถึงและเริ่มโคจรรอบดาวเสาร์ในปี ค.ศ.2004

    </p> <br>
        </div> 
      </div>

    </div> <!-- pic left -->




  
    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/saturn.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>

      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>วงโคจร</h2> 
          </div>
        </div>
      </div> <!--header-->



      

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
       <img src="/image/7saturn/sat(5).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             
    <p class="MessageParagraph">

      ดาวเสาร์ใช้เวลา 29.46 ปี(ของโลก) ในการโคจรรอบดวงอาทิตย์ โดยแกนของดาวเสาร์มีความเอียง 26.7 องศา (ซึ่งใกล้เคียงกับโลกที่มีความเอียง 23.5 องศา) เมื่อดาวเสาร์โคจรรอบดวงอาทิตย์จะมีบางช่วงเวลาที่ขั้วเหนือชี้ไปยังดวงอาทิตย์และบางช่วงเวลาที่ขั้วใต้ชี้ไปยังดวงอาทิตย์ (เช่นเดียวกับโลก) ซึ่งจากเหตุการณ์ดังกล่าวเราสามารถสังเกตเห็นได้จากโลกจากลักษณะของวงแหวนดาวเสาร์ที่ปรากฏ เช่นเมื่อขั้วเหนือหันไปยังดวงอาทิตย์เราจะเห็นวงแหวนจากทางด้านบน เมื่อเวลาผ่านไปเราจะเริ่มสังเกตเห็นวงแหวนค่อยๆบางลงเรื่อยๆเนื่องจากดาวเสาร์เริ่มหันขั้วเหนือออกจากดวงอาทิตย์ และวงแหวนจะบางลงจนเราอาจสังเกตไม่เห็นเมื่อดาวเสาร์หันด้านข้างเข้าสู่โลก หลังจากนั้นเมื่อขั้วใต้ของดาวเสาร์เริ่มหันเข้าสู่ดวงอาทิตย์เราจะค่อยๆสังเกตเห็นวงแหวนหนาขึ้นอีกครั้งจากทางด้านล่างของวงแหวน และเป็นเช่นนี้สลับกันไปเรื่อยๆในแต่ละรอบของการโคจร

    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->





    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/saturn.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>




      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>โครงสร้าง</h2>
          </div>
        </div>
      </div> <!--header-->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
      <!--  <img src="/image/7saturn/sat(6).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             <p class="MessageParagraph">

      ดาวเสาร์มีมวลมากกว่าโลกเพียง 95 เท่า เมื่อเทียบกับปริมาตรที่มากกว่าโลกถึง 764 เท่า ทั้งนี้เนื่องจากดาวเสาร์ประกอบด้วยธาตุที่มีน้ำหนักเบาเป็นหลักคือ ฮีเลียมและ ไฮโดรเจน ในสถานะแก๊สและสถานะของเหลว ดาวเสาร์จึงมีความหนาแน่นเพียงประมาณ 0.7 กรัมต่อลูกบาศก์เซนติเมตร (ซึ่งมีความหนาแน่นน้อยกว่าน้ำ) นั่นคือถ้ามีมหาสมุทรที่ใหญ่พอ เราก็สามารถที่จะนำดาวเสาร์ไปลอยอยู่บนน้ำได้

    </p> <br>
        </div> 
      </div>

    </div> <!-- pic left -->



    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/7saturn/sat(7).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
            <p class="MessageParagraph">

      ดาวเสาร์ไม่ได้มีพื้นผิวที่เห็นได้ชัดเจน (ซึ่งต่างจากโลกที่มีพื้นผิวเป็นหิน) โดยถัดจากชั้นบรรยากาศของดาวเสาร์ที่เป็นแก๊สแล้ว เมื่อลึกลงไปในดาวเสาร์เรื่อยๆโมเลกุลของแก๊สนั้นจะถูกบีบอัดจากแรงดันบรรยากาศจนกลายเป็นของเหลวซึ่งถือว่าเป็นพื้นผิวของดาวเสาร์ ส่วนชั้นในของดาวเสาร์ซึ่งประกอบด้วยฮีเลียมและไฮโดรเจนเหลวที่มีการสูญเสียอิเล็กตรอนทำให้มีลักษณะคล้ายโลหะเหลวเคลื่อนที่อยู่ ทำให้ดาวเสาร์สร้างสนามแม่เหล็กขึ้นได้ โดยสนามแม่เหล็กนี้มีความเข้มข้นมากกว่าโลกกว่า 71 เปอร์เซนต์

    </p> <br>



        </div> 
      </div>

    </div> <!-- pic left -->





    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/saturn.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>ชั้นบรรยากาศ</h2> 
          </div>
        </div>
      </div><!--header-->




    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
      <!--  <img src="/image/7saturn/sat(8).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
        
    <p class="MessageParagraph">

      บรรยากาศชั้นนอกของดาวเสาร์ประกอบด้วยไฮโดรเจน 96.3 เปอร์เซนต์ และฮีเลียม 3.25 เปอร์เซนต์ นอกจากนั้นจะเป็นแก๊สอื่นๆ เช่น แอมโมเนีย อีเทน และมีเทน บรรยากาศชั้นนอกสุดนั้นมีอุณหภูมิประมาณ -140 องศาเซลเซียส
      เราเชื่อว่ากลุ่มของหมอกบนดาวเสาร์แบ่งออกเป็น 3 ชั้น โดยชั้นในสุดประกอบด้วยน้ำแข็งหนาประมาณ 10 กิโลเมตร ชั้นถัดมาประกอบด้วย แอมโมเนียมไฮโดรซัลไฟด์ (ammonium hydrosulfide) หนาประมาณ 50 กิโลเมตร ส่วนชั้นบนสุดเป็นกลุ่มหมอกของแอมโมเนียแข็ง (ammonia ice)  ทำให้ดาวเสาร์ปรากฏออกสีเหลือง ดาวเสาร์จัดว่าเป็นดาวเคราะห์ที่มีลมพายุพัดแรงที่สุดในระบบสุริยะ โดยยานสำรวจวอยเอเจอร์สามารถวัดความเร็วของพายุได้ถึง 1,800 กิโลเมตรต่อชั่วโมง


    </p> <br>


        </div> 
      </div>

    </div> <!-- pic left -->


  </main>
</body>
      
    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>