<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_move.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/space1.png);width: 100%;height: 100vh;position:absolute;">
    <main>

      <body style="background-image: url(/image/BG.jpg);width: 100%;">  <!--background-->
  
  <main>
  

    <div class="columns" style= "width: 100%; height: auto; " > 

      <div class="column is-one-quarter" style="width: 360px; height: auto; margin: 150px 0 150px 300px;">
        <img src="/image/uranus1.png" style="width: 360px; height: auto; ">
        
      </div> 

      <div class="column has-text-centered">
        <div class="container has-text-left" style="  margin: 150px 360px 100px 0; color:white;"> 
            <h2 style="font-size: 150px  ">Uranus</h2><br>
            <h3 style="font-size: 100px">ดาวยูเรนัส</h3>
          </div>
        
      </div>
  
      </div> <!--header-->


      <div class="columns" style= "width: 100%; height: auto; " >
        <div class="container has-text-centered" style="width: 100px; height: auto; " >   <!-- picture column -->
          <img src="/image/scroll-down.png" style="width: 100px; height: auto; ">  
          </div> <!--separate-->
        </div>


    <div class="columns" style= "width: 100%; height: auto; margin: 100px; ;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/8uranus/ura-ani.gif" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">


              <table class="table">  <!-- short data table-->

                <tbody>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ลำดับในระบบสุริยะ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 8</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนวงแหวน :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 6</td>
                    <td class="cellbgcolor" style ="border:0px; " > วง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ประเภท :</td>
                    <td class="cellbgcolor" style ="border:0px; " > ดาวเคราห์แก๊ส</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะห่างจากดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 4,498</td>
                    <td class="cellbgcolor" style ="border:0px; " >ล้านกิโลเมตร</td>
                  </tr>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " > รัศมี :</td>
                    <td class="cellbgcolor" style ="border:0px; " >24,764</td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลเมตร</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่หมุนรอบตัวเอง :</td>
                    <td class="cellbgcolor" style ="border:0px; " >16.11</td>
                    <td class="cellbgcolor" style ="border:0px; " > ชั่วโมง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >มวล :</td>
                    <td class="cellbgcolor" style ="border:0px; " >1.0243x10<sup>26</sup></td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลกรัม</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่โคจรรอบดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >164.8</td>
                    <td class="cellbgcolor" style ="border:0px; " > ปี</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >อุณหภูมิ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >-200   </td>
                    <td class="cellbgcolor" style ="border:0px; " >องศาเซลเซียส</td>
                    <td class="cellbgcolor" style ="border:0px; " >สัญลักษณ์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > <img scr </td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนดาวบริวาร :</td>
                    <td class="cellbgcolor" style ="border:0px; " >13</td>
                    <td class="cellbgcolor" style ="border:0px; " >ดวง</td>
                    <td class="cellbgcolor" style ="border:0px; " >จุดเด่น :</td>
                    <td class="cellbgcolor" style ="border:0px; " >ค้นพบจากการคำนวณโดยนักคณิตศาสตร์</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>


                </tbody>

              </table>  

        </div> 
      </div>

    </div> <!-- pic left -->





    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">
      
         <p class="MessageParagraph">

      ดาวยูเรนัส(หรือที่คนไทยเรียกดาวมฤตยู) เป็นดาวเคราะห์ลำดับที่ 7 ในระบบสุริยะที่มีขนาดใหญ่เป็นอันดับที่ 3 รองจากดาวพฤหัสบดีและดาวเสาร์ ดาวยูเรนัส ถูกค้นพบโดยเซอร์วิลเลียม เฮอร์เซล (Sir William Herschel) ในเดือนมีนาคม ค.ศ.1781 ต่อมาในเดือนมีนาคม ค.ศ.1977 นักดาราศาสตร์ที่หอดูดาวไคเปอร์ แอร์บอร์น (Kuiper Airborne Observatory) ได้ค้นพบว่าดาวยูเรนัสมีวงแหวนในระหว่างการศึกษาดาวยูเรนัส โดยพบว่าดาวยูเรนัสหายไปเป็นจำนวน 5 ครั้ง ซึ่งพวกเขาได้สรุปว่าดาวยูเรนัสน่าจะมีวงแหวนล้อมรอบอยู่ โดยวงแหวนดังกล่าวได้บดบังแสงจากดาวยูเรนัสไว้ ทำให้มองไม่เห็นดาวยูเรนัสเป็นบางช่วงเวลา

    </p> <br>

          </div> 
        </div>

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/8uranus/ura(1).jpg" style="width: 360px; height: auto; ">  
        </div>

    </div> <!-- pic right -->

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">
      
         <p class="MessageParagraph">

      ดาวยูเรนัสมีดวงจันทร์อย่างน้อย 27 ดวง โดยดวงจันทร์ในกลุ่มนี้ 22 ดวง มีขนาดเล็กมาก และมีวงโคจรใกล้กับดาวยูเรนัส ขณะที่ดวงจันทร์อีก 5 ดวง (มิแรนดา แอเรียล อัมเบรียล ทิทาเนีย และโอเบรอน) มีขนาดใหญ่กว่าและอยู่ห่างจากดาวยูเรนัสมากกว่า

    </p> <br>


          </div> 
        </div>

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
       <!-- <img src="/image/9neptune/nep(1).jpg" style="width: 360px; height: auto; ">  -->
        </div>

    </div> <!-- pic right -->



    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/uranus1.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>การสำรวจ</h2>
          </div>
        </div>
      </div> <!--header-->




    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/8uranus/ura(3).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
      <div class="textbox">
        <p class="MessageParagraph">

      ในปีค.ศ.1986 เมื่อยานสำรวจวอยเอเจอร์ 2 โคจรผ่านดาวยูเรนัสได้ถ่ายภาพดาวยูเรนัสพร้อมวงแหวนและดาวบริวารส่งกลับมายังโลกเป็นครั้งแรก อย่างไรก็ตามวงแหวนของดาวยูเรนัสมีความมืดมากเมื่อเทียบกับวงแหวนของดาวเสาร์ เราจึงสังเกตุเห็นวงแหวนของดาวยูเรนัสได้ยาก โดยวงแหวนที่สว่างที่สุดคือวงแหวน ε และดาวยูเรนัสแทบจะไม่มีรายละเอียดอะไรปรากฏบนพื้นผิวดาวเลย แต่ถ้าเราสังเกตดาวยูเรนัสในช่วงรังสีอื่นๆ เช่น รังสีอินฟราเรด จึงจะเห็นบางแถบเมฆและจุดที่มีอุณหภูมิอุ่นกว่าได้บ้าง

    </p> <br>
        </div> 
      </div>

    </div> <!-- pic left -->




  
    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/uranus1.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>

      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>วงโคจร</h2> 
          </div>
        </div>
      </div> <!--header-->



      

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
       <img src="/image/8uranus/ura(4).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             
    <p class="MessageParagraph">

      ดาวยูเรนัสใช้เวลา 84 ปี(ของโลก) ในการโคจรรอบดวงอาทิตย์ ดาวยูเรนัสมีการโคจรรอบตัวเองในทิศทางที่ตรงข้ามกับดาวเคราะห์ในระบบสุริยะดวงอื่นๆ (ยกเว้นดาวศุกร์) โดยมีแกนการโคจรรอบตัวเองทำมุม 98 องศากับระนาบการโคจร ส่งผลให้ขั้วเหนือและขั้วใต้ของดาวยูเรนัสหันเข้าหาดวงอาทิตย์ต่อเนื่องเป็นเวลาถึง 21 ปี เช่น เมื่อขั้วเหนือหันเข้าหาดวงอาทิตย์เป็นเวลา 21 ปี ขั้วใต้จะไม่ถูกแสงอาทิตย์เลย

    </p> <br>


        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
      <!-- <img src="/image/9neptune/nep(3).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             
    <p class="MessageParagraph">

      ถึงแม้ว่าดาวยูเรนัสจะหันขั้ว(เหนือหรือใต้)เข้าหาดวงอาทิตย์ ซึ่งทำให้บริเวณขั้วได้รับพลังงานจากดวงอาทิตย์มากกว่าบริเวณเส้นศูนย์สูตร แต่ก็ปรากฏว่าอุณหภูมิบริเวณเส้นศูนย์สูตรมีค่าสูงกว่าบริเวณขั้ว ซึ่งยังไม่ทราบว่าเกิดจากสาเหตุใด 

    </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->







    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/uranus1.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>




      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>โครงสร้าง</h2>
          </div>
        </div>
      </div> <!--header-->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/image/8uranus/ura(5).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
         <p class="MessageParagraph">

      แกนกลางของดาวยูเรนัสประกอบด้วยหินและน้ำแข็งมีรัศมีประมาณ 20 เปอร์เซนต์ของรัศมีของดาว มีน้ำหนักประมาณ 0.55 เท่าของโลก ส่วนแมนเทิลที่ล้อมรอบแกนกลางอยู่มีน้ำหนักประมาณ 13.4 เท่าของโลกประกอบไปด้วยน้ำ มีเทน และ แอมโมเนียแข็ง ส่วนรอบนอกสุดของดาวยูเรนัสประกอบไปด้วยแก๊สไฮโดรเจนและฮีเลียม ซึ่งมีมวลประมาณ 0.5 เท่าของโลก

    </p> <br>
        </div> 
      </div>

    </div> <!-- pic left -->



    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <!--<img src="/image/9neptune/nep(4).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
        <p class="MessageParagraph">

      โครงสร้างภายในดาวยูเรนัสที่เป็นของเหลว นั่นหมายถึงว่าดาวยูเรนัสไม่มีพื้นผิวที่เป็นของแข็ง ชั้นบรรยากาศที่เป็นแก๊สจะแทรกซ้อนอยู่กับพื้นผิวที่เป็นของเหลว ดังนั้นบริเวณที่กำหนดให้เป็นพื้นผิวของดาวยูเรนัสจึงนิยามให้เป็นบริเวณที่มีความดันบรรยากาศเป็น 1 บาร์(หรือ 100kPa) 
      องค์ประกอบของดาวยูเรนัสและดาวเนปจูนมีความแตกต่างจากดาวเสาร์และดาวพฤหัสบดี โดยพบว่าดาวยูเรนัสและดาวเนปจูนประกอบด้วยน้ำแข็งเป็นหลัก จึงอาจเรียกดาวยูเรนัสและดาวเนปจูนว่าเป็นดาวน้ำแข็งยักษ์ (ice gaints)


    </p> <br>





        </div> 
      </div>

    </div> <!-- pic left -->




    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/image/uranus1.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>ชั้นบรรยากาศ</h2> 
          </div>
        </div>
      </div><!--header-->




    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
       <!-- <img src="/image/9neptune/nep(5).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
        
    <p class="MessageParagraph">

      ชั้นบรรยากาศของดาวยูเรนัสประกอบด้วยไฮโดรเจน 82.5 เปอร์เซนต์ ฮีเลียม 15.2 เปอร์เซนต์ มีเทน 2.3 เปอร์เซนต์ โดยกลุ่มแก๊สมีเทนที่อยู่ในชั้นยอดเมฆของชั้นบรรยากาศที่หนาวเย็น (อุณหภูมิประมาณ -200 องศาเซลเซียส)  ดูดกลืนแสงสีแดงจากดาวอาทิตย์ ทำให้เรามองเห็นดาวยูเรนัสมีสีฟ้า ข้อมูลจากยานสำรวจวอยเอเจอร์ 2 พบว่ากลุ่มหมอกแอมโมเนียและน้ำมีการเคลื่อนที่ไปรอบๆดาว ซึ่งเป็นผลมาจากลมที่พัดและการโคจรรอบตัวเองของดาวยูเรนัส นอกจากนี้ยังพบอีกว่าการคายพลังงานจากดาวยูเรนัสและการรับพลังงานจากดวงอาทิตย์มีปริมาณที่ใกล้เคียงกัน ซึ่งส่งผลให้สภาพอากาศบนดาวยูเรนัสมีการเปลี่ยนแปลงไม่มากนัก

    </p> <br>



        </div> 
      </div>

    </div> <!-- pic left -->




  </main>
</body>
      
    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>