<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_dataVer2.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/space1.png);width: 100%;height: 100vh;position:absolute;">
    <main>
      
      <div class="columns">
        <div class="column" style="height: 800px;">
          <a href="/our-solar-system"><img src="/images/toon_venus.png" class="PictureShow"></a>
        </div>
        <div class="column">
          <article class="message is-info" style="width: 60%; margin-top: 25%;">
            <div class="message-header">
              <h3 class="HeadTitle"">ดาวศุกร์ (Venus)</h3>
              <a href="/our-solar-system"><button class="delete"></button></a>
            </div>
            <div class="message-body">
              <p class="MessageParagraph">
                ลำดับในระบบสุริยะ: 2<br>
                ประเภท: ดาวเคราะห์หิน<br>
                รัศมี: 6,052 กิโลเมตร<br>
                จำนวนดาวบริวาร: ไม่มี<br>
                ระยะห่างจากดวงอาทิตย์: 108.21 ล้านกิโลเมตร<br>
                ระยะเวลาที่หมุนรอบตัวเอง: 243.02 วัน (หมุนย้อนทางกับดาวเคราะห์ดวงอื่น)<br>
                ระยะเวลาที่โคจรรอบดวงอาทิตย์: 224.70 วัน<br>
                ฉายา: ฝาแฝดของโลก<br>
                <a href="/our-solar-system/full_venus" style="color:blue">See More...</a>
              </p>
            </div>
          </article>
        </div>
      </div>

    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>