<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Saturn-SolarSystem</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_dataVer3.css">
  {% block stylesheet %}{% endblock %}
</head>
<body style="width: 100%; height: auto;overflow:auto;">
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/galaxy1.jpg);width: 100%;height: auto;position:absolute;">

  <main>

    <div class="columns"> 

      <div class="piccover">
        <img src="/images/toon_saturn.png" style="height:410px;">
      </div> 

      <div>
          <div class="planetengname">Saturn</div>
          <div class="planetthainame">ดาวเสาร์</div>
      </div>
  
      </div> <!--headcover-->

      <div class="container" style="width:100px; margin-top: 75px;">
        <img src="/images/scroll-down2.gif">  
      </div> <!--scroll-down.gif-->


      <div class="topichead"> ข้อมูลจำเพาะ </div> <!--topichead-->


    <div class="columns content">  <!--content1 ข้อมูลจำเพาะ-->
      <!-- big column and add margin left right --> 

        <div class="container pic">   <!-- picture  -->
          <img src="/images/7saturn/sat-ani.gif" style="width:360px;">
        </div>

        <div class="righttextbox"> <!-- short data table-->
          
          <table>  <!-- short data table-->

                <tr>
                    <td>ลำดับในระบบสุริยะ :</td>
                    <td>6</td>
                    <td></td>
                    <td>จำนวนวงแหวน :</td>
                    <td>7</td>
                    <td>วง(ใหญ่)</td>
                  </tr>

                  <tr>
                    <td>ประเภท :</td>
                    <td>ดาวเคราะห์แก๊ส</td>
                    <td></td>
                    <td>ระยะห่างจากดวงอาทิตย์ :</td>
                    <td>1,427</td>
                    <td>ล้านกิโลเมตร</td>
                  </tr>

                  <tr>
                    <td>รัศมี :</td>
                    <td>60,268</td>
                    <td>กิโลเมตร</td>
                    <td>เวลาที่หมุนรอบตัวเอง :</td>
                    <td>10.66</td>
                    <td>ชั่วโมง</td>
                  </tr>

                  <tr>
                    <td>มวล :</td>
                    <td>5.6846 x 10<sup>26</sup></td>
                    <td>กิโลกรัม</td>
                    <td>เวลาที่โคจรรอบดวงอาทิตย์ :</td>
                    <td>29.4</td>
                    <td>ปี</td>
                  </tr>

                  <tr>
                    <td>อุณหภูมิ :</td>
                    <td>-140   </td>
                    <td>องศาเซลเซียส</td>
                    <td>สัญลักษณ์ :</td>
                    <td><img src="/images/7saturn/symbol_saturn.gif" style="width: 20px;"></td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>จำนวนดาวบริวาร :</td>
                    <td>62</td>
                    <td>ดวง</td>
                    <td>จุดเด่น :</td>
                    <td colspan="2">มีวงแหวนชัดเจน</td>
                    
                  </tr>

              </table>  
      </div> 

    </div>


    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_saturn.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--saturn.png-->


    <div class="columns content" style="margin-top:150px;">  <!--shortcontent1(content2)-->

      <div class="lefttextbox"> 
          <p> 
            ดาวเสาร์เป็นดาวเคราะห์ลำดับที่ 6 ในระบบสุริยะซึ่งมีขนาดใหญ่เป็นอันดับที่สองรองจากดาวพฤหัสบดี โดยเป็นดาวเคราะห์ที่อยู่ห่างไกลจากโลกมากที่สุดที่สามารถมองเห็นจากโลกได้ด้วยตาเปล่า องค์ประกอบหลักของดาวเสาร์จะเป็นแก๊สและของเหลว ดาวเสาร์มีลักษณะเป็นทรงกลมแป้นสูงกว่าดาวเคราะห์ดวงอื่นๆ กล่าวคือมีเส้นผ่านศูนย์กลางในแนวเส้นศูนย์สูตร (60,268 กิโลเมตร) มากกว่าเส้นผ่านศูนย์กลางในแนวขั้ว (54,364 กิโลเมตร) เกือบ 10 เปอร์เซนต์ ทั้งนี้เนื่องมากจากดาวเสาร์มีการหมุนโคจรรอบตัวเองที่เร็วมาก (ประมาณ 10.66 ชั่วโมง)
        </p>

      </div> 

        <div class="container pic">   <!-- picture-->
        <img src="/images/7saturn/sat(1).jpg" style="width: 360px;">
        </div>

    </div>


    <div class="columns content">  <!--shortcontent2(content2)-->

      <div class="container pic">   
        <img src="/images/7saturn/sat(3).jpg" style="width: 360px;">
        </div>

      <div class="righttextbox"> 
          <p> 
            ดาวเสาร์เป็นดาวเคราะห์ที่มีความสวยงามเมื่อมองผ่านกล้องโทรทรรศน์เนื่องจากจะมองเห็นวงแหวนที่ล้อมรอบดาวเสาร์ โดยวงแหวนของดาวเสาร์นั้นจะประกอบไปด้วยก้อนหินและก้อนน้ำแข็งซึ่งสามารถสะท้อนแสงได้ดี จึงสามารถสังเกตเห็นวงแหวนได้ง่าย วงแหวนของดาวเสาร์นี้มีความกว้างวัดจากขอบในสุดถึงขอบนอกสุดถึงประมาณ 65,000 กิโลเมตร แต่มีความหนาโดยเฉลี่ยเพียงประมาณ 1 กิโลเมตร
        </p>
      </div> 

    </div>

    <div class="columns content" style="margin-top:150px;">  <!--shortcontent1(content2)-->

      <div class="lefttextbox"> 
          <p> 
            ดาวเสาร์เป็นดาวเคราะห์ที่มีดวงจันทร์บริวารจำนวนมาก อย่างน้อย 62 ดวง ในจำนวนนี้ มี 53 ดวงที่ได้รับการตั้งชื่ออย่างเป็นทางการแล้ว โดยดาวบริวารที่มีขนาดใหญ่ที่สุดคือ ไททัน (Titan) โดยมีเส้นผ่านศูนย์กลางถึง 5,150 กิโลเมตร ถูกค้นพบในปีค.ศ. 1655 และยังเป็นดาวบริวารเพียงดวงเดียวในระบบสุริยะที่ตรวจพบชั้นบรรยากาศ และของเหลว 
        </p>

      </div> 

        <div class="container pic">   <!-- picture-->
        <img src="/images/7saturn/sat(4).jpg" style="width: 360px;">
        </div>

    </div>

    
    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_saturn.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--saturn.png-->

    

    <div class="topichead">การสำรวจ</div> <!--topichead-->

      <div class="container piccontent" style="width: 400px;">   
        <img src="/images/7saturn/sat(8).jpg" style="width: 400px;">
        </div>

      <div class="content">  <!--content3-->

        <div class="textbox" style="margin-right:120px; margin-left:120px;"> 
            <p> 
              ยานลำแรกที่ไปถึงดาวเสาร์คือ ยานไพโอเนียร์ 11 ไปถึงดาวเสาร์ในปี ค.ศ.1979 จากนั้นเป็นต้นมา ก็มียานอีกไม่กี่ลำที่ได้ไปสำรวจดาวเสาร์ โดยยานสำรวจดาวเสาร์ลำล่าสุดคือ ยานกัสซีนี-เฮยเคินส์ ที่ไปถึงและเริ่มโคจรรอบดาวเสาร์ในปี ค.ศ.2004
          </p>
        </div> 

      </div>


    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_saturn.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--saturn.png-->


    <div class="topichead">วงโคจร</div> <!--topichead-->


      <div class="container piccontent" style="width: 500px;">   
        <img src="/images/7saturn/sat(5).jpg" style="width: 500px;">
      </div>

      <div class="content">  <!--content3-->

          <div class="textbox"> 
            <p> 
              ดาวเสาร์ใช้เวลา 29.46 ปี (ของโลก) ในการโคจรรอบดวงอาทิตย์ โดยแกนของดาวเสาร์มีความเอียง 26.7 องศา (ซึ่งใกล้เคียงกับโลกที่มีความเอียง 23.5 องศา) เมื่อดาวเสาร์โคจรรอบดวงอาทิตย์จะมีบางช่วงเวลาที่ขั้วเหนือชี้ไปยังดวงอาทิตย์และบางช่วงเวลาที่ขั้วใต้ชี้ไปยังดวงอาทิตย์ (เช่นเดียวกับโลก) ซึ่งจากเหตุการณ์ดังกล่าวเราสามารถสังเกตเห็นได้จากโลกจากลักษณะของวงแหวนดาวเสาร์ที่ปรากฏ เช่นเมื่อขั้วเหนือหันไปยังดวงอาทิตย์เราจะเห็นวงแหวนจากทางด้านบน เมื่อเวลาผ่านไปเราจะเริ่มสังเกตเห็นวงแหวนค่อยๆบางลงเรื่อยๆเนื่องจากดาวเสาร์เริ่มหันขั้วเหนือออกจากดวงอาทิตย์ และวงแหวนจะบางลงจนเราอาจสังเกตไม่เห็นเมื่อดาวเสาร์หันด้านข้างเข้าสู่โลก หลังจากนั้นเมื่อขั้วใต้ของดาวเสาร์เริ่มหันเข้าสู่ดวงอาทิตย์เราจะค่อยๆสังเกตเห็นวงแหวนหนาขึ้นอีกครั้งจากทางด้านล่างของวงแหวน และเป็นเช่นนี้สลับกันไปเรื่อยๆในแต่ละรอบของการโคจร
            </p>
          </div> 

      </div>

      <div class="container piccontent" style="width: 500px;">   
        <img src="/images/7saturn/sat(6).jpg" style="width: 500px;">
        </div>




    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_saturn.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--saturn.png-->



    <div class="topichead">โครงสร้าง</div>  <!--topichead-->
      
      
      <div class="content">  <!--content4-->

        <div class="textbox" style="margin-left:175px; margin-right:175px;"> 
            <p>
              ดาวเสาร์มีมวลมากกว่าโลกเพียง 95 เท่า เมื่อเทียบกับปริมาตรที่มากกว่าโลกถึง 764 เท่า ทั้งนี้เนื่องจากดาวเสาร์ประกอบด้วยธาตุที่มีน้ำหนักเบาเป็นหลักคือ ฮีเลียมและ ไฮโดรเจน ในสถานะแก๊สและสถานะของเหลว ดาวเสาร์จึงมีความหนาแน่นเพียงประมาณ 0.7 กรัมต่อลูกบาศก์เซนติเมตร (ซึ่งมีความหนาแน่นน้อยกว่าน้ำ) นั่นคือถ้ามีมหาสมุทรที่ใหญ่พอ เราก็สามารถนำดาวเสาร์ไปลอยอยู่บนน้ำได้
            </p>
        </div> 

      </div>

      <div class="container piccontent" style="width: 400px;">   
        <img src="/images/7saturn/sat(7).jpg" style="width: 400px;">
        </div>


      <div class="content">  <!--content4-->

        <div class="textbox" style="margin-left:175px; margin-right:175px;"> 
            <p>
            ดาวเสาร์ไม่ได้มีพื้นผิวที่เห็นได้ชัดเจน (ซึ่งต่างจากโลกที่มีพื้นผิวเป็นหิน) โดยถัดจากชั้นบรรยากาศของดาวเสาร์ที่เป็นแก๊สแล้ว เมื่อลึกลงไปในดาวเสาร์เรื่อย ๆ โมเลกุลของแก๊สนั้นจะถูกบีบอัดจากแรงดันบรรยากาศจนกลายเป็นของเหลว ซึ่งถือว่าเป็นพื้นผิวของดาวเสาร์ ส่วนชั้นในของดาวเสาร์ซึ่งประกอบด้วยฮีเลียมและไฮโดรเจนเหลวที่มีการสูญเสียอิเล็กตรอน ทำให้มีลักษณะคล้ายโลหะเหลวเคลื่อนที่อยู่ ทำให้ดาวเสาร์สร้างสนามแม่เหล็กขึ้นได้ โดยสนามแม่เหล็กนี้มีความเข้มข้นมากกว่าโลกกว่า 71 เปอร์เซนต์
        </div> 

      </div>


  

    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_saturn.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--saturn.png-->


    <div class="topichead">ชั้นบรรยากาศ</div> <!--topichead-->

     <!-- <div class="container piccontent">   
        <img src="/image/2mercury/mer(5).jpg" style="width: 360px;">
      </div> -->

      <div class="content"> <!--content5--> 
        <div class="textbox">
            <p> 
            บรรยากาศชั้นนอกของดาวเสาร์ประกอบด้วยไฮโดรเจน 96.3 เปอร์เซนต์ และฮีเลียม 3.25 เปอร์เซนต์ นอกจากนั้นจะเป็นแก๊สอื่นๆ เช่น แอมโมเนีย อีเทน และมีเทน บรรยากาศชั้นนอกสุดนั้นมีอุณหภูมิประมาณ -140 องศาเซลเซียส
            เราเชื่อว่ากลุ่มของหมอกบนดาวเสาร์แบ่งออกเป็น 3 ชั้น โดยชั้นในสุดประกอบด้วยน้ำแข็งหนาประมาณ 10 กิโลเมตร ชั้นถัดมาประกอบด้วย แอมโมเนียมไฮโดรซัลไฟด์ (ammonium hydrosulfide) หนาประมาณ 50 กิโลเมตร ส่วนชั้นบนสุดเป็นกลุ่มหมอกของแอมโมเนียแข็ง (ammonia ice)  ทำให้ดาวเสาร์ปรากฏออกสีเหลือง ดาวเสาร์จัดว่าเป็นดาวเคราะห์ที่มีลมพายุพัดแรงที่สุดในระบบสุริยะ โดยยานสำรวจวอยเอเจอร์สามารถวัดความเร็วของพายุได้ถึง 1,800 กิโลเมตรต่อชั่วโมง
          </p>
        </div>
      </div> 

    <!--
    <div class="container planetpng" style="width:120px;">
        <img src="/images/toon_saturn.png" style="margin-bottom:200px">  
    </div> saturn.png-->
    <div style="padding-top: 200px;padding-left: 25%;padding-right:auto;">
      <a href="/our-solar-system/sun">
        <img src="/images/toon_sun3.png" title="ดวงอาทิตย์" style="margin-bottom:200px; width: 11%;height: 11%;">
      </a>
      <a href="/our-solar-system/mercury">
        <img src="/images/toon_mercury.png" title="ดาวพุธ" style="padding-left: 20px;margin-bottom:200px; width: 4%;height: 4%;">
      </a>
      <a href="/our-solar-system/venus">
        <img src="/images/toon_venus.png" title="ดาวศุกร์" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/earth">
        <img src="/images/toon_earth.png" title="ดาวโลก" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/mars">
        <img src="/images/toon_mars.png" title="ดาวอังคาร" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/jupiter">
        <img src="/images/toon_jupiter.png" title="ดาวพฤหัสบดี" style="padding-left: 18px;margin-bottom:200px; width: 9%;height: 9%;">
      </a>
      <a href="/our-solar-system/saturn">
        <img src="/images/toon_saturn.png" title="ดาวเสาร์" style="padding-left: 10px;margin-bottom:200px; width: 9%;height: 9%;">
      </a>
      <a href="/our-solar-system/uranus">
        <img src="/images/toon_uranus.png" title="ดาวยูเรนัส" style="padding-left: 10px;margin-bottom:200px; width: 8%;height: 8%;">
      </a>
      <a href="/our-solar-system/neptune">
        <img src="/images/toon_neptune.png" title="ดาวเนปจูน" style="padding-left: 10px;margin-bottom:200px; width: 6%;height: 6%;">
      </a>
    </div>    
      
  </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>