<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sun-SolarSystem</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_dataVer3.css">
  {% block stylesheet %}{% endblock %}
</head>
<body style="width: 100%; height: auto;overflow:auto;">
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/galaxy1.jpg);width: 100%;position:absolute;">

  <main>

    <div class="columns"> 

      <div class="piccover">
        <img src="/images/toon_sun3.png" style="height:410px;">
      </div> 

      <div>
          <div class="planetengname">Sun</div>
          <div class="planetthainame">ดวงอาทิตย์</div>
      </div>
  
      </div> <!--headcover-->

      <div class="container" style="width:100px; margin-top: 75px;">
        <img src="/images/scroll-down2.gif">  
      </div> <!--scroll-down.gif-->


      <div class="topichead"> ข้อมูลจำเพาะ </div> <!--topichead-->


    <div class="columns content">  <!--content1 ข้อมูลจำเพาะ-->
      <!-- big column and add margin left right --> 

        <div class="container pic">   <!-- picture  -->
        <img src="/images/1sun/sun-ani.gif" style="width:360px;">
        </div>

      <div class="righttextbox"> <!-- short data table-->
          
          <table>  <!-- short data table-->

          <tr>
              <td>ประเภท :</td>
              <td>ดาวฤกษ์</td>
              <td></td>
              <td>จำนวนดาวบริวาร :</td>
              <td>8</td>
              <td>ดวง</td>
            </tr>

            <tr>
              <td>รัศมี :</td>
              <td>696,000</td>
              <td>กิโลเมตร</td>
              <td>ระยะเวลาที่หมุนรอบตัวเอง :</td>
              <td>25</td>
              <td>วัน</td>
              
            </tr>

          <tr>
              <td>มวล :</td>
              <td>1.9891 x 10<sup>30</sup></td>
              <td>กิโลกรัม</td>
              <td>สัญลักษณ์ :</td>
              <td><img src="/images/1sun/symbol_sun.gif" style="width: 20px;"></td>
              <td></td>
              
            </tr>

            <tr>
              <td>อุณหภูมิ :</td>
              <td>พื้นผิว 5,500 <br>องศาเคลวิน</td>
              <td>แกนกลาง 15 <br>ล้านองศาเคลวิน</td>
              <td>จุดเด่น :</td>
              <td colspan="2">เป็นศูนย์กลางของระบบสุริยะ</td>

            </tr>

          </table>

      </div> 

    </div>




    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_sun3.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--sun.png-->


    <div class="columns content" style="margin-top:150px;">  <!--shortcontent1(content2)-->

      <div class="lefttextbox"> 
          <p> 
            ดวงอาทิตย์เป็นดาวฤกษ์ที่อยู่ที่ศูนย์กลางของระบบสุริยะซึ่งถือกำเนิดขึ้นมากว่า 4.6 พันล้านปี ดวงอาทิตย์มีมวล<br>มากกว่ามวลรวมของดาวเคราะห์ทั้งหมดในระบบสุริยะถึง 750 เท่า แกนกลางของดวงอาทิตย์เปรียบเสมือนเตาปฏิกรณ์<br>นิวเคลียร์ฟิวชันที่หลอมอะตอมของไฮโดรเจนกลายเป็นฮีเลียมและปลดปล่อยพลังงานออกมาในปริมาณมหาศาลขึ้นสู่พื้นผิวของดวงอาทิตย์
        </p>

        <p>
          ดวงอาทิตย์อยู่ในดาราจักรทางช้างเผือกโดยห่างจากศูนย์กลางดาราจักรทางช้างเผือกประมาณ 24000-26000 ปีแสง <br>การโคจรรอบดาราจักร 1 รอบใช้เวลา 225-250 ล้านปี ด้วยความเร็วเฉลี่ยในการโคจร 251 กิโลเมตรต่อวินาที ดวงอาทิตย์<br>เป็นดาวฤกษ์ขนาดเล็กเมื่อเทียบกับดาวฤกษ์อื่นๆ บนฟ้า แต่เนื่องจากดวงอาทิตย์เป็นดาวฤกษ์ที่อยู่ใกล้โลกที่สุด เราจึงสังเกต<br>เห็นดวงอาทิตย์มีขนาดใหญ่
        </p>

      </div> 

        <div class="container pic">   <!-- picture-->
        <img src="/images/1sun/sun(1).jpg" style="width: 360px;">
        </div>

    </div>


    <div class="columns content">  <!--shortcontent2(content2)-->

      <div class="container pic">   
        <img src="/images/1sun/sun(4).jpg" style="width: 360px;">
        </div>

      <div class="righttextbox"> 
          <p> 
            กิจกรรมต่างๆบนดวงอาทิตย์นี้เป็นผลมาจากการโค้งงอและบิดตัวของเส้นแรงแม่เหล็กในชั้นบรรยากาศดวงอาทิตย์ ซึ่งส่งผลให้เกิดจุดบนดวงอาทิตย์ (Sunspots) และเปลวสุริยะ (Solar flares) และแสงจากดวงอาทิตย์เดินทางมาถึงโลกใช้เวลาประมาณ 8 นาที

        </p>
      </div> 

    </div>


    

    
    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_sun3.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--sun.png-->



    <div class="topichead">โครงสร้าง</div>  <!--topichead-->
      
      <div class="container piccontent">   
        <img src="/images/1sun/sun(5).jpg" style="width: 360px;">
        </div>

      <div class="content">  <!--content4-->

        <div class="textbox" style="margin-left:175px; margin-right:175px;"> 
            <p>
            องค์ประกอบทั้งหมดของดวงอาทิตย์นั้นประกอบไปด้วยไฮโดรเจน 71 เปอร์เซนต์(โดยน้ำหนัก) และ ฮีเลียม 27 เปอร์เซนต์ นอกจากนั้น ยังมีออกซิเจน คาร์บอน นีออนและเหล็ก ดวงอาทิตย์มีโครงสร้างภายในที่แบ่งออกได้เป็น 3 ชั้น โดยแต่ละชั้นนั้นอาจมีขอบเขตการแบ่งจากกันได้ไม่ชัดเจนนัก แกนกลางของดวงอาทิตย์ที่มีอุณหภูมิสูงถึง 15 ล้านองศาเซลเซียสจะเป็นชั้นที่เกิด<br>ปฏิกิริยานิวเคลียร์ฟิวชันโดยเปลี่ยนอะตอมของไฮโดรเจนไปเป็นฮีเลียมด้วยอัตรา 4.4 ล้านตันต่อวินาที ซึ่งปฏิกิริยานิวเคลียร์<br>ดังกล่าวจะปลดปล่อยพลังงานปริมาณมหาศาลในรูปของโฟตอนที่แผ่รังสีแม่เหล็กไฟฟ้าออกมาจากแกนกลางผ่านชั้นถัดมาของ<br>ดวงอาทิตย์ที่มีอุณหภูมิต่ำกว่าเล็กน้อยคือชั้นเขตแผ่รังสีความร้อน 
          </p>
        </div> 

        <div class="textbox" style="margin-left:175px; margin-right:175px; margin-top:50px;"> 
          <p>
            เขตแผ่รังสีความร้อน (radiative zone) จะมีอุณหภุมิประมาณ 5 ล้านองศาเซลเซียส โดยพลังงานจากแกนกลางของ<br>ดวงอาทิตย์จะใช้เวลากว่า 1 ล้านปีในการเดินทางผ่านเขตแผ่รังสีความร้อนนี้ออกมายังส่วนนอกสุดของดวงอาทิตย์ ส่วนโครงสร้าง<br>ชั้นนอกสุดของดวงอาทิตย์คือ เขตพาความร้อน (convective zone) ซึ่งชั้นนี้จะเริ่มตั้งแต่พื้นผิวที่มองเห็นของดวงอาทิตย์ลงไป<br>จนความลึก 200000 กิโลเมตร พลังงานจะส่งผ่านชั้นนี้ออกไปยังพื้นผิวของดวงอาทิตย์โดยการพาความร้อน 
          </p>
        </div> 

      </div>

  

    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_sun3.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--sun.png-->


    <div class="topichead">ชั้นบรรยากาศ</div> <!--topichead-->

      <div class="container piccontent">   
        <img src="/images/1sun/sun(6).jpg" style="width: 360px;">
        </div> 

      <div class="content"> <!--content5--> 
        <div class="textbox">
            <p> 
              พื้นผิวของดวงอาทิตย์ที่ปรากฏให้เราเห็นเรียกว่าชั้นโฟโตสเฟียร์ (photosphere) เป็นชั้นที่แสงสว่างถูกปลดปล่อยออกมาจากดวงอาทิตย์<br>สู่อวกาศ ชั้นโฟโตสเฟียร์นี้อาจมีความหนาเป็นสิบถึงหลายร้อยกิโลเมตร โดยส่วนบนสุดจะมีอุณหภูมิที่ต่ำกว่าส่วนที่อยู่ลึกลงไปทำให้เมื่อเราถ่ายภาพ<br>ดวงอาทิตย์จะเห็นบริเวณขอบของดวงอาทิตย์มีความสว่างน้อยกว่าส่วนที่อยู่บริเวณตรงกลาง บริเวณบางส่วนของชั้นโฟโตสเฟียร์นั้นอาจมีอุณหภูมิ<br>ที่ต่ำกว่าบริเวณรอบข้างซึ่งทำให้ปรากฏเป็นจุดดำบนดวงอาทิตย์ (sunspots) โดยจุดดำบนดวงอาทิตย์เหล่านี้ไม่ใช่ลักษณะที่มีอยู่อย่างถาวร <br>แต่มีการเปลี่ยนแปลงรูปร่างและขนาดได้ สามารถเกิดขึ้นและสลายตัวได้ตลอดเวลา จุดเหล่านี้อาจจะมองเห็นเป็นจุดดำแต่แท้ที่จริงแล้วบริเวณเหล่านี้<br>มีอุณหภูมิสูงถึง 4300-4800 องศาเซลเซียส (ซึ่งเย็นกว่าบริเวณอื่นๆ ที่มีอุณหภูมิประมาณ 5500 องศาเซลเซียส)
          </p>
        </div>

        <div class="textbox" style="margin-top:50px;">

          <p>
            ชั้นบรรยากาศของดวงอาทิตย์อยู่ถัดจากชั้นโฟโตสเฟียร์ขึ้นไปคือชั้นโครโมสเฟียร์ (chromosphere) เป็นชั้นที่มีความหนา 2000 กิโลเมตร <br>ที่บริเวณบนสุดของชั้นนี้จะมีอุณหภูมิประมาณ 20000 องศาเซลเซียส เหนือขึ้นไปจากชั้นโครโมสเฟียร์จะเป็นเขตเปลี่ยนผ่าน (transition region) <br>ซึ่งเป็นชั้นบางๆ มีความหนาประมาณ 200 กิโลเมตร ชั้นนี้จะมีอุณหภูมิเพิ่มขึ้นอย่างรวดเร็วจากชั้นบนสุดของชั้นโครโมสเฟียร์ที่มีอุณหภูมิประมาณ 20000 องศาเซลเซียสไปเป็นอุณหภูมิกว่า 1 ล้านองศาเซลเซียสที่บริเวณบนสุดของชั้นนี้ซึ่งเชื่อมต่อกับชั้นโคโรนา (corona) ของดวงอาทิตย์
          </p>
        </div>

        <div class="textbox" style="margin-top:50px;">

          <p>
            ชั้นโคโรนาเป็นชั้นบรรยากาศนอกสุดของดวงอาทิตย์ ซึ่งเป็นบริเวณที่มีปริมาตรมากกว่าปริมาตรของดวงอาทิตย์เสียอีก โคโรนาจะขยายไปในอวกาศในรูปแบบของลมสุริยะ (solar wind) ซึ่งเป็นอนุภาคความเร็วสูงที่ถูกปล่อยมาจากดวงอาทิตย์ทุกทิศทุกทางตลอดเวลา อุณหภูมิเฉลี่ยของ<br>โคโรนาและลมสุริยะคือประมาณ 1-2 ล้านองศาเซลเซียส แต่อย่างไรก็ตามส่วนที่ร้อนที่สุดอาจมีอุณหภูมิถึง 8-20 ล้านองศาเซลเซียส
            
          </p>

        </div>
      </div> 

      <!--
    <div class="container planetpng" style="width:120px;">
        <img src="/images/toon_sun3.png" style="margin-bottom:200px">  
    </div> sun.png-->
    <div style="padding-top: 200px;padding-left: 25%;padding-right:auto;">
      <a href="/our-solar-system/sun">
        <img src="/images/toon_sun3.png" title="ดวงอาทิตย์" style="margin-bottom:200px; width: 11%;height: 11%;">
      </a>
      <a href="/our-solar-system/mercury">
        <img src="/images/toon_mercury.png" title="ดาวพุธ" style="padding-left: 20px;margin-bottom:200px; width: 4%;height: 4%;">
      </a>
      <a href="/our-solar-system/venus">
        <img src="/images/toon_venus.png" title="ดาวศุกร์" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/earth">
        <img src="/images/toon_earth.png" title="ดาวโลก" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/mars">
        <img src="/images/toon_mars.png" title="ดาวอังคาร" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/jupiter">
        <img src="/images/toon_jupiter.png" title="ดาวพฤหัสบดี" style="padding-left: 18px;margin-bottom:200px; width: 9%;height: 9%;">
      </a>
      <a href="/our-solar-system/saturn">
        <img src="/images/toon_saturn.png" title="ดาวเสาร์" style="padding-left: 10px;margin-bottom:200px; width: 9%;height: 9%;">
      </a>
      <a href="/our-solar-system/uranus">
        <img src="/images/toon_uranus.png" title="ดาวยูเรนัส" style="padding-left: 10px;margin-bottom:200px; width: 8%;height: 8%;">
      </a>
      <a href="/our-solar-system/neptune">
        <img src="/images/toon_neptune.png" title="ดาวเนปจูน" style="padding-left: 10px;margin-bottom:200px; width: 6%;height: 6%;">
      </a>
    </div>
      
  </main>
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>