<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_dataVer2.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/galaxy1.jpg);width: 100%;height: auto;position:absolute;">

  
<main>

    <div class="columns"> 

      <div class="piccover">
        <img src="/images/toon_neptune.png" style="height:410px;">
      </div> 

      <div>
          <div class="planetengname">Neptune</div>
          <div class="planetthainame">ดาวเนปจูน</div>
      </div>
  
      </div> <!--headcover-->

      <div class="container" style="width:100px; margin-top: 75px;">
        <img src="/images/scroll-down2.gif">  
      </div> <!--scroll-down.gif-->


      <div class="topichead"> ข้อมูลจำเพาะ </div> <!--topichead-->


    <div class="columns content">  <!--content1 ข้อมูลจำเพาะ-->
      <!-- big column and add margin left right --> 

        <div class="container pic">   <!-- picture  -->
        <img src="/images/9neptune/nep-ani.gif" style="width:360px;">
        </div>

      <div class="righttextbox"> <!-- short data table-->
          
           <table>

                <tr>
                  
                    <td>ลำดับในระบบสุริยะ :</td>
                    <td>8</td>
                    <td></td>
                    <td>จำนวนวงแหวน :</td>
                    <td>6</td>
                    <td>วง</td>
                  </tr>

                  <tr>
                    <td>ประเภท :</td>
                    <td>ดาวเคราะห์แก๊ส</td>
                    <td></td>
                    <td>ระยะห่างจากดวงอาทิตย์ :</td>
                    <td>4,498</td>
                    <td>ล้านกิโลเมตร</td>
                  </tr>

                <tr>
                    <td>รัศมี :</td>
                    <td>24,764</td>
                    <td>กิโลเมตร</td>
                    <td>เวลาที่หมุนรอบตัวเอง :</td>
                    <td>16.11</td>
                    <td>ชั่วโมง</td>
                  </tr>

                  <tr>
                    <td>มวล :</td>
                    <td>1.0243 x 10<sup>26</sup></td>
                    <td>กิโลกรัม</td>
                    <td>เวลาที่โคจรรอบดวงอาทิตย์ :</td>
                    <td>164.8</td>
                    <td>ปี</td>
                  </tr>

                  <tr>
                    <td>อุณหภูมิ :</td>
                    <td>-200   </td>
                    <td>องศาเซลเซียส</td>
                    <td>สัญลักษณ์ :</td>
                    <td><img src="/images/9neptune/symbol_neptune.gif" style="width: 20px;"></td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>จำนวนดาวบริวาร :</td>
                    <td>13</td>
                    <td>ดวง</td>
                    <td>จุดเด่น :</td>
                    <td colspan="2">ค้นพบจากการคำนวณ<br>ทางคณิตศาสตร์</td>
                  </tr>
              </table> 

      </div> 

    </div>


    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_neptune.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--neptune.png-->


    <div class="columns content" style="margin-top:150px;">  <!--shortcontent1(content2)-->

      <div class="lefttextbox"> 
          <p> 
            ดาวเนปจูน (หรือที่คนไทยเรียกดาวเกตุ) เป็นดาวเคราะห์สุดท้ายคือลำดับที่ 8 เป็นดาวเคราะห์ที่อยู่ห่างจากดวงอาทิตย์ที่สุดในระบบสุริยะ (ห่างออกไปถึง 30 เท่าของระยะจากโลกถึงดวงอาทิตย์) มีขนาดเล็กที่สุดและหนาวเย็นที่สุดในบรรดาดาวเคราะห์แก๊ส ดาวเนปจูนถูกค้นพบในปี 1846 โดยอเล็กซิส บูวาร์ด (Alexis Bouvard) นักดาราศาสตร์ชาวฝรั่งเศส ซึ่งถือว่าดาวเนปจูนเป็นดาว<br>ดวงแรกที่ถูกค้นพบได้ด้วยการคำนวนทางคณิตศาสตร์ต่างกับดาวเคราะห์ดวงอื่นที่ถูกค้นพบด้วยการสังเกตการณ์ ก่อนที่จะเจอ<br>ดาวเนปจูนด้วยการสังเกตการณ์ผ่านกล้องโทรทรรศน์ เนื่องจากนักดาราศาสตร์ได้พบว่าวงโคจรของดาวยูเรนัสมีการเปลี่ยนแปลง<br>เนื่องจากอิทธิพลของแรงดึงดูดจากดาวเคราะห์ดวงหนึ่งซึ่งในขณะนั้นยังไม่ทราบว่าเป็นดาวเคราะห์ดวงใด ดาวเนปจูนจึงถูกค้นพบ<br>หลังจากนั้นในตำแหน่งที่ใกล้เคียงกับที่นักดาราศาสตร์ได้คำนวณไว้
        </p>

      </div> 

        <div class="container pic">   <!-- picture-->
        <img src="/images/9neptune/nep(1).jpg" style="width: 360px;">
        </div>

    </div>

    
    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_neptune.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--neptune.png-->

    

    <div class="topichead">การสำรวจ</div> <!--topichead-->

      <div class="container piccontent">   
        <img src="/images/9neptune/nep(2).jpg" style="width: 360px;">
      </div>

      <div class="content">  <!--content3-->
        <div class="textbox" style="margin-right:120px; margin-left:120px;"> 
            <p> 
              ยานอวกาศเพียงลำเดียวที่เคยเดินทางไปสำรวจดาวเนปจูนคือยานวอยเอเจอร์ 2 (Voyager 2) ซึ่งได้เดินทางไปถึงดาวเนปจูนในปี 1989 พร้อมทั้งถ่ายภาพดาวเนปจูนในระยะใกล้เป็นภาพแรกกลับมายังโลก นอกจากนั้นยังได้ถ่ายภาพยืนยันว่าดาวเนปจูนมีวงแหวนอีกด้วยหลังจาก<br>วงแหวนของดาวเนปจูนถูกค้นพบมาแล้วก่อนหน้านั้น ทั้งนี้ยานวอยเอเจอร์ 2 ยังได้ค้นพบดวงจันทร์ของดาวเนปจูนเพิ่มเติมจากเดิมอีก 6 ดวง <br>รวมไปถึงดวงจันทร์ขนาดใหญ่ 1 ดวงชื่อไทรทัน (Triton)
          </p>
        </div> 
      </div>

      <div class="container piccontent">   
        <img src="/images/9neptune/nep(3).jpg" style="width: 360px;">
      </div>


    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_neptune.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--neptune.png-->


    <div class="topichead">วงโคจร</div> <!--topichead-->

      
      <div class="content">  <!--content3-->
        <div class="textbox"> 
            <p> 
              วงโคจรของดาวเนปจูนมีความรีน้อยมากเมื่อเทียบกับดาวเคราะห์ดวงอื่นๆ (ยกเว้นดาวศุกร์) นั้นคือมีความกลมค่อนข้างมาก โดยมีจุดไกล<br>ดวงอาทิตย์มากที่สุด 4.54 พันล้านกิโลเมตร และจุดใกล้ดวงอาทิตย์มากที่สุด 4.44 พันล้านกิโลเมตร คือมีความแตกต่างกันเพียงประมาณ 100 <br>ล้านกิโลเมตร
          </p>
        </div> 
      </div>

      <div class="container piccontent" style="width: 550px;">   
        <img src="/images/9neptune/nep(4).jpg" style="width: 550px;">
      </div>

      <div class="content">  <!--content3-->
        <div class="textbox"> 
            <p> 
              แกนหมุนของดาวเนปจูนมีความเอียง 28.3 องศาเมื่อเทียบกับระนาบการโคจรรอบดวงอาทิตย์ (ซึ่งคล้ายกับแกนโลกที่มีความเอียง 23.5 องศา) ซึ่งหมายความว่าบนดาวเนปจูนจะมีฤดูกาลเกิดขึ้นเช่นเดียวกันกับโลก แต่เนื่องจากดาวเนปจูนมีคาบเวลาการโคจรรอบดวงอาทิตย์ยาวนานถึง 164.8 ปี ฤดูกาลแต่ละฤดูกาลจึงยาวนานถึงประมาณ 40 ปี 
          </p>
        </div> 
      </div>



    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_neptune.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--neptune.png-->



    <div class="topichead">โครงสร้าง</div>  <!--topichead-->

      <div class="content">  <!--content4-->
        <div class="textbox" style="margin-left:175px; margin-right:175px;"> 
            <p>
              ดาวเนปจูนมีความโน้มถ่วงที่พื้นผิวของดาวเคราะห์เป็นอันดับที่ 2 ในระบบสุริยะ รองจากดาวพฤหัสบดี ดาวเนปจูนมีขนาดและโครงสร้างที่ใกล้เคียงกับดาวยูเรนัสโดยมีแกนกลางเป็นหินและน้ำแข็ง ซึ่งมีมวลประมาณ 1.2 เท่าของแกนของโลกเรา <br>มีความดันประมาณ 7 ล้านบาร์ ซึ่งมากกว่าความดันบรรยากาศบนพื้นโลกกว่าล้านเท่าและคาดว่ามีอุณหภูมิูงกว่า 5400 เคลวิน
          </p> 
        </div> 
      </div>
      
      <div class="container piccontent" style="width: 400px;">   
        <img src="/images/9neptune/nep(5).jpg" style="width: 400px;">
      </div>

      <div class="content">  <!--content4-->
        <div class="textbox" style="margin-left:175px; margin-right:175px;">    
          <p>
            ดาวเนปจูนมีสัดส่วนของ “น้ำแข็ง” เช่น น้ำ แอมโมเนีย มีเทนที่สูง ชั้นแมนเทิลของดาวเนปจูนประกอบด้วยน้ำ แอมโมเนีย และมีเทนที่มีอุณหภูมิ 2000 ถึง 5000 เคลวินและมีมวลประมาณ 10 ถึง 15 เท่าของมวลของโลก โดยชั้นของแมนเทิลนี่เอง<br>ที่สร้างสนามแม่เหล็กรอบๆ ดาวเนปจูน ส่วนชั้นนอกสุดของดาวเนปจูนเป็นชั้นบรรยากาศที่ประกอบไปด้วยแก๊สไฮโดรเจน ฮีเลียม และมีเทน
          </p>

          <p>
            ดาวเนปจูนมีการโคจรรอบตัวเองที่รวดเร็วมากคือประมาณ 16.11 ชั่วโมง ทำให้ดาวเนปจูนมีลักษณะโป่งออกที่เส้นศูนย์สูตร โดยมีเส้นผ่านศูนย์กลางบริเวณเส้นศูนย์สูตรมากกว่าเส้นผ่านศูนย์กลางในแนวขั้วเหนือ-ใต้ประมาณ 848 กิโลเมตร
          </p> 
        </div> 
      </div>

  

    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_neptune.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--neptune.png-->


    <div class="topichead">ชั้นบรรยากาศ</div> <!--topichead-->

      <div class="container piccontent" style="width: 400px;">   
        <img src="/images/9neptune/nep(6).jpg" style="width: 400px;">
      </div> -->

      <div class="content"> <!--content5--> 
        <div class="textbox">
            <p> 
              ชั้นบรรยากาศของดาวเนปจูนประกอบด้วยแก๊สไฮโดรเจน 79 เปอร์เซนต์ ฮีเลียม 18 เปอร์เซนต์ แก๊สมีเทนและแก๊สอื่นๆอีก 3 เปอร์เซนต์ และแก๊สมีเทนในชั้นบรรยากาศนี่เองที่เป็นตัวดูดกลืนแสงสีแดงพร้อมทั้งสะท้อนแสงสีน้ำเงินทำให้เราสังเกตุเห็นดาวเนปจูนปรากฏเป็นสีน้ำเงิน ริ้วลายเส้น<br>สีขาวที่พบบนดาวเนปจูนนั้นเป็นเมฆชั้นสูง ที่บ่งชี้ว่าบรรยากาศของดาวเนปจูนมีสภาพอากาศที่มีพลวัตรอย่างมาก
              ชั้นบรรยากาศของดาวเนปจูน<br>มีความแปรปรวนสูงมีพายุขนาดใหญ่และกระแสลมที่รุนแรงมาก โดยอาจมีกระแสลมแรงถึง 2160 กิโลเมตรต่อชั่วโมง อุณหภูมิบนพื้นผิว<br>ของดาวเนปจูนมีความหนาวเย็นมากคือมีอุณหภูมิโดยเฉลี่ย -200 องศาเซลเซียส เนื่องจากว่าดาวเนปจูนอยู่ห่างไกลจากดวงอาทิตย์มาก ความร้อนจากดวงอาทิตย์จึงมีผลต่อดาวเนปจูนน้อยมาก ความร้อนส่วนใหญ่ที่มีผลต่อบรรยากาศบนดาวเนปจูนจึงมาจากความร้อนภายในแกนของดาวเนปจูน
          </p>
        </div>
      </div> 


    <div class="container planetpng" style="width:120px;">
        <img src="/images/toon_neptune.png" style="margin-bottom:200px">  
    </div> <!--neptune.png-->

      

  </main>

</body>


    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>