<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_move.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/space1.png);width: 100%;height:auto;position:absolute;">
  <main>

    <div class="columns" style= "width: 100%; height: auto;" > 

      <div class="column is-one-quarter" style="width: 360px; height: auto; margin: 150px 0 150px 300px;">
        <a href="/our-solar-system"><img src="/images/toon_mercury.png" style="width: 360px; height: auto; "></a>
        
      </div> 

      <div class="column has-text-centered">
        <div class="container has-text-left" style="  margin: 150px 360px 100px 0; color:white;"> 
            <h2 style="font-size: 150px  ">Mercury</h2><br>
            <h3 style="font-size: 100px">ดาวพุธ</h3>
          </div>
        
      </div>
  
      </div> <!--header-->


      <div class="columns" style= "width: 100%; height: auto; " >
        <div class="container has-text-centered" style="width: 100px; height: auto; " >   <!-- picture column -->
          <img src="/images/scroll-down.png" style="width: 100px; height: auto; ">  
          </div> <!--separate-->
        </div>


    <div class="columns" style= "width: 100%; height: auto; margin: 100px; ;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/2mercury/mer-ani.gif" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">

              <table class="table">  <!-- short data table-->

                <tbody>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ลำดับในระบบสุริยะ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 1</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนวงแหวน :</td>
                    <td class="cellbgcolor" style ="border:0px; " > -</td>
                    <td class="cellbgcolor" style ="border:0px; " > วง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ประเภท :</td>
                    <td class="cellbgcolor" style ="border:0px; " > ดาวเคราห์หิน</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะห่างจากดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 57.91</td>
                    <td class="cellbgcolor" style ="border:0px; " >ล้านกิโลเมตร</td>
                  </tr>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " > รัศมี :</td>
                    <td class="cellbgcolor" style ="border:0px; " >2,440</td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลเมตร</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่หมุนรอบตัวเอง :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 58.65</td>
                    <td class="cellbgcolor" style ="border:0px; " > วัน</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >มวล :</td>
                    <td class="cellbgcolor" style ="border:0px; " >3.3022x10<sup>23</sup></td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลกรัม</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่โคจรรอบดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >87.97</td>
                    <td class="cellbgcolor" style ="border:0px; " >วัน</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >อุณหภูมิ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >-183 ถึง 427 </td>
                    <td class="cellbgcolor" style ="border:0px; " >องศาเซลเซียส</td>
                    <td class="cellbgcolor" style ="border:0px; " >สัญลักษณ์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > <img scr </td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนดาวบริวาร :</td>
                    <td class="cellbgcolor" style ="border:0px; " >-</td>
                    <td class="cellbgcolor" style ="border:0px; " >ดวง</td>
                    <td class="cellbgcolor" style ="border:0px; " >ฉายา :</td>
                    <td class="cellbgcolor" style ="border:0px; " >เตาไฟแช่แข็ง</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>


                </tbody>

              </table>  

        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">
      
            <p class="MessageParagraph">
            ดาวพุธเป็นดาวเคราะห์ดวงลำดับแรกในระบบสุริยะ (Solar system) คือเป็นดาวเคราะห์ที่อยู่ใกล้ดวงอาทิตย์มากที่สุด ดาวพุธเป็นดาวที่สว่างมากเมื่อมองจากโลกแต่ว่าสามารถสังเกตเห็นได้ยากเนื่องจากดาวพุธอยู่ใกล้ดวงอาทิตย์มากคือมีระยะห่างเชิงมุม (มองจากโลก) ไม่เกิน 28 องศา เราสามารถสังเกตเห็นดาวพุธได้เพียงไม่กี่วันใน 1 เดือน ซึ่งจะสังเกตเห็นดาวพุธได้ในช่วงหัวค่ำ(หลังจากดวงอาทิตย์ตกดิน)หรือตอนเช้ามืด(ก่อนดวงอาทิตย์ขึ้น)
          </p> <br> 

          </div> 
        </div>

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/2mercury/mer(1).jpg" style="width: 360px; height: auto; ">  
        </div>

    </div> <!-- pic right -->

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 100px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">

            <p class="MessageParagraph">
            ดาวพุธมีพื้นผิวที่คล้ายกับพื้นผิวของดวงจันทร์คือมีผิวขรุขระเนื่องจากจากการชนของหลุมอุกกาบาต ดาวพุธไม่มีดาวบริวาร แกนกลางของดาวพุธประกอบด้วยโลหะอยู่จำนวนมากทำให้มีสนามแม่เหล็กบนดาวพุธประมาณ 1 % ของโลก อุณหภูมิบนพื้นผิวมีความแตกต่างกันมากคืออาจร้อนสุดได้ถึง 427 องศาเซลเซียส และเย็นที่สุดได้ถึง -183 องศาเซลเซียส
          </p> <br>

          </div> 
        </div>


      <div class="column is-one-quarter" style="width: 360px; height: 360px; " >   <!-- picture column -->
      <!--  <img src="/images/2mercury/mer(2).jpg" style="width: 360px; height: auto; ">  -->
        </div> 

    </div>  <!-- pic right -->  



    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/2mercury/mer(2).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
      <div class="textbox">
             <p class="MessageParagraph">
            ดาวพุธหมุนรอบตัวเองใช้เวลา 59 วัน(ของโลก) ในขณะที่ใช้เวลาโคจรรอบดวงอาทิตย์ 88 วัน(ของโลก) คือมีอัตราส่วนระหว่างการหมุนรอบตัวเองกับการโคจรรอบดวงอาทิตย์ประมาณ 3:2 หมายถึงดาวพุธหมุนรอบตัวเอง 3 รอบจะโคจรรอบดวงอาทิตย์ได้ประมาณ 2 รอบ ทำให้ดาวพุธหันด้านเดิมเข้าหาดวงอาทิตย์ทุกๆการโคจรรอบดวงอาทิตย์ 2 รอบ จึงทำให้เวลา 1 วัน(ของดาวพุธ) คือนับตั้งแต่ดวงอาทิตย์ขึ้นถึงดวงอาทิตย์ขึ้นบนดาวพุธ มีเวลาเท่ากับ 2 ปี(ของดาวพุธ) 
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_mercury.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>การสำรวจ</h2>
          </div>
        </div>
      </div> <!--header-->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/2mercury/mer(3).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             <p class="MessageParagraph">
            ยานสำรวจมาริเนอร์ 10 เป็นยานสำรวจเพียงลำเดียวที่เคยเดินทางไปสำรวจดาวพุธ โดยยานสำรวจมาริเนอร์ 10 มีภารกิจในการสำรวจชั้นบรรยากาศ พื้นผิว สภาพแวดล้อม และคุณสมบัติทางกายภาพต่างๆของดาวพุธและดาวศุกร์ ยานสำรวจมาริเนอร์ 10 ถูกส่งจากโลกเมื่อปีค.ศ. 1973 และเดินทางผ่านดาวพุธสองครั้งในปี ค.ศ.1974 และอีกครั้งในปี ค.ศ.1975 ทำการถ่ายภาพดาวพุธได้มากกว่า 2000 ภาพ ซึ่งสามารถทำแผนที่ดาวพุธได้ประมาณ 40-45 เปอร์เซนต์ และยานสำรวจดาวพุธลำที่สอง คือ ยานเมสเซนเจอร์ (MESSENGER) ที่ถูกส่งขึ้นสู่อวกาศในปี ค.ศ.2004 ยานลำนี้ได้ทำแผนที่ดาวพุธที่มีความละเอียดมากขึ้น
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->



    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_mercury.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>

      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>วงโคจร</h2> 
          </div>
        </div>
      </div> <!--header-->
      

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/2mercury/mer(5).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             <p class="MessageParagraph">
            วงโคจรของดาวพุธเป็นวงโคจรที่มีความรีมากที่สุดของดาวเคราะห์ในระบบสุริยะ(ถ้าไม่นับดาวพลูโตที่เป็นดาวเคราะห์แคระ) คือมีจุดใกล้ดวงอาทิตย์ที่สุด(perihelion) 46 ล้านกิโลเมตร และจุดไกลดวงอาทิตย์ที่สุด(aphelion) 70 ล้านกิโลเมตร นั่นหมายความว่า ถ้าไปอยู่บนดาวพุธจะเห็นดวงอาทิตย์มีขนาดเปลี่ยนแปลงค่อนข้างมาก โดยเมื่ออยู่ใกล้ดวงอาทิตย์ที่สุดจะเห็นดวงอาทิตย์ใหญ่เป็น 2 เท่าครึ่งของเมื่ออยู่ไกลดวงอาทิตย์ที่สุด ซึ่งโตประมาณ 4 เท่าของที่เห็นจากโลก ระนาบการโคจรกับระนาบของเส้นผ่านศูนย์กลางดาวพุธเกือบเป็นระนาบเดียวกันนั่นหมายความว่าบนดาวพุธจะไม่มีฤดูกาล และจะมีผิวดาวพุธบางส่วนที่ใกล้กับขั้วโลกจะไม่โดนแสงอาทิตย์เลยทำให้มีอากาศหนาวเย็นตลอดเวลา
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_mercury.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>




      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>โครงสร้าง</h2>
          </div>
        </div>
      </div> <!--header-->
        

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/2mercury/mer(6).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             <p class="MessageParagraph">
            ดาวพุธเป็นดาวเคราะห์ที่เล็กที่สุดในระบบสุริยะ มีพื้นผิวที่เป็นหินคล้ายกับโลก เป็นดาวเคราะห์ที่มีความหนาแน่นมากเป็นอันดับสองในระบบสุริยะ รองจากโลก โดยดาวพุธมีส่วนประกอบโดยรวมเป็นโลหะประมาณ 70 เปอร์เซนต์(โดยน้ำหนัก) และซิลิเกต (Silicate) ประมาณ 30 เปอร์เซนต์ แกนกลางของดาวพุธมีขนาดใหญ่คือมีรัศมีถึง 1800 กิโลเมตร(ประมาณ 75 เปอร์เซนต์ของรัศมีดาวพุธ) ประกอบด้วยโลหะเป็นส่วนมาก ล้อมรอบด้วยแมนเทิล(ที่ประกอบด้วยซิลิเกตเป็นหลัก)หนา 600 กิโลเมตร และมีเปลือกที่ประกอบด้วยซิลิเกตเป็นส่วนใหญ่ หนาประมาณ 100-300 กิโลเมตร
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
      <!--  <img src="/images/2mercury/mer-ani.gif" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             <p class="MessageParagraph">
            หลุมอุกกาบาตบนดาวพุธส่วนใหญ่เกิดจากดาวหางและดาวเคราะห์น้อยที่มาพุ่งชนกับดาวพุธ ในช่วงที่ระบบสุริยะก่อตัว ซึ่งพื้นผิวของดาวพุธต่างกับดาวเคราะห์ดวงอื่นตรงที่ไม่มีการสร้างพื้นผิวใหม่โดยผ่านกระบวนการทางภูเขาไฟ พื้นผิวดาวพุธจึงมีแต่หลุมอุกกาบาตอายุมาก
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_mercury.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>ชั้นบรรยากาศ</h2> 
          </div>
        </div>
      </div><!--header-->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
      <!--  <img src="/images/2mercury/mer(7).jpg" style="width: 360px; height: auto; ">  -->
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             <p class="MessageParagraph">
            ชั้นบรรยากาศของดาวพุธมีความเบาบางมากและก็ไม่เสถียรนัก เนื่องจากดาวพุธมีมวลน้อยมากจึงทำให้มีแรงดึงดูดไม่เพียงพอที่จะยึดชั้นบรรยากาศไว้ได้นาน ชั้นบรรยากาศของดาวพุธประกอบไปด้วยแก๊สออกซิเจน ไฮโดรเจน โซเดียม ฮีเลียม โพแทสเซียม และแคลเซียม โดยไฮโดรเจนและฮีเลียมนั้นได้มาจากลมสุริยะ ส่วนแก๊สอื่นๆเกิดขึ้นบนดาวพุธเอง  และลมสุริยะก็กวาดแก๊สที่ออกมาจากดาวพุธออกสู่อวกาศอย่างรวดเร็ว ดาวพุธทั้ง2ด้านมีอุณหภูมิแตกต่างกันมาก เกิดจากดาวพุธไม่มีบรรยากาศที่คอยช่วยปรับอุณหภูมิ สำหรับด้านที่หันเข้าหาดวงอาทิตย์อากาศบนดาวพุธจะร้อนมาก ซึ่งมีอุณหภูมิสูงถึง 427 องศาเซลเซียส ทำให้แก๊สเบาอย่างเช่นฮีเลียมมีพลังงานสูงสามารถหลุดออกไปนอกอวกาศได้ ส่วนด้านมืดของดาวพุธที่หนาวเย็นนั้น ซึ่งอุณหภูมิลดต่ำลงถึง -173 องศาเซลเซียส ชั้นบรรยากาศจะมีความหนาแน่นมากกว่าเนื่องจากโมเลกุลของแก๊สมีพลังงานไม่เพียงพอที่จะหลุดออกสู่อวกาศได้
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->

  </main>
</body>
    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>