<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Uranus-SolarSystem</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_dataVer3.css">
  {% block stylesheet %}{% endblock %}
</head>
<body style="width: 100%; height: auto;overflow:auto;">
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/galaxy1.jpg);width: 100%;height: auto;position:absolute;">
  
<main>

    <div class="columns"> 

      <div class="piccover">
        <img src="/images/toon_uranus.png" style="height:410px;">
      </div> 

      <div>
          <div class="planetengname">Uranus</div>
          <div class="planetthainame">ดาวยูเรนัส</div>
      </div>
  
      </div> <!--headcover-->

      <div class="container" style="width:100px; margin-top: 75px;">
        <img src="/images/scroll-down2.gif">  
      </div> <!--scroll-down.gif-->


      <div class="topichead"> ข้อมูลจำเพาะ </div> <!--topichead-->


    <div class="columns content">  <!--content1 ข้อมูลจำเพาะ-->
      <!-- big column and add margin left right --> 

        <div class="container pic">   <!-- picture  -->
        <img src="/images/8uranus/ura-ani.gif" style="width:360px;">
        </div>

      <div class="righttextbox"> <!-- short data table-->
          
          <table>

                <tr>

                    <td>ลำดับในระบบสุริยะ :</td>
                    <td>7</td>
                    <td></td>
                    <td>จำนวนวงแหวน :</td>
                    <td>13</td>
                    <td>วง</td>
                  </tr>

                  <tr>
                    <td>ประเภท :</td>
                    <td>ดาวเคราะห์แก๊ส</td>
                    <td></td>
                    <td>ระยะห่างจากดวงอาทิตย์ :</td>
                    <td>2,870</td>
                    <td>ล้านกิโลเมตร</td>
                  </tr>

                <tr>
                    <td>รัศมี :</td>
                    <td>25,559</td>
                    <td>กิโลเมตร</td>
                    <td>เวลาที่หมุนรอบตัวเอง :</td>
                    <td>17.24</td>
                    <td>ชั่วโมง</td>
                  </tr>

                  <tr>
                    <td>มวล :</td>
                    <td>8.681 x 10<sup>25</sup></td>
                    <td>กิโลกรัม</td>
                    <td>เวลาที่โคจรรอบดวงอาทิตย์ :</td>
                    <td>80</td>
                    <td>ปี</td>
                  </tr>

                  <tr>
                    <td>อุณหภูมิ :</td>
                    <td>-214   </td>
                    <td>องศาเซลเซียส</td>
                    <td>สัญลักษณ์ :</td>
                    <td><img src="/images/8uranus/symbol_uranus.gif" style="width: 20px;"></td>
                    <td></td>
                  </tr>

                  <tr>
                    <td>จำนวนดาวบริวาร :</td>
                    <td>27</td>
                    <td>ดวง</td>
                    <td>จุดเด่น :</td>
                    <td colspan="2">หมุนรอบตัวเองในแนวตะแคง<br>วงแหวนอยู่ในแนวตั้ง</td>
                  </tr>
              </table>  

      </div> 

    </div>


    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_uranus.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--uranus.png-->


    <div class="columns content" style="margin-top:150px;">  <!--shortcontent1(content2)-->

      <div class="lefttextbox"> 
          <p> 
            ดาวยูเรนัส(หรือที่คนไทยเรียกดาวมฤตยู) เป็นดาวเคราะห์ลำดับที่ 7 ในระบบสุริยะที่มีขนาดใหญ่เป็นอันดับที่ 3 รองจากดาวพฤหัสบดีและดาวเสาร์ ดาวยูเรนัส ถูกค้นพบโดยเซอร์วิลเลียม เฮอร์เซล (Sir William Herschel) ในเดือนมีนาคม ค.ศ.1781 ต่อมาในเดือนมีนาคม ค.ศ.1977 นักดาราศาสตร์ที่หอดูดาวไคเปอร์ แอร์บอร์น (Kuiper Airborne Observatory)ได้ค้นพบว่า ดาวยูเรนัสมีวงแหวนในระหว่างการศึกษาดาวยูเรนัส โดยพบว่าดาวยูเรนัสหายไปเป็นจำนวน 5 ครั้ง ซึ่งพวกเขาได้สรุปว่า ดาวยูเรนัสน่าจะมีวงแหวนล้อมรอบอยู่ โดยวงแหวนดังกล่าวได้บดบังแสงจากดาวยูเรนัสไว้ ทำให้มองไม่เห็นดาวยูเรนัสเป็นบางช่วงเวลา
        </p>

      </div> 

        <div class="container pic">   <!-- picture-->
        <img src="/images/8uranus/ura(1).jpg" style="width: 360px;">
        </div>

    </div>


    <div class="columns content">  <!--shortcontent2(content2)-->

      <div class="container pic">   
        <img src="/images/8uranus/ura(2).jpg" style="width: 360px;">
        </div>

      <div class="righttextbox"> 
          <p> 
            ดาวยูเรนัสมีดวงจันทร์อย่างน้อย 27 ดวง โดยดวงจันทร์ในกลุ่มนี้ 22 ดวง มีขนาดเล็กมาก และมีวงโคจรใกล้กับดาวยูเรนัส ขณะที่ดวงจันทร์อีก 5 ดวง (มิแรนดา แอเรียล อัมเบรียล ทิทาเนีย และโอเบรอน) มีขนาดใหญ่กว่าและอยู่ห่างจากดาวยูเรนัสมากกว่า 
        </p>
      </div> 

    </div>

    
    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_uranus.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--uranus.png-->

    

    <div class="topichead">การสำรวจ</div> <!--topichead-->

      <div class="container piccontent" style="width: 400px;">   
        <img src="/images/8uranus/ura(3).jpg" style="width: 400px;">
      </div>

      <div class="content">  <!--content3-->

        <div class="textbox" style="margin-right:120px; margin-left:120px;"> 
            <p> 
              ในปีค.ศ.1986 เมื่อยานสำรวจวอยเอเจอร์ 2 โคจรผ่านดาวยูเรนัสได้ถ่ายภาพดาวยูเรนัสพร้อมวงแหวนและดาวบริวารส่งกลับมายังโลกเป็นครั้งแรก อย่างไรก็ตามวงแหวนของดาวยูเรนัสมีความมืดมากเมื่อเทียบกับวงแหวนของดาวเสาร์ เราจึงสังเกตุเห็นวงแหวนของดาวยูเรนัสได้ยาก โดยวงแหวนที่สว่างที่สุดคือวงแหวน ε และดาวยูเรนัสแทบจะไม่มีรายละเอียดอะไรปรากฏบนพื้นผิวดาวเลย แต่ถ้าเราสังเกตดาวยูเรนัสในช่วงรังสีอื่นๆ เช่น รังสีอินฟราเรด จึงจะเห็นบางแถบเมฆและจุดที่มีอุณหภูมิอุ่นกว่าได้บ้าง
          </p>
        </div> 

      </div>

      <div class="container piccontent" style="width: 400px;">   
        <img src="/images/8uranus/ura(4).jpg" style="width: 400px;">
      </div>


    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_uranus.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--uranus.png-->


    <div class="topichead">วงโคจร</div> <!--topichead-->

        <div class="content">  <!--content3-->
          <div class="textbox"> 
            <p> 
              ดาวยูเรนัสใช้เวลา 84 ปี (ของโลก) ในการโคจรรอบดวงอาทิตย์ ดาวยูเรนัสมีการโคจรรอบตัวเองในทิศทางที่ตรงข้ามกับดาวเคราะห์ในระบบสุริยะดวงอื่นๆ (ยกเว้นดาวศุกร์) โดยมีแกนการโคจรรอบตัวเองทำมุม 98 องศากับระนาบการโคจร ส่งผลให้ขั้วเหนือและขั้วใต้ของดาวยูเรนัสหันเข้าหาดวงอาทิตย์ต่อเนื่องเป็นเวลาถึง 21 ปี เช่น เมื่อขั้วเหนือหันเข้าหาดวงอาทิตย์เป็นเวลา 21 ปี ขั้วใต้จะไม่ถูกแสงอาทิตย์เลย
            </p>
          </div> 
        </div>

        <div class="container piccontent" style="width: 500px;">   
          <img src="/images/8uranus/ura(5).jpg" style="width: 500px;">
        </div>

        <div class="content">  <!--content3-->
          <div class="textbox"> 
            <p> 
              ถึงแม้ว่าดาวยูเรนัสจะหันขั้ว (เหนือหรือใต้) เข้าหาดวงอาทิตย์ ซึ่งทำให้บริเวณขั้วได้รับพลังงานจากดวงอาทิตย์มากกว่าบริเวณเส้นศูนย์สูตร แต่ก็ปรากฏว่าอุณหภูมิบริเวณเส้นศูนย์สูตรมีค่าสูงกว่าบริเวณขั้ว ซึ่งยังไม่ทราบว่าเกิดจากสาเหตุใด 
            </p>
          </div> 
        </div>



    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_uranus.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--uranus.png-->



    <div class="topichead">โครงสร้าง</div>  <!--topichead-->

      <div class="content">  <!--content4-->

        <div class="textbox" style="margin-left:175px; margin-right:175px;"> 
            <p>
            แกนกลางของดาวยูเรนัสประกอบด้วยหินและน้ำแข็งมีรัศมีประมาณ 20 เปอร์เซนต์ของรัศมีของดาว มีน้ำหนักประมาณ 0.55 เท่าของโลก ส่วนแมนเทิลที่ล้อมรอบแกนกลางอยู่มีน้ำหนักประมาณ 13.4 เท่าของโลกประกอบไปด้วยน้ำ มีเทน และ แอมโมเนียแข็ง ส่วนรอบนอกสุดของดาวยูเรนัสประกอบไปด้วยแก๊สไฮโดรเจนและฮีเลียม ซึ่งมีมวลประมาณ 0.5 เท่าของโลก

          </p> 
        </div> 

      </div>
      
      <div class="container piccontent">   
        <img src="/images/8uranus/ura(6).jpg" style="width: 360px;">
        </div>

      <div class="content">  <!--content4-->

        <div class="textbox" style="margin-left:175px; margin-right:175px;"> 
            <p>
            โครงสร้างภายในดาวยูเรนัสที่เป็นของเหลว นั่นหมายถึงว่าดาวยูเรนัสไม่มีพื้นผิวที่เป็นของแข็ง ชั้นบรรยากาศที่เป็นแก๊ส จะแทรกซ้อนอยู่กับพื้นผิวที่เป็นของเหลว ดังนั้นบริเวณที่กำหนดให้เป็นพื้นผิวของดาวยูเรนัสจึงนิยามให้เป็นบริเวณที่มีความดันบรรยากาศเป็น 1 บาร์(หรือ 100kPa) 
            องค์ประกอบของดาวยูเรนัสและดาวเนปจูนมีความแตกต่างจากดาวเสาร์และดาวพฤหัสบดี โดยพบว่าดาวยูเรนัสและดาวเนปจูนประกอบด้วยน้ำแข็งเป็นหลัก จึงอาจเรียกดาวยูเรนัสและดาวเนปจูนว่าเป็นดาวน้ำแข็งยักษ์ (ice gaints)
          </p> 
        </div> 

      </div>

  

    <div class="columns">

      <div class="lineleft"></div>

      <div class="container planetpng">
          <img src="/images/toon_uranus.png">  
        </div> 

        <div class="lineright"></div>


    </div><!--uranus.png-->


    <div class="topichead">ชั้นบรรยากาศ</div> <!--topichead-->

      <!--  <div class="container piccontent">   
        <img src="/image/2mercury/mer(5).jpg" style="width: 360px;">
        </div> -->

      <div class="content"> <!--content5--> 
        <div class="textbox">
            <p> 
            ชั้นบรรยากาศของดาวยูเรนัสประกอบด้วยไฮโดรเจน 82.5 เปอร์เซนต์ ฮีเลียม 15.2 เปอร์เซนต์ มีเทน 2.3 เปอร์เซนต์ โดยกลุ่มแก๊สมีเทนที่อยู่ในชั้นยอดเมฆของชั้นบรรยากาศที่หนาวเย็น (อุณหภูมิประมาณ -200 องศาเซลเซียส)  ดูดกลืนแสงสีแดงจากดาวอาทิตย์ ทำให้เรามองเห็นดาวยูเรนัสมีสีฟ้า ข้อมูลจากยานสำรวจวอยเอเจอร์ 2 พบว่ากลุ่มหมอกแอมโมเนียและน้ำมีการเคลื่อนที่ไปรอบๆดาว ซึ่งเป็นผลมาจากลมที่พัดและการโคจรรอบตัวเองของดาวยูเรนัส นอกจากนี้ยังพบอีกว่าการคายพลังงานจากดาวยูเรนัสและการรับพลังงานจากดวงอาทิตย์มีปริมาณที่ใกล้เคียงกัน ซึ่งส่งผลให้สภาพอากาศบนดาวยูเรนัสมีการเปลี่ยนแปลงไม่มากนัก
        </div>
      </div> 

      <!--
    <div class="container planetpng" style="width:120px;">
        <img src="/images/toon_uranus.png" style="margin-bottom:200px">  
    </div> uranus.png-->
    <div style="padding-top: 200px;padding-left: 25%;padding-right:auto;">
      <a href="/our-solar-system/sun">
        <img src="/images/toon_sun3.png" title="ดวงอาทิตย์" style="margin-bottom:200px; width: 11%;height: 11%;">
      </a>
      <a href="/our-solar-system/mercury">
        <img src="/images/toon_mercury.png" title="ดาวพุธ" style="padding-left: 20px;margin-bottom:200px; width: 4%;height: 4%;">
      </a>
      <a href="/our-solar-system/venus">
        <img src="/images/toon_venus.png" title="ดาวศุกร์" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/earth">
        <img src="/images/toon_earth.png" title="ดาวโลก" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/mars">
        <img src="/images/toon_mars.png" title="ดาวอังคาร" style="padding-left: 10px;margin-bottom:200px; width: 5%;height: 5%;">
      </a>
      <a href="/our-solar-system/jupiter">
        <img src="/images/toon_jupiter.png" title="ดาวพฤหัสบดี" style="padding-left: 18px;margin-bottom:200px; width: 9%;height: 9%;">
      </a>
      <a href="/our-solar-system/saturn">
        <img src="/images/toon_saturn.png" title="ดาวเสาร์" style="padding-left: 10px;margin-bottom:200px; width: 9%;height: 9%;">
      </a>
      <a href="/our-solar-system/uranus">
        <img src="/images/toon_uranus.png" title="ดาวยูเรนัส" style="padding-left: 10px;margin-bottom:200px; width: 8%;height: 8%;">
      </a>
      <a href="/our-solar-system/neptune">
        <img src="/images/toon_neptune.png" title="ดาวเนปจูน" style="padding-left: 10px;margin-bottom:200px; width: 6%;height: 6%;">
      </a>
    </div>
      
  </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>