<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_dataVer2.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/space1.png);width: 100%;height: auto;position:absolute;">
    <main>
      <div class="columns" style= "width: 100%; height: auto;" > 

      <div class="column is-one-quarter" style="width: 360px; height: auto; margin: 150px 0 150px 300px;">
        <a href="/our-solar-system"><img src="/images/toon_mars.png" style="width: 360px; height: auto; "></a>
        
      </div> 

      <div class="column has-text-centered">
        <div class="container has-text-left" style="  margin: 150px 360px 100px 0; color:white;"> 
            <h2 style="font-size: 150px  ">Mars</h2><br>
            <h3 style="font-size: 100px">ดาวอังคาร</h3>
          </div>
        
      </div>
  
      </div> <!--header-->


      <div class="columns" style= "width: 100%; height: auto; " >
        <div class="container has-text-centered" style="width: 100px; height: auto; " >   <!-- picture column -->
          <img src="/images/scroll-down.png" style="width: 100px; height: auto; ">  
          </div> <!--separate-->
        </div>


    <div class="columns" style= "width: 100%; height: auto; margin: 100px; ;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/5mars/mar-ani.gif" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">

              <table class="table">  <!-- short data table-->

                <tbody>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ลำดับในระบบสุริยะ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 4</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนวงแหวน :</td>
                    <td class="cellbgcolor" style ="border:0px; " > -</td>
                    <td class="cellbgcolor" style ="border:0px; " > วง</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >ประเภท :</td>
                    <td class="cellbgcolor" style ="border:0px; " > ดาวเคราห์หิน</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะห่างจากดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 227.94</td>
                    <td class="cellbgcolor" style ="border:0px; " >ล้านกิโลเมตร</td>
                  </tr>

                <tr>
                    <td class="cellbgcolor" style ="border:0px; " > รัศมี :</td>
                    <td class="cellbgcolor" style ="border:0px; " >3,397</td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลเมตร</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่หมุนรอบตัวเอง :</td>
                    <td class="cellbgcolor" style ="border:0px; " > 24.62 วัน</td>
                    <td class="cellbgcolor" style ="border:0px; " > วัน</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >มวล :</td>
                    <td class="cellbgcolor" style ="border:0px; " >6.4185x10<sup>23</sup></td>
                    <td class="cellbgcolor" style ="border:0px; " >กิโลกรัม</td>
                    <td class="cellbgcolor" style ="border:0px; " >ระยะเวลาที่โคจรรอบดวงอาทิตย์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >687</td>
                    <td class="cellbgcolor" style ="border:0px; " >วัน</td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >อุณหภูมิ :</td>
                    <td class="cellbgcolor" style ="border:0px; " >-87 ถึง -5  </td>
                    <td class="cellbgcolor" style ="border:0px; " >องศาเซลเซียส</td>
                    <td class="cellbgcolor" style ="border:0px; " >สัญลักษณ์ :</td>
                    <td class="cellbgcolor" style ="border:0px; " ><img src="/images/5mars/symbol_mars.gif" style="width: 20px; height: auto; "></td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>

                  <tr>
                    <td class="cellbgcolor" style ="border:0px; " >จำนวนดาวบริวาร :</td>
                    <td class="cellbgcolor" style ="border:0px; " >-</td>
                    <td class="cellbgcolor" style ="border:0px; " >ดวง</td>
                    <td class="cellbgcolor" style ="border:0px; " >ฉายา :</td>
                    <td class="cellbgcolor" style ="border:0px; " >ดาวเคราะห์สีแดง</td>
                    <td class="cellbgcolor" style ="border:0px; " ></td>
                  </tr>


                </tbody>

              </table>  

        </div> 
      </div>

    </div> <!-- pic left -->


    
    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">
      
          <p class="MessageParagraph">
           ดาวอังคารเป็นดาวเคราะห์ในลำดับที่สี่จากดวงอาทิตย์ และเป็นดาวเคราะห์ลำดับสุดท้ายของดาวเคราะห์หิน* บางครั้งเรามักเรียกดาวอังคารว่า "ดาวแดง" (Red Planet) เนื่องจากดาวอังคารปรากฏเป็นสีแดงคล้ายสีโลหิต พื้นผิวของดาวอังคารจะมีความแตกต่างระหว่างหุบเหวที่ลึกมากและภูเขาไฟที่สูงมากที่สุดเมื่อเทียบกับดาวเคราะห์อื่นในระบบสุริยะ พื้นผิวของดาวอังคารในปัจจุบันมีความแห้งแล้งแต่ก็มีหลักฐานที่เชื่อได้ว่าดาวอังคารเคยมีน้ำมาก่อน 
          </p> <br>

          </div> 
        </div>

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/5mars/mar(1).jpg" style="width: 360px; height: auto; ">  
        </div>

    </div> <!-- pic right -->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/5mars/mar(2).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
      <div class="textbox">
           <p class="MessageParagraph">
           ใดาวเคราะห์ที่มีพื้นผิวชัดเจน (terrestrial planet) หรือ ดาวเคราะห์หิน (rocky planet) ในระบบสุริยะประกอบด้วยดาวเคราะห์ 4 ดวงคือ ดาวพุธ ดาวศุกร์ โลก และ ดาวอังคาร
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->

        <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->


      <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox" style="border-radius: 50px 15px 5px 30px;">
      
          <p class="MessageParagraph">
           ดาวอังคารมีดาวบริวารหรือดวงจันทร์ขนาดเล็ก 2 ดวง คือ โฟบอส (Phobos) และดีมอส (Deimos) โดยทั้งสองดวงมีรูปร่างบิดเบี้ยวไม่เป็นรูปกลม ซึ่งคาดกันว่าอาจเป็นดาวเคราะห์น้อยที่หลงเข้ามาแล้วดาวอังคารคว้าดึงเอาไว้ให้อยู่ในเขตแรงดึงดูดของตน
          </p> <br>

          </div> 
        </div>

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/5mars/mar(3).jpg" style="width: 360px; height: auto; ">  
        </div>

    </div> <!-- pic right -->


    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_mars.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>วงโคจร</h2> 
          </div>
        </div>
    </div> <!--header-->
      

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
        <img src="/images/5mars/mar(5).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
             <p class="MessageParagraph">
            วงโคจรของดาวอังคารเป็นวงโคจรที่เป็นวงรีมีจุดใกล้ดวงอาทิตย์ที่สุด(perihelion) ห่างจากดวงอาทิตย์ 207 ล้านกิโลเมตร และจุดไกลดวงอาทิตย์ที่สุด(aphelion) 249 ล้านกิโลเมตร จึงทำให้อุณหภูมิในช่วงฤดูร้อนและฤดูหนาวมีความแตกต่างกันมาก แกนของดาวอังคารมีความเอียงเช่นเดียวกันกับโลกโดยมีความเอียงประมาณ 25.19 องศา ทำให้ช่วงเวลาหนึ่งแกนขั้วโลกเหนือของดาวอังคารชี้ไปยังดวงอาทิตย์ และอีกช่วงเวลาหนึ่งแกนขั้วโลกใต้ชี้ไปยังดวงอาทิตย์ บนดาวอังคารจึงมีฤดูกาลเช่นเดียวกันกับบนโลกแต่ว่าในแต่ละฤดูกาลจะมีความยาวนานกว่าเนื่องจากเวลาที่ใช้ในการโคจรรอบดวงอาทิตย์มีความยาวนานกว่าโลกนั่นเอง
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_mars.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>




      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>โครงสร้าง</h2>
          </div>
        </div>
      </div> <!--header-->
        

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
          <img src="/images/5mars/mar(6).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
          <p class="MessageParagraph">
            ดาวอังคารมีขนาด(รัศมี)ประมาณครึ่งหนึ่งของโลก เนื่องจากดาวอังคารมีมวลและขนาดที่เล็กกว่า ความโน้มถ่วงของดาวอังคารจึงมีเพียง 40% ของความโน้มถ่วงโลก และมีระยะห่างจากดวงอาทิตย์มากกว่าโลกซึ่งหมายความว่าดาวอังคารน่าจะเย็นตัวเร็วกว่าโลก แกนกลางที่เป็นโลหะของดาวอังคารจึงน่าที่จะเป็นของแข็ง แต่เนื่องด้วยความหนาแน่นของดาวอังคารค่อนข้างต่ำเมื่อเมื่อกับดาวเคราะห์หินอื่นๆจึงเชื่อได้ว่าแกนของดาวอังคารน่าจะมีส่วนผสมของซัลเฟอร์(sulphur) อยู่ในรูปของไอออนซัลไฟด์ (iron sulphide) 
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->

    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
          <img src="/images/5mars/mar(8).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
          <p class="MessageParagraph">
            รอบๆแกนของดาวอังคารจะเป็นชั้นแมนเทิลที่มีความหนามากเมื่อเทียบกับแกน โดยประกอบด้วยหินซิลิเกตเป็นหลัก ส่วนเปลือกที่เป็นหินชั้นนอกสุดของดาวอังคารจะมีความหนาประมาณ 80 กิโลเมตรในซีกโลกใต้ แต่จะมีความหนาเพียง 35 กิโลเมตรในซีกโลกเหนือ
          </p> <br>
          <p class="MessageParagraph">
            ดาวอังคารเป็นดาวเคราะห์ที่มีภูเขาไฟที่ใหญ่ที่สุด (ชื่อว่า โอลิมปัส มอนส์ (Olympus Mons)) และหุบเหวที่ใหญ่ที่สุด (ชื่อว่า วัลเลส มารีเนอริส (Valles Marineris)) ในระบบสุริยะ และที่ขั้วของดาวอังคารมีขั้วน้ำแข็งที่ประกอบด้วยน้ำแข็ง
          </p> <br>
        </div> 
      </div>

    </div> <!-- pic left -->


    <div class="columns" style= "width: 100%; height: auto; margin: 100px 0; " >
      <div class="container has-text-centered" style="width: 120px; height: auto; " >   <!-- picture column -->
        <img src="/images/toon_mars.png" style="width: 120px; height: auto; ">  
        </div> <!--separate-->
      </div>



      <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
        <div class="column is-2">
          <div class="textboxheader">
            <h2>ชั้นบรรยากาศ</h2> 
          </div>
        </div>
      </div><!--header-->


    <div class="columns" style= "width: 100%; height: auto; margin: 0 100px;" >  
      <!-- big column and add margin left right 240px -->   <!-- -->

        <div class="column is-one-quarter" style="width: 360px; height: auto; " >   <!-- picture column -->
          <img src="/images/5mars/mar(7).jpg" style="width: 360px; height: auto; ">  
        </div>

        <div class="column is-8"> <!-- short data column is auto -->
        <div class="textbox">
          <p class="MessageParagraph">
            ชั้นบรรยากาศของดาวอังคารค่อนข้างเบาบางมากคือมีความดันบรรยากาศเฉลี่ยที่พื้นผิวเพียง 0.6 เปอร์เซนต์เมื่อเทียบกับโลก ชั้นบรรยากาศจะประกอบด้วยแก๊สคาร์บอนไดออกไซด์เป็นหลักประมาณ 95.3 เปอร์เซนต์ มีแก๊สไนโตรเจนและอาร์กอน ประมาณ 2.7 และ 1.6 เปอร์เซนต์ตามลำดับ นอกนั้นจะเป็นแก๊สอื่นๆ
          </p> <br>
          <p class="MessageParagraph">
            การที่เราเห็นดาวอังคารมีสีแดง (ความจริงจะเห็นเป็นสีค่อนไปทางส้มอมชมพู) เนื่องจากมีฝุ่นของไอออนออกไซด์ (iron oxide) หรือที่เรารู้จักกันว่าเป็น สนิมเหล็ก อากาศบนดาวอังคารจะมีความแปรปรวนสูงมาก โดยในช่วงฤดูร้อนของซีกโลกใต้ ลมจะพัดจากซีกโลกใต้ที่ร้อนกว่าไปยังซีกโลกเหนือ ซึ่งจะพัดพาเอาฝุ่นละอองต่างๆขึ้นไปสูงได้ถึง 1 กิโลเมตร ซึ่งพายุฝุ่นที่เกิดขึ้นนี้จะปกคลุมพื้นที่ส่วนใหญ่ของดาวอังคารเลยทีเดียว และพายุฝุ่นนี่เองที่พัดมานานหลายศตวรรษทำให้พื้นผิวของดาวอังคารมีลักษณะเป็นแนวสันของหิน (yardangs or rock ridges) อย่างที่เป็นอยู่ในปัจจุบัน
          </p> <br>

        </div> 
      </div>

    </div> <!-- pic left -->
    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>