{% extends 'layout/naip.twig' %}

{% set title = 'Nai-pran' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/naip/main.js"></script>
{% endblock %}

{% block content %}
	<!-- <h1 class="title">Small Bear</h1> -->
{% endblock %}