{% extends 'layout/base.twig' %}

{% set title = 'My Solar' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/my-solar/main1.js"></script>
{% endblock %}

{% block content %}
	<h1 class="title">My Solar</h1>
{% endblock %}