<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  
  {% include 'layout/header.twig' ignore missing %}
      
      <bear class = "bear">

      <div class="bear"> 
         <a class="space1"></a>
          <img src="/images/galaxy1.jpg">
         </a>
         <a class ="cass">
          <img src="/images/pic/cassiopeia1.png">
         </a>
      </div> 

         <a class="bat">
           <h1><font face="supermarket"><font size="10">กลุ่มดาวค้างคาว</h1>
          </a>
          <a class = "bat1">มีหญิงสาวชื่อว่า พระนางแคสสิโอเปียเป็นคนชอบคุยโอ้อวดว่ตัวเองสวยกว่าเทพธิดาของโพไซดอน <br>โพไซดอนจึงส่งปีศาจไปรบกวนและลงโทษด้วยการจับอันโดรเมดา(ลูกสาว)ล่ามโซ่ไว้กับก้อนหิน<br>ที่ชายทะเล แต่ก็ได้มีเพอซีอุสมาช่วยไว้ หลังจากนั้นนางแคสซิโอจึงถูกลงโทษให้ห้อยหัวกับบัลลังค์<br>บนท้องฟ้า แต่นางก็รอดมาได้ด้วยการยอมแลกสูตรความงามกับเทพีอะโฟรดิเต้
          </a> 
          <a class="bat2">ลักษณะของกลุ่มดาว : ดาวที่สว่างสุกใสอยู่ 5 ดวง มีรูปร่างคล้ายคางคาวกำลังบิน<br>หรือคล้ายตัว W กลุ่มดาวนี้ใช้หาทิศเหนือได้ ตรงกันข้ามกับกลุ่มดาวจระเข้<br> ถ้าเห็นกลุ่มดาวค้างคาวก็จะไม่เห็นกลุ่มดาวจระเข้จะอยู่ตามแนวกึ่งกลางท้องฟ้า<br> เมื่อเวลา 3 ทุ่มในวันที่ 20 พฤศจิกายน
          </a> 
      </bear> 

      
 
 
  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
  

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>