<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  
  {% include 'layout/header.twig' ignore missing %}
      
      <bear class = "bear">

      <div class="bear">  
         <a class="space1">
          <img src="/images/galaxy1.jpg">
         </a>
      </div> 
          <a class = "big">
            <h1><font face="supermarket"><font size="10">กลุ่มดาวหมีใหญ่</h1>
          </a>
          <a class = "big1">เทพจูปีเตอร์หลงรักนางคาลลิสโตและได้แปลงร่าง
        ให้นางกลายเป็นหมีเพื่อป้องกันอันตราย<br>จากนางจูโนซึ่งเป็นมเหสีของจูปีเตอร์อยู่ก่อนแล้วแต่นางคาลลิสโตก็เกือบถูกลูกฆ่า<br>เนื่องจากไม่ทราบว่านั่นคือแม่ของตน หลังจากนั้นจูปีเตอร์จึงจับนางเหวี่ยงขึ้นไปบนท้องฟ้า<br> และแปลงร่างลูกชายเป็นหมีเล็กเอาขึ้นไปไว้บนฟ้าให้ได้อยู่ใกล้แม่ของเขาเอง
          </a> 
          <a class="big2">ลักษณะของกลุ่มดาว : ดาวกลุ่มนี้มี 7 ดวง สามารถใช้หาดาวเหนือได้ เป็นกลุ่มดาวที่มองเห็นได้ตลอดทั้งปี เช่นเดียวกับดาวเหนือแต่ในทางกลับกัน เนื่องจากเป็นกลุ่มดาวที่อยู่ในซีกฟ้าเหนือ<br>ผู้ที่อยู่อาศัยทางซีกโลกใต้มากๆ จะเห็นได้ลำบากเพราะตำแหน่งดาวบนทรงกลมท้องฟ้า<br>จะอยู่ใต้พื้นโลก</a>
      </bear>
 
  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
  

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>