	  <body class = "body">
        
        <div class="text1">
            <h1><font face="supermarket">คลิ๊กที่รูปเพื่อดูข้อมูล
            </h1></font>
        </div>
	  <div class="body-N">
        <a class="smallbear" title="กลุ่มดาวหมีเล็ก" href="/smallbear">
            <h1> <font face="supermarket">กลุ่มดาวหมีเล็ก</h1>
          <img src="/images/smallbear.png" width="200" height="200"></a> 
      </div>

      <div class="body-N">
      	<a class="bigbear" title="กลุ่มดาวหมีใหญ่" href="/bigbear">
                  <h1> <font face="supermarket">กลุ่มดาวหมีใหญ่</h1>
      		<img src="/images/bigbear.png" width="250" height="250">
      	</a>
      </div>

      <div class="body-N">
      	<a class="bat" title="กลุ่มดาวค้างคาว" href="/bat">
                  <h1> <font face="supermarket">กลุ่มดาวค้างคาว</h1>
      		<img src="/images/bat.png" width="250" height="250">
      	</a>
      </div>

      <div class="body-N">
      	<a class="nai-pran" title="กลุ่มดาวนายพราน" href="/nai-pran">
                  <h1> <font face="supermarket">กลุ่มดาวนายพราน</h1>
      		<img src="/images/nai-pran.png" width="150" height= "150">
      	</a>
      </div>

      <div class="body-N">
      	<a class="nucket" title="กลุ่มดาวลูกไก่" href="/Look-kai">
                  <h1> <font face="supermarket">กลุ่มดาวลูกไก่</h1>
      		<img src="/images/nucket.png" width="150" height="150">
      	</a>
      </div>

      <div class="body-N">
      	<a class="pegasus" title="กลุ่มดาวพีกาซัส" href="/Pigasus">
                  <h1> <font face="supermarket">กลุ่มดาวพีกาซัส</h1>
 		<img src="/images/pegasus.png" width="300" height="300">
      	</a>
      </div>

      


