	  <body class = "body">

	  <div class="body-N">
        <a class="smallbear" title="กลุ่มดาวหมีเล็ก" href="/smallbear">
          <img src="/images/smallbear.png" width="200" height="200"></a> 
      </div>

      <div class="body-N">
      	<a class="bigbear" title="กลุ่มดาวหมีใหญ่" href="/bigbear">
      		<img src="/images/bigbear.png" width="250" height="250">
      	</a>
      </div>

      <div class="body-N">
      	<a class="bat" title="กลุ่มดาวค้างคาว" href="/bat">
      		<img src="/images/bat.png" width="250" height="250">
      	</a>
      </div>

      <div class="body-N">
      	<a class="nai-pran" title="กลุ่มดาวนายพราน" href="/nai-pran">
      		<img src="/images/nai-pran.png" width="200" height="200">
      	</a>
      </div>

      <div class="body-N">
      	<a class="nucket" title="กลุ่มดาวลูกไก่" href="/Look-kai">
      		<img src="/images/nucket.png" width="150" height="150">
      	</a>
      </div>

      <div class="body-N">
      	<a class="pegasus" title="กลุ่มดาวพีกาซัส" href="/Pigasus">
      		<img src="/images/pegasus.png" width="300" height="300">
      	</a>
      </div>


