	  <body class = "body">

	  <div class="body-N">
        <a class="smallbear" href="/smallbear">
          <img src="/images/smallbear.png" width="250" height="250"></a> 
      </div>

      <div class="body-N">
      	<a class="bigbear" href="/bigbear">
      		<img src="/images/bigbear.png" width="250" height="250">
      	</a>
      </div>

      <div class="body-N">
      	<a class="bat" href="/bat">
      		<img src="/images/bat.png" width="250" height="250">
      	</a>
      </div>

      <div class="body-N">
      	<a class="nai-pran" href="/nai-pran">
      		<img src="/images/nai-pran.png" width="200" height="200">
      	</a>
      </div>

      <div class="body-N">
      	<a class="nucket" href="/Look-kai">
      		<img src="/images/nucket.png" width="300" height="300">
      	</a>
      </div>

      <div class="body-N">
      	<a class="pegasus" href="/Pigasus">
      		<img src="/images/pegasus.png" width="400" height="400">
      	</a>
      </div>


