<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

  <link rel="stylesheet" type="text/css" href="/assets/game.css">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  {% block stylesheet %}{% endblock %}
</head>
  {% include 'layout/header.twig' ignore missing %}
  {% include 'layout/picgame.twig' ignore missing %}
  {% include 'layout/picgame1.twig' ignore missing %}
  {% include 'layout/picgame2.twig' ignore missing %}
<body>
    <div class="body">
      <a class="space1"> 
        <div class="columns is-marginless">
            <div class="column highlight-item" style="height: 100vh;">
              <a class="button is-large easy-button"><font size="30">
              <font face="Supermarket"><font color="white">ง่าย </a> 

            <a class="button is-large middle-button" ><font size="30">
              <font face="Supermarket"><font color="white">ปานกลาง</a>

            <a class="button is-large hard-button"><font size="30">
              <font face="Supermarket"><font color="white">ยาก</a>        
            </div> 
        </div>
          
          <img src="/images/galaxy1.jpg">
          <h3>เลือกภาพที่อยากเล่นในโหมดข้างล่างได้เลย</h3>
      </a>
      </a>        
  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
  

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  <script src="/assets/home/icongame.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>