<footer class="footer">
  <div class="footer-left">
    <a id="rocket" class="startup" href="/our-solar-system">
  	 <img src="/images/startup.png" title="ไปหน้า solar system" width="80" height="80">
    </a>
  </div>

  <div class="footer-right">
  	<a class="degree" >
  		<img src="/images/360-degrees.png" title="สามารถหมุนได้ 360 องศา" width="60" height="60">
  	</a>
  </div>

  	<div class="footer-right">
      <a class="connect" href="/our-starline">
  		<img src="/images/connect.png" title="ปุ่มแสดงการเชื่อมดวงดาว" width="50" height="50">
    </a>
  	</div>

      <div class="footer-right">
        <a class = "connect1" href="/our-stargroup">
        <img src="/images/connect1.png" title="ปุ่มแสดงกลุ่มดาว" width="50" height="50">
        </a> 
      </div>

      <div class="footer-right">
        <a class ="teles" href="/information">
        <img src="/images/teles.png" title="ไปหน้าข้อมูลกลุ่มดาว" width="50" height="50">
        </a>
      </div>

      
 
      <<!-- div class="footer-center">
        <a class = "trian" href="#">
          <img src="/images/trian.png" width="70" height="70">
        </a>
      </div> -->
          
     <!--  <div class="dopdown">
        <button class="w3-button w3-black"> ข้อมูลเพิ่มเติม </button>
         <div class="w3-dropdown-content w3-bar-block w3-border">
         <div class="w3-dropdown-content w3-bar-block w3-border">
          <a href="#" class="w3-bar-item w3-button">Link 1</a>
          <a href="#" class="w3-bar-item w3-button">Link 2</a>
          <a href="#" class="w3-bar-item w3-button">Link 3</a> -->
      <!-- </div>
    </div>
  </div> -->
</footer>
