	<footer class="footers">
  <div class="footer-left">
    <a id="rocket" class="startup" href="/our-solar-system">
  	 <img src="/images/startup.png" width="80" height="80">
    </a>
  </div>

	<div class="footer-right">
      <a class="trian" href="/information">
      <img src="/images/trian.png" width="50" height="50">
    </a>
  </div>

  <div class="footer-left">
    <a class = "connect1s" href="/our-star">
     <img src="/images/connect1.png" width="50" height="50"> 
    </a>
  </div>
</footer>