<footer class="footer">
  <div class="footer-left">
    <a id="rocket" class="startup" href="/our-solar-system">
  	 <img src="/images/startup.png" title="ไปหน้า solar system" width="80" height="80">
    </a>
  </div>

  <div class="footer-right">
  	<a class="degree" >
  		<img src="/images/360-degrees.png" title="สามารถหมุนได้ 360 องศา" width="60" height="60">
  	</a>
  </div>

  	<div class="footer-right">
      <a class="connect" href="/our-starline">
  		<img src="/images/connect.png" title="ปุ่มแสดงการเชื่อมดวงดาว" width="50" height="50">
    </a>
  	</div>

      <div class="footer-right">
        <a class ="teles" href="/information">
        <img src="/images/teles.png" title="ไปหน้าข้อมูลกลุ่มดาว" width="50" height="50">
        </a>
      </div>
</footer>
