<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <button class="button navbar-burger" data-target="menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <img src="/images/logo.png">
      </a>
      <div class="navbar-item">
        <p class="control has-icons-right">
          <input type="text" name="keywords" class="input">
          <span class="icon is-small is-right">
            <i class="fa fa-search"></i>
          </span>
        </p>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a href="#">ลงทะเบียน</a>
      </div>
      <div class="navbar-item">
        <a href="#">i</a>
      </div>
    </div>  

  </nav>

  <div id="menu" class="navbar-menu">
    <a class="navbar-item" href="#">กลุ่มดาวจักรราศี</a>
    <a class="navbar-item" href="/solar-system">ระบบสุริยะ</a>
    <a class="navbar-item" href="#">กลึ่มดาวที่น่าสนใจ</a>
    <a class="navbar-item" href="#">ระบบสุริยะของฉัน</a>
  </div>
</header>