<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
       <button class="button navbar-burger" data-target="menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-start">
        <a class= "logo" href="/home">
          <img src="/images/logo.png" title="ไปหน้า Home" width="50" height="50">
        </a>
        <div class="navbar-item">
          <p class="control has-icons-right">
            <input type="text" name="keywords" class="input" size="50">
            <span class="icon is-small is-right">
              <i class="fa fa-search"></i>
            </span>
          </p>
        </div>
        <div class="user">
        <p class="control has-icons-left">
          <input type="text" name="keywords" class="input" size="20">
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
        </p>
      </div>
      <div class="password">
        <p class="control has-icons-left">
          <input type="password" name="keywords" class="input" size="20">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
          </p>
      </div>
    </div>

    <div class="navbar-end">
      <div class="log-in">
        <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">เข้าสู่ระบบ</a>
      </div>
        <div data-role="popup" id="myPopup" class="ui-content" style="min-width:250px;">
      <form method="post" action="/action_page_post.php">
        <div>



        
       <div class="sign-in">
        <a href="/assets/signup.html"> ลงทะเบียน </a>
      </div> 
      <div class="help">
        <a href="/help"><img src="/images/qes.png" title="คำแนะนำการใช้งานปุ่มต่างๆในเว็บ" width="50" height="50"> </a>
      </div>
    </div>


  </nav>

  <div id="menu" class="navbar-menu">
    <a class="navbar-item" href="/our-zodiac">กลุ่มดาวจักรราศี</a>
    <a class="navbar-item" href="/our-solar-system">ระบบสุริยะ</a>
    <a class="navbar-item" href="/our-star">กลุ่มดาวที่น่าสนใจ</a>
    <a class="navbar-item" href="/our-mysolar">เกมจิ๊กซอว์ระบบสุริยะของฉัน</a>
    
  </div>
</header>
