<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  
  {% include 'layout/header.twig' ignore missing %}
      
      <bear class = "bear">

      <div class="bear"> 
         <a class="space1">
          <img src="/images/galaxy1.jpg">
         </a>
      </div>    
         <a class="naip">
          <h1><font face="supermarket"><font size="10">กลุ่มดาวนายพราน</h1>
          </a>
          <a class = "naip1">โอไรอัน เป็นนายพรานหนุ่มรูปงาม บางตำนานว่าเป็นยักษ์ใหญ่ เป็นบุตรของเทพเจ้าโพไซดอน<br>เป็นพรานที่มีความสามารถ แต่มีความยโส อวดอ้างว่าฆ่าสัตว์ได้หมดโลก ทำให้พระแม่ธรณี<br>ส่งแมงป่องมาฆ่า เพื่อรักษาชีวิตสัตว์ป่าในความคุ้มครอง ทำให้เขาสิ้นใจในที่สุด แต่ธิดา<br>
          ของซุส ได้ขอให้ชุบชีวิตให้ และ มีชีวิตอมตะด้วยการเป็นดาวนั่นเอง
          </a> 
          <a class="naip2">ลักษณะของกลุ่มดาว : ในฤดูหนาวจะมองเห็นได้ยาวนาน จะมีดาวฤกษ์ทั้งหมด 8 ดวง<br>กลุ่มดาวนายพรานจะเริ่มโผล่ขึ้นมาจากขอบฟ้า ตั้งแต่เวลา 19.00 น. ทางทิศตะวันออก<br>โดยจะขึ้นแบบตะแคงข้างส่วนเวลาตกก็จะประมาณ 05.00 น. ทางทิศตะวันตก<br>ค่อนไปทางใต้เล็กน้อย</a>
          
          </a> 
      </bear>
 
  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
  

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>