<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  
  {% include 'layout/header.twig' ignore missing %}
      
      <bear class = "bear">

      <div class="bear"> 
         <a class="space1"></a>
          <img src="/images/galaxy1.jpg">
         </a>
      </div>    
         <a class="nucket">
          <h1><font face="supermarket"><font size="10">กลุ่มดาวลูกไก่</h1>
          </a>
          <a class = "nucket1">ดาวเหล่านี้เป็นเป็นตัวแทนของหญิงสาวพี่น้องแห่งไพลยาดีส ขณะที่ตำนานชาวไวกิ้งบอกว่า<br>ดาวเหล่านั้นคือแม่ไก่ทั้ง 7 ตัวของเฟรย์ยา ชื่อของกลุ่มดาวในภาษาโบราณ จะมีความหายว่า<br>แม่ไก่ กับ ลูกไก่ ซึ่งคล้ายคลึงกับตำนานของไทย
          </a> 
          <a class="nucket2">ลักษณะของกลุ่มดาว : เป็นหนึ่งในกลุ่มดาวที่อยู่ใกล้โลกมากที่สุด คนทั่วไปจะเห็นเพียง 6 ดวง<br>
            แต่ถ้าผู้เชี่ยวชาญดูบ่อยๆ นับดูจะได้ 7 ดวง แต่มีหลายร้อยดวงเป็น "กระจุกดาว" เป็นกระจุกดาว<br>
            ที่มีฤกษ์สีน้ำเงินที่มีอายุราว 100 ล้านปี นักดาราศาสตร์คาดการณ์ว่ากระจุกดาวนี้จะมีอายุ<br>
            ต่อไปอีกอย่างน้อย 250 ล้านปี หลังจากนั้นก็จะกระจัดกระจายออกไปเนื่องจากปฏิกิริยาแรงโน้มถ่วง<br>
          ที่เกิดจากดาราจักรเพื่อนบ้านใกล้เคียง</a>
          </a>
      </bear>
 
  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
  

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>