<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  
  {% include 'layout/header.twig' ignore missing %}
      
      <bear class = "bear">

      <div class="bear"> 
         <a class="space1"></a>
           <img src="/images/galaxy1.jpg">
         </a> 
         <a class ="peca">
          <img src="/images/pic/pegasus1.png">
         </a>
      </div>    
         <a class="pica">
         <h1><font face="supermarket"><font size="10">กลุ่มดาวพีกาซัส</h1>
          </a>
          <a class = "pica1"> พีกาซัสเกิดตอนที่เมดูซ่าถูกฟันคอ ต่อมาเพอเซอุสได้นำไปช่วยชีวิตเจ้าหญิงอันโดรเมดา<br>ที่ถูกตรึงติดกับก้อนหินไว้ที่ชายทะเลเพื่อให้ปีศาจร้ายอย่างซีตัสกิน เป็นการลงโทษ<br>ที่แม่ของนางอวดอ้างว่าตนสวยกว่าเทพธิดาแห่งท้องทะเล และสุดท้ายเทพซีอุส<br>ก็ช่วยชีวิตอันโดรเมดาได้สำเร็จ
          </a> 
          <a class="pica2">ลักษณะของกลุ่มดาว : กลุ่มดาวม้ามีปีก (Pegasus)กลุ่มดาวม้ามีปีกเป็นกลุ่มดาว<br>ที่สะดุดตาที่สุดอีกกลุ่มหนึ่ง มีดาวสว่าง 4 ดวง ประกอบเป็นรูปสี่เหลี่ยมเป็นรูปม้า<br>เป็นกลุ่มดาวที่ใช้บอกฤดูกาล ถ้าเห็นตั้งแต่ตอนหัวค่ำแสดงว่าฤดูหนาวจะเริ่มต้นแล้ว<br>ถ้าคืนใดอยู่กลางท้องฟ้าตรงศีรษะเมื่อเริ่มดึก แสดงว่าฤดูหนาวได้เริ่มแล้ว
          </a>       
      </bear>
 
  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
  

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>