	<hard class = "hard">

		<div class="pic.1">
		<a class= "one">
			<img src="/images/picgame/1.png">
		</a> 
		</div>

		<div class="pic.2">
		<a class= "two">
			<img src="/images/picgame/3.png">
		</a> 
		</div>
 
		<div class="pic.3">
		<a class= "three">
			<img src="/images/picgame/4.png">
		</a> 
		</div>
		
		<div class="pic.4">
		<a class= "four">
			<img src="/images/picgame/5.png">
		</a> 
		</div>
		
		<div class="pic5">
		<a class= "five">
			<img src="/images/picgame/2.png">
		</a> 
		</div>		
	


		