	<body class = "easy">

		<!-- <div class="pic one"> -->
		<a class= "one"  href ="https://www.jigsawplanet.com/?rc=play&amp;pid=2100c6b61a00&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe><img src="/images/picgame/1.png"></a> 
	
		<a class= "two" href="https://www.jigsawplanet.com/?rc=play&amp;pid=0fd6836d5433&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/3.png">
		</a> 
		

		<a class= "three" href="https://www.jigsawplanet.com/?rc=play&amp;pid=38e55f6eb2ed&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/4.png">
		</a> 
		
		
		<a class= "four" href="https://www.jigsawplanet.com/?rc=play&amp;pid=0094b89139ca&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/5.png">
		</a> 
		
		<a class= "five" href="https://www.jigsawplanet.com/?rc=play&amp;pid=28abc76234f7&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/2.png">
		</a> 
	</boby>			
	


		