	<hard class = "hard">

		
		<a class= "one" href="https://www.jigsawplanet.com/?rc=play&amp;pid=16fb354df3fb&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/1.png">
		</a> 

		<a class= "two" href="https://www.jigsawplanet.com/?rc=play&amp;pid=376f49349ac5&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/3.png" 
		</a> 
				
		<a class= "three" href= "https://www.jigsawplanet.com/?rc=play&amp;pid=07959ef21f01&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/4.png">
		</a> 
	
		<a class= "four" href="https://www.jigsawplanet.com/?rc=play&amp;pid=2f7a55014274&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/5.png">
		</a> 
		
		
		
		<a class= "five" href="https://www.jigsawplanet.com/?rc=play&amp;pid=2faaf7fff0c6&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/2.png">
		</a> 
	</hard>		
	


		