	<middle class = "middle">

		
		<a class= "one" href="https://www.jigsawplanet.com/?rc=play&amp;pid=11fab7775f7f&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/1.png">
		</a> 
		
		<a class= "two" href="https://www.jigsawplanet.com/?rc=play&amp;pid=075d056e657b&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/3.png">
		</a> 
 
		<a class= "three" href="https://www.jigsawplanet.com/?rc=play&amp;pid=184907065b8c&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/4.png" >
		</a> 
		
		<a class= "four" "https://www.jigsawplanet.com/?rc=play&amp;pid=27f10b814f96&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/5.png">
		</a> 
		
		
		
		<a class= "five" href="https://www.jigsawplanet.com/?rc=play&amp;pid=1f981ff68354&amp;view=iframe" style="width:200px;height:90px" frameborder=0 allowfullscreen></iframe>
			<img src="/images/picgame/2.png">
		</a> 
	</middle>		
	


		