	<body class = "easy">
		<a class= "one">
		<img src="/images/picgame/1.png">	 
		<!-- <iframe href = "https://www.jigsawplanet.com/?rc=play&amp;pid=2100c6b61a00&amp;authkey=c0d2439f2bc11a2971a02c79ee77285bview=iframe" 
		style="width:100%;height:600px" frameborder=0 allowfullscreen></iframe> -->
		</a>