<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  
  {% include 'layout/header.twig' ignore missing %}
      
      <bear class = "bear">

      <div class="bear"> 
         <a class="space1"></a>
          <img src="/images/galaxy1.jpg">
         </a>
         <a class ="sbear">
          <img src="/images/pic/ursaminor1.png">
         </a>
          
         <a class="small">
          <h1><font face="supermarket"><font size="10">กลุ่มดาวหมีเล็ก</h1>
          </a>
          <a class = "small1">เป็นเรื่องราวที่ต่อจากกลุ่มดาวหมีใหญ่ หลังจากที่มีกลุ่มดาวหมีใหญ่แล้ว<br>เทพจูปิเตอร์จึงส่งบุตรชายของตนขึ้นไปเช่นกันเพื่อกำจัดปัญหาต่างๆ<br>แต่ก็ไม่พ้นนางจูโนที่ทราบเรื่อง จึงทำให้หลังจากนั้นกลุ่มดาวหมีใหญ่และหมีเล็กก็ไม่ได้แตะขอบฟ้าเหมือนกลุ่มดาวอื่นๆอีกเลย<br> 
          </a> 
          <a class="small2">ลักษณะของกลุ่มดาว : ส่วนหางของหมีเล็กคือ ดาวเหนือ นั่นเอง<br>ผู้ที่อยู่อาศัยทางซีกโลกใต้มากๆ จะเห็นได้ลำบากเพราะตำแหน่งดาวบนทรงกลมท้องฟ้า<br>จะอยู่ใต้พื้นโลก</a>
      </div>
 
  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
  

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>