<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_move.css">
  {% block stylesheet %}{% endblock %}
</head>
<body style ="width: 100%;overflow:hidden;">
  <!--{% include 'layout/header.twig' ignore missing %}-->

  <header class="header" style="height:80px">
  <nav class="navbar"style="height:80px">
    <div class="navbar-brand">
       <button class="button navbar-burger" data-target="menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-start">
        <a class= "logo" href="/home">
          <img src="/images/logo.png" title="ไปหน้า Home" width="50" height="50">
        </a>
        <div class="navbar-item">
          <p class="control has-icons-right">
            <input type="text" name="keywords" class="input" size="50">
            <span class="icon is-small is-right">
              <i class="fa fa-search"></i>
            </span>
          </p>
        </div>
        <div class="user">
        <p class="control has-icons-left">
          <input type="text" name="keywords" class="input" size="20">
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
        </p>
      </div>
      <div class="password">
        <p class="control has-icons-left">
          <input type="password" name="keywords" class="input" size="20">
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
          </p>
      </div>
    </div>

    <div class="navbar-end">
      <div class="log-in">
        <a href="/home">เข้าสู่ระบบ</a>
      </div>

       <div class="sign-in">
        <a href="/assets/signup.html">ลงทะเบียน </a>
      </div> 
      <div class="help">
        <a href="/help"><img src="/images/qes.png" title="คำแนะนำการใช้งานปุ่มต่างๆในเว็บ" width="50" height="50"> </a>
      </div>
    </div>
    
  </nav>

  <div id="menu" class="navbar-menu">
    <a class="navbar-item" href="/our-zodiac">กลุ่มดาวจักรราศี</a>
    <a class="navbar-item" href="/our-solar-system">ระบบสุริยะ</a>
    <a class="navbar-item" href="/our-star">กลุ่มดาวที่น่าสนใจ</a>
    <a class="navbar-item" href="/our-mysolar">เกมจิ๊กซอว์ระบบสุริยะ</a>
  </div>
  </header>
      
  <section class="section" style="background-image: url(/images/galaxy1.jpg);width: 100%;height: 100%;overflow:hidden;position:absolute;">
    <main>
      <div>
        <div class="MoveNeptune">
            <img src="/images/toon_neptune.png" title="ดาวเนปจูน" style="width: 4%; height: auto;" data-toggle="modal" data-target="#ModalNeptune">
        </div>
        <div class="MoveUranus">
            <img src="/images/toon_uranus.png" title="ดาวยูเรนัส" style="width: 5%; height: auto;" data-toggle="modal" data-target="#ModalUranus">
        </div>
        <div class="MoveSaturn">
            <img src="/images/toon_saturn.png" title="ดาวเสาร์" style="width: 9%; height: auto;" data-toggle="modal" data-target="#ModalSaturn">
        </div>
        <div class="MoveJupiter">
            <img src="/images/toon_jupiter.png" title="ดาวพฤหัสบดี" style="width: 10%; height: auto;" data-toggle="modal" data-target="#ModalJupiter">
        </div>
        <div class="MoveMars">
            <img src="/images/toon_mars.png" title="ดาวอังคาร" style="width: 5%; height: auto;" data-toggle="modal" data-target="#ModalMars">
        </div>
        <div class="MoveEarth">
            <img src="/images/toon_earth.png" title="ดาวโลก" style="width: 7%; height: auto;" data-toggle="modal" data-target="#ModalEarth">
        </div>
        <div class="MoveVenus">
            <img src="/images/toon_venus.png" title="ดาวศุกร์" style="width: 10%; height: auto;" data-toggle="modal" data-target="#ModalVenus">
        </div>
        <div class="MoveMercury">
            <img src="/images/toon_mercury.png" title="ดาวพุธ" style="width: 10%; height: auto;" data-toggle="modal" data-target="#ModalMercury">
        </div>
        <div class="StaticSun">
            <img src="/images/toon_sun3.png" title="ดวงอาทิตย์" style="width: 100%; height: auto;" data-toggle="modal" data-target="#ModalSun">
        </div>
      </div>

      <div class="modal fade" id="ModalNeptune" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ดาวเนปจูน (Neptune)</h4>
            </div>
          <div class="modal-body">
            <p>ลำดับในระบบสุริยะ: 8<br>
                ประเภท: ดาวเคราะห์แก๊ส<br>
                รัศมี: 24,764 กิโลเมตร<br>
                จำนวนดาวบริวาร: 13 ดวง<br>
                จำนวนวงแหวน: 6 วง<br> 
                ระยะห่างจากดวงอาทิตย์: 4,498 ล้านกิโลเมตร<br>
                ระยะเวลาที่หมุนรอบตัวเอง: 16.11 ชั่วโมง<br> 
                ระยะเวลาที่โคจรรอบดวงอาทิตย์: 164.8 ปี<br>  
                จุดเด่น: ค้นพบจากการคำนวณโดยนักคณิตศาสตร์<br></p>
          </div>
          <div class="modal-footer">
            <a href="/our-solar-system/neptune" class="btn btn-info" role="button">See More</a>
          </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalUranus" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ดาวยูเรนัส (Uranus)</h4>
            </div>
          <div class="modal-body">
            <p>ลำดับในระบบสุริยะ: 7<br>
                ประเภท: ดาวเคราะห์แก๊ส<br>
                รัศมี: 25,559 กิโลเมตร<br>
                จำนวนดาวบริวาร: 27 ดวง<br>
                จำนวนวงแหวน: 13 วง<br>
                ระยะห่างจากดวงอาทิตย์: 2,870 ล้านกิโลเมตร<br>
                ระยะเวลาที่หมุนรอบตัวเอง: 17.24 ชั่วโมง<br>
                ระยะเวลาที่โคจรรอบดวงอาทิตย์: 80 ปี<br>  
                จุดเด่น: หมุนรอบตัวเองในแนวตะแคง และมีวงแหวนอยู่ในแนวตั้ง<br></p>
          </div>
          <div class="modal-footer">
            <a href="/our-solar-system/uranus" class="btn btn-info" role="button">See More</a>
          </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalSaturn" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ดาวเสาร์ (Saturn)</h4>
            </div>
          <div class="modal-body">
            <p>ลำดับในระบบสุริยะ: 6<br>
                ประเภท: ดาวเคราะห์แก๊ส<br>
                รัศมี: 60,268 กิโลเมตร<br>
                จำนวนดาวบริวาร: 62 ดวง<br>
                จำนวนวงแหวน: 7 วง<br> 
                ระยะห่างจากดวงอาทิตย์: 1,427 ล้านกิโลเมตร<br>
                ระยะเวลาที่หมุนรอบตัวเอง: 10.66 ชั่วโมง<br>
                ระยะเวลาที่โคจรรอบดวงอาทิตย์: 29.4 ปี<br>   
                จุดเด่น: มีวงแหวนชัดเจน<br></p>
          </div>
          <div class="modal-footer">
            <a href="/our-solar-system/saturn" class="btn btn-info" role="button">See More</a>
          </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalJupiter" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ดาวพฤหัส (Jupiter)</h4>
            </div>
          <div class="modal-body">
            <p>ลำดับในระบบสุริยะ: 5<br>
                ประเภท: ดาวเคราะห์แก๊ส<br>
                รัศมี: 71,492 กิโลเมตร<br>
                จำนวนดาวบริวาร: 62 ดวง<br>
                จำนวนวงแหวน: 3 วง<br> 
                ระยะห่างจากดวงอาทิตย์: 778.41 ล้านกิโลเมตร<br>
                ระยะเวลาที่หมุนรอบตัวเอง: 9.92 ชั่วโมง<br> 
                ระยะเวลาที่โคจรรอบดวงอาทิตย์: 11.86 ปี<br>  
                ฉายา: ดาวเคราะห์ยักษ์<br></p>
          </div>
          <div class="modal-footer">
            <a href="/our-solar-system/jupiter" class="btn btn-info" role="button">See More</a>
          </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalMars" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ดาวอังคาร (Mars)</h4>
            </div>
          <div class="modal-body">
            <p>ลำดับในระบบสุริยะ: 4<br>
                ประเภท: ดาวเคราะห์หิน<br>
                รัศมี: 3,397 กิโลเมตร<br>
                จำนวนดาวบริวาร: 2<br>       
                ระยะห่างจากดวงอาทิตย์: 227.94 ล้านกิโลเมตร<br>       
                ระยะเวลาที่หมุนรอบตัวเอง: 24.62 วัน<br>             
                ระยะเวลาที่โคจรรอบดวงอาทิตย์: 1.88 ปี (687 วัน)<br>  
                ฉายา: ดาวเคราะห์สีแดง<br></p>
          </div>
          <div class="modal-footer">
            <a href="/our-solar-system/mars" class="btn btn-info" role="button">See More</a>
          </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalEarth" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">โลก (Earth)</h4>
            </div>
          <div class="modal-body">
            <p>ลำดับในระบบสุริยะ: 3<br>
                ประเภท: ดาวเคราะห์หิน<br>
                รัศมี: 6,378 กิโลเมตร<br>
                จำนวนดาวบริวาร: 1 ดวง<br>
                ระยะห่างจากดวงอาทิตย์: 149.60 ล้านกิโลเมตร<br>
                ระยะเวลาที่หมุนรอบตัวเอง: 23 ชั่วโมง 56 นาที 4.1 วินาที<br>
                ระยะเวลาที่โคจรรอบดวงอาทิตย์: 365.26 วัน<br> 
                จุดเด่น: มีสภาวะแวดล้อมเอื้ออำนวยต่อการดำรงชีวิตของสิ่งมีชีวิต<br></p>
          </div>
          <div class="modal-footer">
            <a href="/our-solar-system/earth" class="btn btn-info" role="button">See More</a>
          </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalVenus" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ดาวศุกร์ (Venus)</h4>
            </div>
          <div class="modal-body">
            <p>ลำดับในระบบสุริยะ: 2<br>
                ประเภท: ดาวเคราะห์หิน<br>
                รัศมี: 6,052 กิโลเมตร<br>
                จำนวนดาวบริวาร: ไม่มี<br>
                ระยะห่างจากดวงอาทิตย์: 108.21 ล้านกิโลเมตร<br>
                ระยะเวลาที่หมุนรอบตัวเอง: 243.02 วัน<br>
                ระยะเวลาที่โคจรรอบดวงอาทิตย์: 224.70 วัน<br>
                ฉายา: ฝาแฝดของโลก<br></p>
          </div>
          <div class="modal-footer">
            <a href="/our-solar-system/venus" class="btn btn-info" role="button">See More</a>
          </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalMercury" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ดาวพุธ (Mercury)</h4>
            </div>
          <div class="modal-body">
            <p>ลำดับในระบบสุริยะ: 1<br>
                ประเภท: ดาวเคราะห์หิน<br>
                รัศมี: 2,440 กิโลเมตร<br>
                จำนวนดาวบริวาร: ไม่มี<br>
                ระยะห่างจากดวงอาทิตย์: 57.91 ล้านกิโลเมตร<br>
                ระยะเวลาที่หมุนรอบตัวเอง: 58.65 วัน<br>
                ระยะเวลาที่โคจรรอบดวงอาทิตย์: 87.97 วัน<br>
                ฉายา: เตาไฟแช่แข็ง<br></p>
          </div>
          <div class="modal-footer">
            <a href="/our-solar-system/mercury" class="btn btn-info" role="button">See More</a>
          </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ModalSun" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ดวงอาทิตย์ (Sun)</h4>
            </div>
          <div class="modal-body">
            <p>เป็นศูนย์กลางของระบบสุริยะ<br>
                ประเภท: ดาวฤกษ์<br>
                รัศมี: 696,000 กิโลเมตร<br>
                จำนวนดาวบริวาร: 8 ดวง<br>
                ระยะเวลาที่หมุนรอบตัวเอง: 25 วัน<br></p>
          </div>
          <div class="modal-footer">
            <a href="/our-solar-system/sun" class="btn btn-info" role="button">See More</a>
          </div>
          </div>
        </div>
      </div>

    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>