<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/planet_moveVer2.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
      
  <section class="section" style="background-image: url(/images/galaxy1.jpg);width: 100%;height: 100vh;position:absolute;">
    <main>
      <div>
        <div class="MoveNeptune">
            <a href="/our-solar-system/short_neptune">
              <img src="/images/toon_neptune.png" title="ดาวเนปจูน" style="width: 4%; height: auto;">
            </a>
          </div>
        <div class="MoveUranus">
          <a href="/our-solar-system/short_uranus">
            <img src="/images/toon_uranus.png" title="ดาวยูเรนัส" style="width: 5%; height: auto;">
          </a>
        </div>
        <div class="MoveSaturn">
          <a href="/our-solar-system/short_saturn">
            <img src="/images/toon_saturn.png" title="ดาวเสาร์" style="width: 9%; height: auto;">
          </a>
        </div>
        <div class="MoveJupiter">
          <a href="/our-solar-system/short_jupiter">
            <img src="/images/toon_jupiter.png" title="ดาวพฤหัสบดี" style="width: 10%; height: auto;">
          </a>
        </div>
        <div class="MoveMars">
          <a href="/our-solar-system/short_mars">
            <img src="/images/toon_mars.png" title="ดาวอังคาร" style="width: 5%; height: auto;">
          </a>
        </div>
        <div class="MoveEarth">
          <a href="/our-solar-system/short_earth">
            <img src="/images/toon_earth.png" title="ดาวโลก" style="width: 7%; height: auto;">
          </a>
        </div>
        <div class="MoveVenus">
          <a href="/our-solar-system/short_venus">
            <img src="/images/toon_venus.png" title="ดาวศุกร์" style="width: 10%; height: auto;">
          </a>
        </div>
        <div class="MoveMercury" >
          <a href="/our-solar-system/short_mercury">
            <img src="/images/toon_mercury.png" title="ดาวพุธ" style="width: 10%; height: auto;">
          </a>
        </div>
        <div class="StaticSun">
          <a href="/our-solar-system/short_sun">
            <img src="/images/toon_sun.png" title="ดวงอาทิตย์" style="width: 100%; height: auto;">
          </a>
        </div>
      </div>
    </main> 
  </section>

  {% block content %}{% endblock %}
  {% include 'layout/footer_gotozodiac.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}
</body>
</html>