<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title ?: 'Default title' }}</title>

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/home/zodiac.css">
  {% block stylesheet %}{% endblock %}
</head>
<body>
  {% include 'layout/header.twig' ignore missing %}
        <section class="panorama">
    <a-scene>
      <a-assets>
      <img id="panorama" src="/images/galaxy1.jpg" crossorigin />
    </a-assets>
      <a-sky src="#panorama" rotation="0 -360 0"></a-sky>
    </a-scene>
      
  </section>
  {% block content %}{% endblock %}
  {% include 'layout/footer.twig' ignore missing %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/assets/main.js"></script>
  
  {% block javascript %}{% endblock %}


<div class="container">
  <!-- Modal -->
  <!-- Trigger the modal with a button -->
  <div class= "one"  data-toggle="modal" data-target="#myModal" style="width:70px;"><img src="/images/1.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีเมษ (Aries)</h4>
        </div>
        <div class="modal-body">
          <p> มีสัญลักษณ์เป็นแกะ บ้างก็ว่าเมื่อครั้งที่ยักษ์ไทฟอนไล่ล่าเหล่าเทพ เทพซุสได้แปลงร่างเป็นแกะเพื่อหลบหนี บ้างก็ว่าเทพซุสส่งแกะตัวนี้ไปช่วยเหลือโอรสธิดาฝาแฝดของราชาเทสซาลี ซึ่งถูกแม่เลี้ยงทารุณกรรม แต่ขณะที่พาหนีอยู่นั้นแกะบินสูงเกินไป ธิดาของราชาเทสซาลีจึงตกลงมาตาย โอรสแห่งเทสซาลีจึงฆ่าแกะนั้นและนำหนังแกะซึ่งเป็นทองคำไปถวายแด่ราชาอาเอเดส </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal-2 -->

  <!-- Trigger the modal with a button -->
  <div  class="two is-paddingless" data-toggle="modal" data-target="#myModal2" style="width:70px;"><img src="/images/2.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีพฤษภ (Taurus)</h4>
        </div>
        <div class="modal-body">
          <p>ตำนานกรีกเล่าว่า เทพซุสหลงรักสาวงามนามยูโรปาซึ่งเป็นคนที่ชื่นชอบวัวมาก พระองค์จึงแปลงกายเป็นวัวสีขาวราวหิมะเพื่อมาลักพาตัวนางโดยหลอกล่อให้นางขึ้นขี่หลัง จากนั้นจึงออกวิ่งข้ามน้ำข้ามทะเลโดยไม่ยอมให้นางลงจากหลัง ซึ่งกลุ่มดาวราศีพฤกษภคือรูปร่างของซุสยามแปลงกลายเป็นวัวซึ่งซุสสร้างไว้เป็นที่ระลึกนั่นเอง
</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-3 -->

  <!-- Trigger the modal with a button -->
  <div class="tree is-paddingless"  data-toggle="modal" data-target="#myModal3" style="width:70px;"><img src="/images/3.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีเมถุน (Gemini)</h4>
        </div>
        <div class="modal-body">
          <p>เป็นกลุ่มดาวรูปคนคู่หรือฝาแฝด โดยทั้งสองมีชื่อว่าคาสเตอร์และพอลลักซ์ ตำนานเล่าว่าทั้งสองคนก่อเหตุทะเลาะวิวาทเนื่องจากเมาสุราจนคาสเตอร์ตายพอลลักซ์เสียใจมากจึงอ้อนวอนเทพเจ้าให้แบ่งชีวิตของตนให้กับคาสเตอร์ จากนั้นทั้งสองจึงต้องอยู่บนสวรรค์1วันสลับอยู่ในดินแดนแห่งความตาย1วัน ต่อมาเทพซุสเห็นในมิตรภาพและความรักจึงสร้างกลุ่มดาวเมถุนขึ้นมา</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-4 -->

  <!-- Trigger the modal with a button -->
  <div class="four is-paddingless"  data-toggle="modal" data-target="#myModal4" style="width:70px;"><img src="/images/4.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีกรกฎ (Cancer)</h4>
        </div>
        <div class="modal-body">
          <p>สัญลักษณ์คือปู ตำนานกล่าวว่า ปูยักษ์ตัวนี้เป็นเพื่อนกับงูไฮดรา เมื่อเฮอร์คิวลิสต่อสูกับไฮดราปูจึงพยายามช่วยโดยหนีบขา      เฮอร์คิวลิสไว้ แต่กลับถูกเฮอร์คิวลิสเหยียบจนตาย เทพีเฮร่าเห็นจึงเกิดความประทับใจในความรักเพื่อนของปูยักษ์ ประกอบกับพระองค์ทรงไม่ชอบเฮอร์คิวลิสเป็นทุนเดิม เทพีเฮร่าจึงให้ปูยักษ์ไปเป็นหมู่ดาวบนฟากฟ้า</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-5 -->

  <!-- Trigger the modal with a button -->
  <div class="five is-paddingless"  data-toggle="modal" data-target="#myModal5" style="width:70px;"><img src="/images/5.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีสิงห์ (Leo)</h4>
        </div>
        <div class="modal-body">
          <p>สัญลักษณ์คือสิงโต เป็นสิงโตตัวใหญ่ นิสัยดุร้ายชอบกินผู้คนเป็นอาหาร อีกทั้งมีผิวกายแข็งแกร่งฟันแทงไม่เข้า พระราชาจึงสั่งให้เฮอร์คิวลิสมาปราบ ซึ่งเขาได้บีบคอมันจนตาย จากนั้นจึงถลกหนังมาทำเป็นเกราะคุ้มกัน เทพีเฮร่าให้สิงโตตัวนี้ขึ้นไปเป็นหมู่ดาวบนฟากฟ้าเนื่องจากชอบใจที่มันสร้างอุปสรรคให้แก่เฮอร์คิวลิส</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-6 -->

  <!-- Trigger the modal with a button -->
  <div class="six is-paddingless"  data-toggle="modal" data-target="#myModal6" style="width:70px;"><img src="/images/6.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีกันย์ (Virgo)</h4>
        </div>
        <div class="modal-body">
          <p>สัญลักษณ์คือหญิงพรหมจรรย์ ตำนานเล่าว่าโลกยุคแรกเต็มไปด้วยความสงบสุข เหล่าเทพจึงพากันมาอยู่บนโลก แต่ต่อมามนุษย์รบราฆ่าฟันกัน เหล่าเทพทนไม่ไหวจึงขึ้นไปอยู่บนสวรรค์ เหลือเพียงเทพีแอสเตรีย เทพีแห่งความยุติธรรมที่เฝ้าอดทนสั่งสอนมนุษย์ให้อยู่ในความดี แต่เมื่อความยุติธรรมหายไปจากโลก พระองค์จึงขึ้นไปอยู่บนฟากฟ้าในฐานะหญิงพรหมจารี</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-7 -->

  <!-- Trigger the modal with a button -->
  <div class="seven is-paddingless"  data-toggle="modal" data-target="#myModal7" style="width:70px;"><img src="/images/7.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีตุลย์ (Libra)</h4>
        </div>
        <div class="modal-body">
          <p>เป็นกลุ่มดาวจักรราศีที่7 สัญลักษณ์คือคันชั่งซึ่งเป็นเครื่องมือที่เทพธิดาแห่งความยุติธรรม หรือเทพีแอสเตรียใช้วัดความเที่ยงธรรมในโลกมนุษย์ กลุ่มดาวราศีตุลย์แตกต่างจากดาวในจักรราศีต่างๆ เนื่องจากคันชั้งเป็นของใช้ ไม่มีชีวิต ในขณะที่สัญลักษณ์ของกลุ่มดาวจักรราศีอื่นๆ เป็นสิ่งมีชีวิต อีกทั้งกลุ่มดาวคันชั่งยังเป็นกลุ่มดาวที่ไม่โดดเด่น เนื่องจากไม่สว่างมากนัก</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-8 -->

  <!-- Trigger the modal with a button -->
  <div class="eight is-paddingless"  data-toggle="modal" data-target="#myModal8" style="width:70px;"><img src="/images/8.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal8" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีพิจิก (Scorpio)</h4>
        </div>
        <div class="modal-body">
          <p>สัญลักษณ์คือแมงป่อง โดยมีตำนานเล่าว่ามีนายพรานคนหนึ่งชื่อโอริออน เขาอวดอ้างว่าตนเป็นผู้เก่งกาจกว่าใคร สร้างความไม่พอใจให้แก่หมู่เทพเป็นอย่างมาก หมู่เทพจึงเรียกแมงป่องตัวหนึ่งไปจัดการโอริออน โอริออนถูกพิษจากหางของแมงป่องถึงแก่ความตาย เพื่อเป็นเกียรติแก่แมงป่องที่ทำภารกิจสำเร็จแมงป่องจึงถูกยกย่องให้เป็นหมู่ดาว</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-9 -->

  <!-- Trigger the modal with a button -->
  <div class="nine is-paddingless"  data-toggle="modal" data-target="#myModal9" style="width:70px;"><img src="/images/9.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal9" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีธนู (Sagittarius)</h4>
        </div>
        <div class="modal-body">
          <p>สัญลักษณ์คือเซนทอร์กำลังยิงธนู ซึ่งก็คือเครอน เขาเป็นผู้เก่งกาจมาก เชี่ยวชาญทั้งการแพทย์ การดนตรี การพยากรณ์ และการล่าสัตว์ จึงมีลูกศิษย์มากมาย หนึ่งในนั้นคือเฮอร์คิวลิส เครอนมีชีวิตเป็นอมตะ แต่เมื่อครั้งที่เฮอร์คิวลิสทะเลาะวิวาทกับเซนทอร์เกิดยิงธนูพลาดไปถูกเครอนเข้า(ซวยไป -*-) เครอนได้รับความทรมานมากแต่ไม่ตาย จึงยกความเป็นอมตะให้ผู้อื่นและสิ้นใจกลายเป็นหมู่ดาวราศีธนู
</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-10 -->

  <!-- Trigger the modal with a button -->
  <div class="ten is-paddingless"  data-toggle="modal" data-target="#myModal10" style="width:70px;"><img src="/images/10.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal10" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีมังกร (Capricorn)</h4>
        </div>
        <div class="modal-body">
          <p>ชาวกรีกโบราณหรือชนชาติแถบยุโรปเชื่อว่ามังกรเป็นสัตว์ในเทพนิยายซึ่งแต่เดิมมีรูปร่างเป็นแพะ มีตำนานเล่าว่าเทพประจำราศีมังกรคือเทพเจ้าแพนซึ่งมีรูปร่างคล้ายแพะ อยู่มาวันหนึ่งยักษ์ไทฟอนจะเข้ามาทำร้ายเทพเจ้าแพน พระองค์จึงกระโดดหนีลงน้ำ แต่ว่ายน้ำหนีไม่ทัน เทพซุสจึงช่วยแปลงร่างให้พระองค์มีหางเป็นปลา และเรียกชื่อใหม่ว่าแพะทะเลหรือมังกร
</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-11 -->

  <!-- Trigger the modal with a button -->
  <div class="eleven is-paddingless"  data-toggle="modal" data-target="#myModal11" style="width:70px;"><img src="/images/11.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal11" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีกุมภ์ (Aquarius)
</h4>
        </div>
        <div class="modal-body">
          <p>เป็นกลุ่มดาวจักรราศีที่11 สัญลักษณ์คือชายถือคนโทใส่น้ำ ชายคนที่ว่าคือแกนิมิด โอรสรูปงามแห่งกษัตริย์เมืองทรอยโดยมีตำนานเล่าว่า เมื่อครั้งที่เทพซุสเดินทางมายังโลกมนุษย์ เขาได้หลงรักแกนิมิด(ชาวกรีกโบราณถือว่าชายรักชายเป็นเรื่องปกติ OoO!!!) ซุสจึงแปลงกายเป็นนกยักษ์แล้วลักพาตัวแกนิมิดไปอยู่ด้วย โดยให้เขามีหน้าที่แบกคนโทใส่น้ำให้แก่เหล่าเทพและกลายเป็นกลุ่มดาวราศีกุมภ์เมื่อเสียชีวิต</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal-12 -->

  <!-- Trigger the modal with a button -->
  <div class="twelve is-paddingless"  data-toggle="modal" data-target="#myModal12" style="width:70px;"><img src="/images/12.png" width="70" height="70"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal12" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ราศีมีน (Pisces)</h4>
        </div>
        <div class="modal-body">
          <p>ราศีมีนเป็นกลุ่มดาวจักรราศีกลุ่มสุดท้าย สัญลักษณ์คือปลาคู่ ตำนานกรีกกล่าวว่าปลาทั้งสองคือเทพีอโฟรไดท์และบุตรชายชื่ออีรอส ทั้งสองแปลงร่างเป็นปลาและกระโดลงไปในแม่น้ำยูเฟรตีสเพื่อหนีจากยักษ์ไทฟอน โดยใช้เชือกผูกกันไว้ไม่ให้แยกจากกัน แต่ตำนานโรมันกล่าวว่า ปลาทั้งสองตัวเป็นสัญลักษณ์ของฝูงปลาที่นำอโฟรไดท์และอีรอสหนียักษ์ไทฟอนไปอย่างปลอดภัย</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>




