{% extends 'layout/smallb.twig' %}

{% set title = 'Small Bear' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/smallb/main.js"></script>
{% endblock %}

{% block content %}
	<!-- <h1 class="title">Small Bear</h1> -->
{% endblock %}