.one  { 
	position: absolute; 
	left: 510px;
	top: 100px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.two {
	position: absolute;
	left: 650px;
	top: 120px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.tree {
	position: absolute;
	left: 760px;
	bottom: -200px;
	z-index: 99;
	width: 100%;
	height: 100%;
}


.four {
	position: absolute;
	left: 800px;
	top: 340px;
	z-index: 99;
	width: 100%;
	height: 100%;
}


.five {
	position: absolute;
	left: 760px;
	top: 480px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.six {
	position: absolute;
	left: 650px;
	top: 580px;
	z-index: 99;
	width: 100%;
	height: 100%;
}


.seven {
	position: absolute;
	left: 510px;
	top: 620px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.eight {
	position: absolute;
	left: 370px;
	top: 590px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.nine {
	position: absolute;
	left: 280px;
	top: 480px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.ten {
	position: absolute;
	left: 240px;
	top: 340px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.eleven {
	position: absolute;
	left: 270px;
	top: 210px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

.twelve {
	position: absolute;
	left:370px;
	top: 120px;
	z-index: 99;
	width: 100%;
	height: 100%;
}

