{% extends 'layout/nucket.twig' %}

{% set title = 'Look-kai' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
  <script src="/assets/nucket/main.js"></script>
{% endblock %}

{% block content %}
	<!-- <h1 class="title">Small Bear</h1> -->
{% endblock %}